<div class="full-grid-demo">
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
  <div class="full-grid-demo__item">
    <div class="full-grid-demo__sub-item"></div>
  </div>
</div>
