/* // .menu--footer ul.menu {
//   text-align: center;
//   margin-top: 1rem;
//   padding-left: 0;
//   @include media-breakpoint-up(lg) {
//     margin-top: 0;
//   }
//   li {
//     display: inline-block;
//     margin-left: .5rem;
//     a {
//       color: $theme-gray;
//     }
//   }
// } */

.menu--footer ul.menu {
	text-align: center;
	margin-top: 1rem;
	padding-left: 0;
}

.menu--footer ul.menu li {
	display: inline-block;
	margin-left: .5rem;
}

.menu--footer ul.menu li a {
	/* color: #607d8b; */
	@apply text-gray-500;
}