ul.sf-menu.sf-style-none {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}

ul.sf-menu.sf-style-none.sf-navbar {
  width: 100%;
}

ul.sf-menu.sf-style-none ul {
  margin: 0;
  padding: 0;
}

ul.sf-menu.sf-style-none a,
ul.sf-menu.sf-style-none a:visited,
ul.sf-menu.sf-style-none span.nolink {
  border: 0 none;
  color: #13a;
  padding: 0.75em 1em;
}

ul.sf-menu.sf-style-none a.sf-with-ul,
ul.sf-menu.sf-style-none span.nolink.sf-with-ul {
  padding-right: 2.25em;
}

ul.sf-menu.sf-style-none.rtl a.sf-with-ul,
ul.sf-menu.sf-style-none.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

ul.sf-menu.sf-style-none span.sf-description {
  color: #13a;
  display: block;
  font-size: smaller;
  line-height: 1.5;
  margin: 0.25em 0 0 0;
  padding: 0;
}

ul.sf-menu.sf-style-none li,
ul.sf-menu.sf-style-none.sf-navbar {
  background: #bdd2ff;
}

ul.sf-menu.sf-style-none li li,
ul.sf-menu.sf-style-none.sf-navbar > li > ul {
  background: #aabde6;
}

ul.sf-menu.sf-style-none li li li {
  background: #9aaedb;
}

ul.sf-menu.sf-style-none li:hover,
ul.sf-menu.sf-style-none li.sfHover,
ul.sf-menu.sf-style-none a:focus,
ul.sf-menu.sf-style-none a:hover,
ul.sf-menu.sf-style-none span.nolink:hover {
  background: #cfdeff;
  outline: 0;
}

div.sf-accordion-toggle.sf-style-none a {
  background: #bdd2ff;
  color: #13a;
  display: inline-block;
  font-weight: bold;
  padding: 1em 3em 1em 1em;
  position: relative;
}

div.sf-accordion-toggle.sf-style-none > a:after {
  content: '≡';
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  speak: none;
}

div.sf-accordion-toggle.sf-style-none a.sf-expanded,
ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded {
  background: #cfdeff;
}

div.sf-accordion-toggle.sf-style-none a.sf-expanded,
ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > a,
ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}

ul.sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}

ul.sf-menu.sf-style-none.sf-accordion li li a,
ul.sf-menu.sf-style-none.sf-accordion li li span.nolink {
  padding-left: 2em;
}

ul.sf-menu.sf-style-none.sf-accordion li li li a,
ul.sf-menu.sf-style-none.sf-accordion li li li span.nolink {
  padding-left: 3em;
}

ul.sf-menu.sf-style-none.sf-accordion li li li li a,
ul.sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}

ul.sf-menu.sf-style-none.sf-accordion li li li li li a,
ul.sf-menu.sf-style-none.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}

ul.sf-menu.sf-style-none.rtl.sf-accordion li li a,
ul.sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}

ul.sf-menu.sf-style-none.rtl.sf-accordion li li li a,
ul.sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}

ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li a,
ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}

ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li a,
ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}

ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol,
ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol li {
  margin: 0;
  padding: 0;
}

ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper a.menuparent,
ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper span.nolink.menuparent {
  font-weight: bold;
}
