{% set navbar = {
  navbar_brand_link: base_url == '' ? '/' : base_url,
  navbar_brand_text: config.site.title,
  navbar_other_classes: [
    'navbar',
    'navbar-expand-lg',
    'navbar-dark',
    'bg-dark',
  ],
  navbar_id: 'navbarSupportedContent',
  navbar_arialebelledby: 'particle-main-navigation',
} %}

{% embed '@organisms/navbar/_navbar.twig' with navbar %}
  {% block navbar_content %}

  <div class="collapse navbar-collapse" id="{{ navbar_id }}">
    {% embed '@molecules/nav/_nav.twig' with {
      nav_element: 'ul',
      nav_other_classes: 'navbar-nav mr-auto',
    } %}
      {% block nav_items %}
        {% for page in pages.children.visible %}
          {% set js_attributes = [
            'id="' ~ page.menu|lower ~ '-tab"',
            'data-toggle="tab"',
            'role="tab"',
            'aria-controls="' ~ page.menu|lower ~ '"',
          ] | sort | join(' ') | trim %}
          {% set nav_item_aria = (page.active or page.activeChild) ? 'aria-selected="true"' : 'aria-selected="false"' %}
          {% set nav_item_classes = [
            'nav-item',
          ] %}

          {% include '@molecules/nav/_nav-item.twig' with {
            nav_item_element: 'li',
            nav_item_classes: nav_item_classes,
            nav_item_link: page.url,
            js_attributes: js_attributes,
            nav_item_text: page.menu,
          } %}

        {% endfor %}
      {% endblock nav_items %}
    {% endembed %}

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      {% include '@atoms/button/_button.twig' with {
        button_color: 'primary',
        button_outline: true,
        button_other_classes: 'my-2 my-sm-0',
        button_type: 'submit',
        button_text: 'Search'
      } %}
    </form>
  </div>

  {% endblock navbar_content %}
{% endembed %}
