/**
 * Stylesheet: Main Stylesheet
 *
 */

// Start libs

// Grid system, https://github.com/at-import/Singularity
@import '../bower_components/singularity/stylesheets/singularitygs';

// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import '../bower_components/breakpoint-sass/stylesheets/breakpoint';

// Helpful mixins, http://bourbon.io/docs/
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

// End libs

// Setup and variables, our first custom file
@import '99-imports/00-config';

// Mixins and mechanisms (non printing)
@import '99-imports/10-base';

// Vendor css converted to scss, vendor imports of printing bower
@import '99-imports/20-vendor';

// Global elements, first project printing css
@import '99-imports/30-global';

// All the molecules and organisms (and atoms like "buttons")
@import '99-imports/40-components';

// Big layout decisions
@import '99-imports/50-templates';

// Custom pages overrides, one-offs
@import '99-imports/60-pages';

