{% extends "block.html.twig" %}
{#
/**
 * @file Card Grid!
 * Implements a grid of cards using Bootstrap layout.
 *
 * Available variables:
 */
 *
 * This template pulls in the variables to add to the cards.
 * References the block--utc-card-base.html.twig to create the individual cards in this grid.
#}

{% block content %}
  {% set rendered_content = content|render %}
  {# Sets variable to trigger content render array. #}
  {% set card_color = content.field_card_color|field_value|render %}
  {% set text_alignment = content.field_card_content_alignment|field_value|render %}
  {% set card_count = content["#block_content"].field_card_count.0.value %}
  {% set card_width = content.field_single_card_width|field_value|render %}
  {% set card_type = content["#block_content"].field_card_type.0.value %}
  {% if card_type == 'wide' %}
    {% set card_img_fill = content.field_card_image_fill[0]|render == 'On' ? 'utc-card-2--img-no-fill' %}
  {% endif %}

  {# set variables for card content based on Drupal input #}

  {% set item_card_1_alone = {
    card_link: content.field_card_link.0['#url'],
    card_title: content.field_card_title|field_value,
    card_image: content.field_card_image|field_value,
    card_icon: content.field_card_icon|field_value,
    card_icon_color: content.field_card_icon_color|field_value|render,
    card_text: content.field_card_body|field_value,
    card_button_text: content.field_card_button.0['#title'],
    card_button_url: content.field_card_button.0['#url'],
    card_button_target: content.field_card_button_target[0]|render == 'On' ? '_blank',
    card_link_target: content.field_card_link_target[0]|render == 'On' ? '_blank',
  } %}

  {% set item_card_1 = {
    card_placeholder: content.field_card_1_placeholder[0]|render == 'On' ? 'Off',
    card_link: content.field_card_link.0['#url'],
    card_title: content.field_card_title|field_value,
    card_image: content.field_card_image|field_value,
    card_icon: content.field_card_icon|field_value,
    card_icon_color: content.field_card_icon_color|field_value|render,
    card_text: content.field_card_body|field_value,
    card_button_text: content.field_card_button.0['#title'],
    card_button_url: content.field_card_button.0['#url'],
    card_button_target: content.field_card_button_target[0]|render == 'On' ? '_blank',
    card_link_target: content.field_card_link_target[0]|render == 'On' ? '_blank',
  } %}

  {% set item_card_2 = {
    card_placeholder: content.field_card_2_placeholder[0]|render == 'On' ? 'Off',
    card_link: content.field_card_link_2.0['#url'],
    card_title: content.field_card_title_2|field_value,
    card_image: content.field_card_image_2|field_value,
    card_icon: content.field_card_icon_2|field_value,
    card_icon_color: content.field_card_icon_color_2|field_value|render,
    card_text: content.field_card_body_2|field_value,
    card_button_text: content.field_card_button_2.0['#title'],
    card_button_url: content.field_card_button_2.0['#url'],
    card_button_target: content.field_card_button_target_2[0]|render == 'On' ? '_blank',
    card_link_target: content.field_card_link_target_2[0]|render == 'On' ? '_blank',

  } %}

  {% set item_card_3 = {
    card_placeholder: content.field_card_3_placeholder[0]|render == 'On' ? 'Off',
    card_link: content.field_card_link_3.0['#url'],
    card_title: content.field_card_title_3|field_value,
    card_image: content.field_card_image_3|field_value,
    card_icon: content.field_card_icon_3|field_value,
    card_icon_color: content.field_card_icon_color_3|field_value|render,
    card_text: content.field_card_body_3|field_value,
    card_button_text: content.field_card_button_3.0['#title'],
    card_button_url: content.field_card_button_3.0['#url'],
    card_button_target: content.field_card_button_target_3[0]|render == 'On' ? '_blank',
    card_link_target: content.field_card_link_target_3[0]|render == 'On' ? '_blank',
  } %}

  {% set item_card_4 = {
    card_placeholder: content.field_card_4_placeholder[0]|render == 'On' ? 'Off',
    card_link: content.field_card_link_4.0['#url'],
    card_title: content.field_card_title_4|field_value,
    card_image: content.field_card_image_4|field_value,
    card_icon: content.field_card_icon_4|field_value,
    card_icon_color: content.field_card_icon_color_3|field_value|render,
    card_text: content.field_card_body_4|field_value,
    card_button_text: content.field_card_button_4.0['#title'],
    card_button_url: content.field_card_button_4.0['#url'],
    card_button_target: content.field_card_button_target_4[0]|render == 'On' ? '_blank',
    card_link_target: content.field_card_link_target_4[0]|render == 'On' ? '_blank',
  } %}
  {% set card_attributes = create_attribute() %}
  {% if card_count == 2 %}
    {% set classes = [
      'utc-card-grid__container',
    ] %}
    {% if item_card_2.card_placeholder and item_card_1.card_placeholder %}
      {% set no_hide = "Do not hide all the cards." %}
    {% endif %}
  {% endif %}
  {% if card_count == 3 %}
    {% set classes = [
      'utc-card-grid__container',
      'col-sm-12',
      'col-lg-4',
    ] %}
    {% if item_card_3.card_placeholder and item_card_2.card_placeholder and item_card_1.card_placeholder %}
      {% set no_hide = "Do not hide all the cards." %}
    {% endif %}
  {% endif %}
  {% if card_count == 4 %}
    {% set classes = [
      'utc-card-grid__container',
      'col-sm-12',
      'col-lg-3',
    ] %}
    {% if item_card_4.card_placeholder and item_card_3.card_placeholder and item_card_2.card_placeholder and item_card_1.card_placeholder %}
      {% set no_hide = "Do not hide all the cards." %}
    {% endif %}
  {% endif %}

  {% if card_count == 1 %}
    <div class="utc-card-grid__container">
      {% set button_style_select = content["#block_content"].field_card_button_type.0.target_id %}
      {% set button_style = drupal_field('field_css_class', 'taxonomy_term', button_style_select)["#object"].field_css_class.value %}
      {% include 'block--utc-card-base.html.twig' with item_card_1_alone %}
    </div>
  {% endif %}

  {% if card_count > 1 %}
    {% set card_width = '100' %}
    <div class="row utc-card-grid">
      {% set k = card_count %}
      {% for i in range(1, k) %}
        {% if i == 1 %}
          {% set card_number = item_card_1 %}
        {% endif %}
        {% if i == 2 %}
          {% set card_number = item_card_2 %}
        {% endif %}
        {% if i == 3 %}
          {% set card_number = item_card_3 %}
        {% endif %}
        {% if i == 4 %}
          {% set card_number = item_card_3 %}
        {% endif %}
        {% if item_card_.card_placeholder %}
          <div {{ card_attributes.addClass(classes) }}>
        {% else %}
          <div {{ card_attributes.addClass(classes) }}">
        {% endif %}
        {% set button_style_select = content["#block_content"].field_card_button_type.0.target_id %}
        {% set button_style = drupal_field('field_css_class', 'taxonomy_term', button_style_select)["#object"].field_css_class.value %}
        {% include 'block--utc-card-base.html.twig' with card_number %}
        </div>
      {% endfor %}
    </div>
    {% if no_hide %}
      <h2 class="text-center">{{ no_hide }}</h2>
    {% endif %}
  {% endif %}

{% endblock %}
