/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 * Usage:
 * display: none; // hidden for mobile
 * @include breakpoint($bp--sm) {
 *   display: block; // shown above 576px
 * }
 */

// Sign posts
$bp--xs: 0px;
$bp--sm: 576px;
$bp--md: 768px;
$bp--lg: 992px;
$bp--xl: 1200px;
$bp--xxl: 1600px;
