{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
	<h3>
		{{ title }}
	</h3>
{% endif %}
<div class="box-border mx-auto mt-16 md:masonry-2 xl:masonry-3 before:box-inherit after:box-inherit">
	{% for key,row in rows %}
		{% set content = {
			news_link: view.style_plugin.getField(key, 'field_utc_rss_feed_item_link')|striptags|trim,
			news_image: view.style_plugin.getField(key, 'field_utc_rss_feed_item_image'),
			news_title: view.style_plugin.getField(key, 'field_utc_rss_feed_item_title'),
			news_location: view.style_plugin.getField(key, 'field_utc_rss_feed_item_location')|raw,
			news_type: view.style_plugin.getField(key, 'field_utc_rss_feed_item_type'),
			news_body: view.style_plugin.getField(key, 'field_utc_rss_feed_item_body')|striptags|trim,
			news_imageurl: view.style_plugin.getField(key, 'field_utc_rss_feed_item_img_url'),
 		} %}
		<div class="group break-inside p-4 my-6 bg-white shadow xl:min-h-23 hover:bg-utc-new-blue-100 transition duration-700 border-b-4 border-utc-new-gold-500">
			<a
				href={{content.news_link}}>
				{# <img class="w-full" src="/mountain.jpg" alt="Mountain"> #}
				<div class="p-4">
					<p class="font-bold text-xl mb-2">{{ content.news_title }}</p>
					<p class="text-gray-700 text-base">
						{{content.news_body}}
						{# Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil. #}
					</p>
				</div>
				<div class="text-right px-8 pb-4 items-end">
				<i class="fas fa-angle-right text-2xl transition duration-700"></i>
				</div>
			</a>

		</div>

	{% endfor %}
</div>
