.btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 0;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Button Colors */
.btn--navy,
.btn-primary,
.btn-dark {
  @apply bg-utc-new-blue-500;
  @apply text-white;
}

.btn--navy:hover,
.btn-primary:hover,
.btn-dark:hover {
  @apply bg-blue-900;
  @apply text-white;
}

.btn--navy:active,
.btn-primary:active,
.btn-dark:active {
  @apply bg-blue-900;
  @apply text-white;
}

.btn--navy:focus,
.btn-primary:focus,
.btn-dark:focus {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.btn--yellow,
.btn-danger,
.btn-secondary {
  @apply bg-utc-new-gold-500;
  @apply text-utc-new-blue-500;
}

.btn--yellow:hover,
.btn-danger:hover,
.btn-secondary:hover {
  @apply bg-utc-new-gold-600;
  @apply text-utc-new-blue-500;
}

.btn--yellow:active,
.btn-danger:active,
.btn-secondary:active {
  @apply bg-utc-new-gold-600;
  @apply text-utc-new-blue-500;
}

.btn--yellow:focus,
.btn-danger:focus,
.btn-secondary:focus {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.btn--navy-outline,
.btn-info {
  @apply bg-white;
  @apply text-utc-new-blue-500;
  border: 2px solid #112e51;
}

.btn--navy-outline:hover,
.btn--navy-outline:active,
.btn-info:hover,
.btn-info:active {
  @apply bg-utc-new-blue-500;
  @apply text-white;
  border: 2px solid #112e51;
  box-shadow: inset 0px 0px 5px #403636;
}

.btn-info:focus,
.btn--navy-outline:focus {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.btn--burgundy,
.btn-warning {
  @apply bg-red-900;
  @apply text-white;
}

.btn--burgundy:hover,
.btn-warning:hover {
  @apply bg-utc-new-gold-500;
  @apply text-red-900;
}

.btn--burgundy:active,
.btn-warning:active {
  @apply text-red-900;
  @apply bg-utc-new-gold-500;
  box-shadow: 0 0 0 0.2rem rgba(120, 30, 30, 0.5);
}

.btn--burgundy:focus,
.btn-warning:focus {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.btn--white-outline {
  background-color: transparent;
  @apply text-white;
  border: 2px solid #ffffff;
}

.btn--white-outline:hover,
.btn--white-outline:active {
  @apply bg-utc-new-gold-500;
  @apply text-utc-new-blue-500;
  border: 2px solid #ffffff;
}

.btn--white-outline:focus {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.btn--green,
.btn-success {
  @apply bg-green-800;
  @apply text-white;
}

.btn--green:hover,
.btn--green:active,
.btn-success:hover,
.btn-success:active {
  @apply bg-green-700;
  @apply text-white;
}

.btn--green:focus,
.btn-success:focus {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.btn--lightblue,
.btn-light {
  @apply bg-gray-300;
  @apply text-utc-new-blue-500;
}

.btn--lightblue:hover,
.btn--lightblue:active,
.btn-light:hover,
.btn-light:active {
  @apply bg-gray-400;
  @apply text-utc-new-blue-500;
}

.btn--lightblue:focus,
.btn-light:focus {
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

/* Button Types */
.btn-block,
.btn--block {
  display: block;
  width: 100%;
}

.btn--pill {
  border-radius: 24px;
}

/* Button Sizes */
.btn--small,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.btn--large,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn--extra-large {
  padding: 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Exo', 'Helvetica Neue', sans-serif;
}

a.button_cta_custom {
  width: 100%;
  border-radius: 0px;
}
