.page {
  display: block; // IE doesn't like `<main>`
  &--has-sidebar {
    @include breakpoint($bp--xlarge) {
      display: flex;
      justify-content: space-between;
      .page__content {
        width: calc(75% - #{$spacing--l / 2});
      }
      .page__sidebar {
        width: calc(25% - #{$spacing--l / 2});
      }
    }
  }
  &__content {

  }
  &__sidebar {

  }
}
