<div class="site">
  {% include "@organisms/site-header.twig" %}
  <main class="site__page page{% if sidebar %} page--has-sidebar{% endif %}">
    <div class="page__content">
      {{ content }}
    </div>
    {% if sidebar %}
      <div class="page__sidebar">{{ sidebar|raw }}</div>
    {% endif %}
  </main>
  {% include "@organisms/site-footer.twig" %}
</div>
