/* ==========================================================================
   Global Icons - Mixins
   ========================================================================== */

@import 'icons';

/* Mixin - Font Icon Base
   ========================================================================== */
/*
 * Common styles used by all icons in HTML and CSS
 */

@mixin font-icon-base() {
  @include inline-block();
  font-family: 'icons';
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
%font-icon-base {
  @include font-icon-base();
}

/* Mixin - Font Icon Replace
   ========================================================================== */
/*
 * Replace text with a font icon
 */

@mixin font-icon-replace($pseudo) {
  position: relative;
  right: 9999px;
  &:#{$pseudo} {
    height: 100%;
    position: absolute;
    right: -9999px;
    text-align: center;
    top: 0;
  }
}

/* Mixin - Icon
   ========================================================================== */
/*
 * @params
 *  $icon
 *  $pseudo
 *  $mq
 *  $text-replace
 *  $size
 *  $color
 */
 
@mixin icon(
  $icon: $icon,
  $pseudo: before,
  $mq: false,
  $text-replace: false,
  $size: inherit,
  $color: inherit
) {
  &:#{$pseudo} {
    content: map-get($font-icons, $icon);
    font-size: $size;
    // If in a media query, include instead of extend
    @if $mq == true {
      @include font-icon-base();
    } @else {
      @extend %font-icon-base;
    }
  }
  // Replace text with icon, like classic sprites
  @if $text-replace {
    @include font-icon-replace($pseudo);
  }
}

// Shared styles for <i> elements
[class*='icon--'] {
  @extend %font-icon-base;
}

// Generate classes for each icon
@each $font-icon in $font-icons {
  .icon--#{nth($font-icon, 1)}:before {
    content: nth($font-icon, 2);
  }
}

// true as second options returns only path
$icon-path: image-url('', true) + 'icons/output/fonts';

// Font Source Files
@include font-face('icons', (
  'eot': '#{$icon-path}/icons.eot',
  'woff': '#{$icon-path}/icons.woff',
  'ttf': '#{$icon-path}/icons.ttf',
  'svg': '#{$icon-path}/icons.svg'
));
