<ul class="sg-colors">
  {{#colors}}
    <li>
      <div class="sg-swatch" style="background: {{value}};"></div>
      <div class="sg-info">
        <code>{{value}}</code> <br/>
        <code>{{name}}</code>
      </div>
    </li>
  {{/colors}}
</ul>
