{#
/**
 * Region - Header.
 *
 */
#}

<header class="jumbotron bg-test header" role="banner">
  <section class="{{ classes }} text-white">
    {% block header_content %}
    {% endblock header_content %}
  </section>
</header>
