{#
/**
 * @file
 * Theme to display an error page for missing the Component Libraries module.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<style>

body {
  background-color: goldenrod;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
}

.components_error {
  width: 50%;
  padding: 0 10% 0 10%;
  margin: auto;
}

.components_error--image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.components_error--blinker {
  animation: blinker 1s linear infinite;
  color: #102E37;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
</style>

<div class="components_error">
  <h1 class="components_error--blinker">{{ 'CRITICAL FAILURE OMG'|t }}</h1>
  <p class="components_error--body">{{ 'It looks like you forgot to install the <a href=":url">Component Libraries</a> module. Please install it and come back! Have a great day!'|t({ ':url': 'https://www.drupal.org/project/components' }) }}</p>
</div>
<img class="components_error--image" src="https://media1.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif?cid=3640f6095bbff9f35873486a55d52ada" alt="{{ 'funny cat GIF'|t }}">
