{#
/**
 * @file Split Button Dropdown!
 * Documenting Split Button Examples from Bootstrap.
 *
 * Available variables:
 * - Inherit variables from @atoms/_button.twig
 *
 * @see https://getbootstrap.com/docs/4.0/components/buttons/
 */
#}

{% include '@atoms/button/_button.twig' with {
  button_color: dropdown_color,
  button_text: dropdown_text,
} %}

{% embed '@atoms/button/_button.twig' with {
  button_other_classes: 'dropdown-toggle dropdown-toggle-split',
  button_other_attributes: 'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"',
  button_color: dropdown_color,
} %}
  {% block right %}
    <span class="sr-only">Toggle Dropdown</span>
  {% endblock right %}
{% endembed %}
