# Unix-style newlines with a newline ending every file

# This is the top-most .editorconfig file; do not search in parent directories.
root = true

# All files default.
[*]
end_of_line = LF
indent_style = space
indent_size = 2
charset = utf-8
tab_width = 2
trim_trailing_whitespace = true
insert_final_newline = true

[composer.{json,lock}]
indent_size = 4
