# http://eslint.org/docs/rules/
rules:
  indent:
    - 1
    - 2
  quotes:
    - 1
    - single
  linebreak-style:
    - 1
    - unix
  semi:
    - 2
    - always
  no-unused-vars:
    - 1
    - args: none
env:
  es6: true
  browser: true
  jquery: true
globals:
  Drupal: true
extends: 'eslint:recommended'
