# Ignore any path/file using .gitignore syntax

# Dependencies
node_modules
vendor

# Particle
dist/
dependencyGraph.json
tools/new-component/templates/
package-lock.json
*.inc
# Ignore head|foot.twig due to closing </body> and </html> tags with no openers
_00-head.twig
_01-foot.twig
# Ignore _button.twig while prettier-twig fails to recognize dynamic elements
_button.twig
