
<footer class="page-footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row mx-0">
        <div class="footer_first col-12 col-sm-4">{{ page.footer_first }}</div>
        <div class="footer_second col-12 col-sm-4">{{ page.footer_second }}</div>
        <div class="footer_third col-12 col-sm-4">{{ page.footer_third }}</div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
            {{ page.footer_bottom_first }}
        </div>
      </div>
    </div>
  </div>
</footer>
