
<footer class="page-footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 mb-4 mb-lg-0">{{ page.footer_first }}</div>
        <div class="col-12 col-lg-4 mb-4 mb-lg-0">{{ page.footer_second }}</div>
        <div class="col-12 col-lg-4">{{ page.footer_third }}</div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
            {{ page.footer_bottom_first }}
        </div>
      </div>
    </div>
  </div>
</footer>
