@mixin btn($alt: false) {
  background: $color--primary;
  padding: ($spacing / 4) ($spacing / 2);
  display: inline-block;
  color: $color--gray--white;
  text-decoration: none;
  @if $alt {
    background: $color--gray--white;
    color: $color--primary;
  }
}

.btn {
  @include btn();
  &--alt {
    @include btn($alt: true);
  }
}

// scss-lint:disable QualifyingElement
input[type="submit"],
.form-submit {
  @include btn();
  border: 0;
}
// scss-lint:enable QualifyingElement
