	
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}
	
  <!-- inject:js -->
  <script src="../../../../bower_components/jquery/jquery.js"></script>
  <script src="../../../../bower_components/lodash/lodash.js"></script>
  <script src="../../../../bower_components/drupal/index.js"></script>
  <script src="../../../../dest/all.min.js"></script>
  <!-- endinject -->
  
	</body>
</html>
