<div class="form-item form-type-select form-item-select">
  <label for="edit-select">Select </label>
  <select id="edit-select" name="select" class="form-select">
    <option value="Nam tincidunt duis">Nam tincidunt duis</option>
    <option value="Aliquam lorem neque">Aliquam lorem neque</option>
    <option value="Duis lobortis egestas">Duis lobortis egestas</option>
    <option value="Lacinia ac cras">Lacinia ac cras</option>
    <option value="Mi dignissim viverra">Mi dignissim viverra</option>
  </select>
  <div class="description">Curabitur quis nunc nibh.</div>
</div>
