<div class="form-item form-type-textfield form-item-textfield">
  <label for="edit-textfield">Textfield </label>
  <input type="text" id="edit-textfield" name="textfield" placeholder="Elementum massa vestibulum" class="form-text">

  <div class="description">Aenean quis leo sit amet tellus tempus cursus.</div>
</div>
