<div class="form-item form-type-textarea form-item-textarea">
  <label for="edit-textarea">Textarea </label>

  <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea id="edit-textarea" name="textarea" cols="60" rows="5" class="form-textarea"></textarea>

    <div class="grippie"></div>
  </div>
  <div class="description">Sed nec lacus sed nibh iaculis luctus.</div>
</div>
