<div class="form-item form-type-checkbox form-item-checkbox">
  <input type="checkbox" id="edit-checkbox" name="checkbox" value="1" checked="checked" class="form-checkbox"> <label
    class="option" for="edit-checkbox">Checkbox </label>

  <div class="description">Nullam hendrerit, justo et iaculis tristique, ligula risus pretium erat, sed tempus lacus
    felis ut nulla.
  </div>
</div>
