<div class="form-item form-type-checkboxes form-item-checkboxes">
  <label for="edit-checkboxes">Checkboxes </label>

  <div id="edit-checkboxes" class="form-checkboxes">
    <div class="form-item form-type-checkbox form-item-checkboxes-Nam-tincidunt-duis">
      <input type="checkbox" id="edit-checkboxes-nam-tincidunt-duis" name="checkboxes[Nam tincidunt duis]" value="Nam tincidunt duis" class="form-checkbox"> <label class="option" for="edit-checkboxes-nam-tincidunt-duis">Nam tincidunt duis </label>

    </div>
    <div class="form-item form-type-checkbox form-item-checkboxes-Aliquam-lorem-neque">
      <input type="checkbox" id="edit-checkboxes-aliquam-lorem-neque" name="checkboxes[Aliquam lorem neque]" value="Aliquam lorem neque" class="form-checkbox"> <label class="option" for="edit-checkboxes-aliquam-lorem-neque">Aliquam lorem neque </label>

    </div>
    <div class="form-item form-type-checkbox form-item-checkboxes-Duis-lobortis-egestas">
      <input type="checkbox" id="edit-checkboxes-duis-lobortis-egestas" name="checkboxes[Duis lobortis egestas]" value="Duis lobortis egestas" class="form-checkbox"> <label class="option" for="edit-checkboxes-duis-lobortis-egestas">Duis lobortis egestas </label>

    </div>
    <div class="form-item form-type-checkbox form-item-checkboxes-Lacinia-ac-cras">
      <input type="checkbox" id="edit-checkboxes-lacinia-ac-cras" name="checkboxes[Lacinia ac cras]" value="Lacinia ac cras" class="form-checkbox"> <label class="option" for="edit-checkboxes-lacinia-ac-cras">Lacinia ac cras </label>
    </div>
    <div class="form-item form-type-checkbox form-item-checkboxes-Mi-dignissim-viverra">
      <input type="checkbox" id="edit-checkboxes-mi-dignissim-viverra" name="checkboxes[Mi dignissim viverra]" value="Mi dignissim viverra" class="form-checkbox"> <label class="option" for="edit-checkboxes-mi-dignissim-viverra">Mi dignissim viverra </label>

    </div>
  </div>
  <div class="description">Phasellus blandit ullamcorper diam vel porta.</div>
</div>
