<div class="form-item form-type-managed-file form-item-managed-file">
  <label for="edit-managed-file">Managed file </label>
 <div id="edit-managed-file" class="form-managed-file"><input type="file" id="edit-managed-file-upload" name="files[managed_file]" size="22" class="form-file"><input type="submit" id="edit-managed-file-upload-button" name="managed_file_upload_button" value="Upload" class="form-submit ajax-processed"><input type="hidden" name="managed_file[fid]" value="0">
</div>
<div class="description">Phasellus sagittis, orci vel laoreet molestie, urna orci imperdiet elit, quis ultricies orci mauris vel ante.</div>
</div>
