<ul class="menu clearfix">
  <li class="first last expanded active-trail"><a href="#" class="active-trail">Administration</a>
    <ul class="menu clearfix">
      <li class="first leaf"><a href="#" title="View and customize your dashboard.">Dashboard</a></li>
      <li class="collapsed"><a href="#" title="Administer content and comments.">Content</a></li>
      <li class="collapsed"><a href="#"
                               title="Administer blocks, content types, menus, etc.">Structure</a></li>
      <li class="expanded active-trail"><a href="#" title="Select and configure your themes."
                                           class="active-trail">Appearance</a>
        <ul class="menu clearfix">
          <li class="first last leaf active-trail"><a href="#" class="active-trail active">Style
            guide</a></li>
        </ul>
      </li>
      <li class="leaf"><a href="#" title="Manage user accounts, roles, and permissions.">People</a></li>
      <li class="leaf"><a href="#" title="Extend site functionality.">Modules</a></li>
      <li class="collapsed"><a href="#" title="Administer settings.">Configuration</a></li>
      <li class="collapsed"><a href="#" title="View reports, updates, and errors.">Reports</a></li>
      <li class="last leaf"><a href="#" title="Reference for usage, configuration, and modules.">Help</a></li>
    </ul>
  </li>
</ul>
