////
/// Sass Variables to JSON map
/// @group apps
////

// Globals
@use 'sass:meta';
@use 'sass:map';
// Custom
@use '~tokens/sass';
@use '~atoms/svg/svg';

$font-families-demo: (
  '$font-family-sans-serif': sass.$bs-font-family-sans-serif,
  '$font-family-monospace': sass.$bs-font-family-monospace,
  '$headings-font-family': sass.$bs-headings-font-family,
);

$font-sizes-demo: (
  base: sass.$bs-font-size-base,
  lg: sass.$bs-font-size-lg,
  sm: sass.$bs-font-size-sm,
);

$font-weights-demo: (
  lighter: sass.$bs-font-weight-lighter,
  light: sass.$bs-font-weight-light,
  normal: sass.$bs-font-weight-normal,
  bold: sass.$bs-font-weight-bold,
  bolder: sass.$bs-font-weight-bolder,
);

$vars: (
  scssColors: sass.$bs-theme-colors,
  scssBreakpoints: sass.$bs-grid-breakpoints,
  scssSpacing: sass.$bs-spacers,
  fontFamilies: $font-families-demo,
  fontSizes: $font-sizes-demo,
  fontWeights: $font-weights-demo,
  scssIcons: svg.$svgicons,
);

// Exports JSON to pattern-lab/_data/sass-variables.json
// This JSON file populates demo twig patterns with Sass variables.
// By calling the function 'export-data', json is written to pl/_data/. $d is
// just a locally scoped var to catch the output of the function.
$d: meta.call(meta.get-function('export-data'), 'sass-variables.json', $vars);
