/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Sass Variables to JSON Map
--------------------------------------------------------------------------------
*/

@use 'sass:meta';

// Customized Sass Mapping
// Pulled from Bootstrap's _variables.scss
$font-families-demo: (
  // '$font-family-sans-serif': $font-family-sans-serif,
    // '$font-family-serif': $font-family-serif,
    // '$font-family-monospace': $font-family-monospace,
    // '$headings-font-family': $headings-font-family,
);

$font-sizes-demo: (
  // base: $font-size-base,
    // lg: $font-size-lg,
    // sm: $font-size-sm,
);

$font-weights-demo: (
  // light: $font-weight-light,
    // normal: $font-weight-normal,
    // bold: $font-weight-bold,
);

// $spacing-demo: $spacers;

$vars: (
  flerp: 'blue',
  derp: 'green',
  // scssColors: $theme-colors,
    // primaryColors: $primary-colors,
    // neutralHues: $neutral-hues,
    // scssBreakpoints: $grid-breakpoints,
    // scssSpacing: $spacing-demo,
    // fontFamilies: $font-families-demo,
    // fontSizes: $font-sizes-demo,
    // fontWeights: $font-weights-demo,
    // scssIcons: $svgicons,,,
);

// Exports JSON to pattern-lab/_data/sass-variables.json
// This JSON file populates demo twig patterns with Sass variables.
// By calling the function 'export-data', json is written to pl/_data/. $d is
// just a locally scoped var to catch the output of the function.
$d: meta.call(meta.get-function('export-data'), 'sass-variables.json', $vars);
