//
// Place global config here like Bootstrap's _variables.scss.
// This kind of config is often required prior to importing any libraries (ie Bootstrap Sass), and
// usually does not produce any markup, just variables and maps
//

// Import _breakpoints.scss so it can be used for bootstrap grid.
//@import "../source/_patterns/00-base/breakpoints/_breakpoints.scss";

// Bootstrap Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
//$grid-breakpoints: (
//  xs: $bp--xs,
//  sm: $bp--sm,
//  md: $bp--md,
//  lg: $bp--lg,
//  xl: $bp--xl,
//  xxl: $bp--xxl
//) !default;

//bootstrap setup
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

//custom
@import "../_patterns/00-base/colors";

@import "~bootstrap/scss/variables";

// Bootstrap gutter.
$grid-gutter-width-base: 30px;

.test-output-from-config {
  color: red;
}

body {
  //background: $c-red;
  background: purple;
}
