<h1>Spacing</h1>
{% for spacingVarName, spacingVarData in baseScssVars if '$spacing--' in spacingVarName %}
  {% set value = spacingVarData.value ~ spacingVarData.unit %}

  <div style="margin: 5px;">
    <div style="height: {{ value }}; width: {{ value }}; outline: solid 1px black; display: inline-block; margin-right: 5px;"></div>
    <span>{{ valule }} : <code>{{ spacingVarName }}</code></span>
  </div>
{% endfor %}

<p>To add to these items, use Sass variables that start with <code>$spacing--</code> in <code>_spacing.scss</code></p>
