<div class="form-item form-type-radios form-item-radios">
  <label for="edit-radios">Radios </label>

  <div id="edit-radios" class="form-radios">
    <div class="form-item form-type-radio form-item-radios">
      <input type="radio" id="edit-radios-nam-tincidunt-duis" name="radios" value="Nam tincidunt duis"
             class="form-radio"> <label class="option" for="edit-radios-nam-tincidunt-duis">Nam tincidunt duis </label>

    </div>
    <div class="form-item form-type-radio form-item-radios">
      <input type="radio" id="edit-radios-aliquam-lorem-neque" name="radios" value="Aliquam lorem neque"
             class="form-radio"> <label class="option" for="edit-radios-aliquam-lorem-neque">Aliquam lorem
      neque </label>

    </div>
    <div class="form-item form-type-radio form-item-radios">
      <input type="radio" id="edit-radios-duis-lobortis-egestas" name="radios" value="Duis lobortis egestas"
             class="form-radio"> <label class="option" for="edit-radios-duis-lobortis-egestas">Duis lobortis
      egestas </label>

    </div>
    <div class="form-item form-type-radio form-item-radios">
      <input type="radio" id="edit-radios-lacinia-ac-cras" name="radios" value="Lacinia ac cras" class="form-radio">
      <label class="option" for="edit-radios-lacinia-ac-cras">Lacinia ac cras </label>

    </div>
    <div class="form-item form-type-radio form-item-radios">
      <input type="radio" id="edit-radios-mi-dignissim-viverra" name="radios" value="Mi dignissim viverra"
             class="form-radio"> <label class="option" for="edit-radios-mi-dignissim-viverra">Mi dignissim
      viverra </label>

    </div>
  </div>
  <div class="description">Duis orci nunc, lacinia in malesuada et, euismod id turpis.</div>
</div>
