<div class="form-item form-type-file form-item-files-file">
  <label for="edit-file">File </label>
  <input type="file" id="edit-file" name="files[file]" size="60" class="form-file">

  <div class="description">In faucibus feugiat urna sit amet elementum.</div>
</div>
