<fieldset class="form-wrapper" id="edit-fieldset">
  <legend><span class="fieldset-legend">Fieldset</span></legend>
  <div class="fieldset-wrapper">
    <div class="fieldset-description">Etiam vel dui posuere lectus auctor viverra vitae id eros.</div>
    <div class="form-item form-type-select form-item-select-fieldset">
      <label for="edit-select-fieldset">Select </label>
      <select id="edit-select-fieldset" name="select-fieldset" class="form-select">
        <option value="Est lacinia et">Est lacinia et</option>
        <option value="Aliquam vulputate turpis">Aliquam vulputate turpis</option>
        <option value="Neque lacus in">Neque lacus in</option>
        <option value="Vestibulum sed turpis">Vestibulum sed turpis</option>
        <option value="Eget luctus eu">Eget luctus eu</option>
      </select>

      <div class="description">Morbi eget odio elit, et cursus odio.</div>
    </div>
    <div class="form-item form-type-checkboxes form-item-checkboxes-fieldset">
      <label for="edit-checkboxes-fieldset">Checkboxes </label>

      <div id="edit-checkboxes-fieldset" class="form-checkboxes">
        <div class="form-item form-type-checkbox form-item-checkboxes-fieldset-Est-lacinia-et">
          <input type="checkbox" id="edit-checkboxes-fieldset-est-lacinia-et" name="checkboxes-fieldset[Est lacinia et]"
                 value="Est lacinia et" class="form-checkbox"> <label class="option"
                                                                      for="edit-checkboxes-fieldset-est-lacinia-et">Est
          lacinia et </label>

        </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-fieldset-Aliquam-vulputate-turpis">
          <input type="checkbox" id="edit-checkboxes-fieldset-aliquam-vulputate-turpis"
                 name="checkboxes-fieldset[Aliquam vulputate turpis]" value="Aliquam vulputate turpis"
                 class="form-checkbox"> <label class="option" for="edit-checkboxes-fieldset-aliquam-vulputate-turpis">Aliquam
          vulputate turpis </label>

        </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-fieldset-Neque-lacus-in">
          <input type="checkbox" id="edit-checkboxes-fieldset-neque-lacus-in" name="checkboxes-fieldset[Neque lacus in]"
                 value="Neque lacus in" class="form-checkbox"> <label class="option"
                                                                      for="edit-checkboxes-fieldset-neque-lacus-in">Neque
          lacus in </label>

        </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-fieldset-Vestibulum-sed-turpis">
          <input type="checkbox" id="edit-checkboxes-fieldset-vestibulum-sed-turpis"
                 name="checkboxes-fieldset[Vestibulum sed turpis]" value="Vestibulum sed turpis" class="form-checkbox">
          <label class="option" for="edit-checkboxes-fieldset-vestibulum-sed-turpis">Vestibulum sed turpis </label>

        </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-fieldset-Eget-luctus-eu">
          <input type="checkbox" id="edit-checkboxes-fieldset-eget-luctus-eu" name="checkboxes-fieldset[Eget luctus eu]"
                 value="Eget luctus eu" class="form-checkbox"> <label class="option"
                                                                      for="edit-checkboxes-fieldset-eget-luctus-eu">Eget
          luctus eu </label>

        </div>
      </div>
      <div class="description">Ut dignissim convallis eros, viverra luctus lacus consequat ac.</div>
    </div>
  </div>
</fieldset>
