<div class="dropdown inline-block relative">
  {% include '@atoms/button/_button-dropdown.twig' with {
    button_text: dropdown_text,
    button_color: dropdown_color
  } %}
  <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 z-1">
    <li class="z-50">
      <a class="relative z-50 text-black bg-white py-2 px-4 block whitespace-no-wrap rounded-t hover:bg-gray-100"
        href="#">
        {{ dropdown_menu_items[0].dropdown_menu_item_text }}
      </a>
    </li>
    <li class="z-50">
      <a class="relative z-50 text-black bg-white py-2 px-4 block whitespace-no-wrap hover:bg-gray-100"
        href="#">
        {{ dropdown_menu_items[1].dropdown_menu_item_text }}
      </a>
    </li>
    <li class="z-50">
      <a class="relative z-50 text-black bg-white py-2 px-4 block whitespace-no-wrap rounded-b hover:bg-gray-100"
        href="#">
        {{ dropdown_menu_items[2].dropdown_menu_item_text }}
      </a>
    </li>
  </ul>
</div>
