@mixin simple-3-up-grid() {
  @include add-grid(12);

  .thingy-1 {
    @include grid-span(4, 1);
  }
  .thingy-2 {
    @include grid-span(4, 5);
  }
  .thingy-3 {
    @include grid-span(4, 9);
  }
}
