{#
/**
 * @file
 * Default theme implementation to display theme layouts.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'layout',
  'layout--' ~ layout.id|clean_class,
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% for key, value in layout.getRegions %}
      {% if content[key] %}
        <div {{ region_attributes[key].addClass(value.region_classes) }}>
          {{ content[key] }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
