{% embed '@atoms/grid/_grid-1-up.twig' with { container: true } %}
  {% block column_1 %}
    <h1>Branding Examples</h1>
    <p class="lead">Different applications of a branding block.</p>
    {% embed '@atoms/grid/_grid-3-up.twig' with { container: false } %}
      {% block column_1 %}
        {% include "@molecules/_branding.twig" %}
      {% endblock column_1 %}
    {% endembed %}
  {% endblock column_1 %}
{% endembed %}
