{% extends 'partials/base.html.twig' %}

{% block body %}

  {% block content %}

    <div>
      <p>Congratulations! This Grav theme is working! This is a solid proof of concept, but there's a ton more you can do here:</p>
      <ul>
        <li>Webpack the Grav</li>
        <li>Update CSS Assets from Drupal -> Grav</li>
        <li>Fix JavaScript</li>
      </ul>
    </div>

  {% endblock content %}

{% endblock body %}
