{#{% extends 'partials/base.html.twig' %}#}
{# Need to figure out namespaces here. Symlink PL to Grav theme folder for simplicity? #}

{% block content %}
  <header role="banner">
    <h1>Test</h1>
  </header>
{% endblock %}
