{% extends 'partials/base.html.twig' %}

{% block body %}
  {% block content %}

    <div>
      <p>Congratulations! This Grav theme is working!
    </div>

  {% endblock content %}
{% endblock body %}
