@import '../../00-base/config';

// To change default bootstrap nav variables,
// copy from ~bootstrap/scss/variables to here

//find real example!!!!
$btn-border-radius: 0.25rem;
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";

// Add custom code here
.nav {
  &--border {
    border-color: $gray-300;
    border-style: solid;
  }
}
