@import url(//fonts.googleapis.com/css?family=Lato:400,700,900);

body{
  @include body-copy();
}

h1 {
  @include h1();
}

blockquote {
  font-style: italic;
  border-left: solid 3px $color--gray;
  margin-left: $spacing;
  padding-left: $spacing;
}