{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
    <h1 class="mb-3">Accordion</h1>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p class="lead">Toggle the visibility of content across your project with a few classes and our JavaScript plugins.</p>
      <p>Accordions make use of Bootstrap's Collapse with the card component. Default collapse behavior is extended to create an accordion.</p>
      <div><a href="https://getbootstrap.com/docs/4.0/components/collapse/" target="_blank" rel="noopener noreferrer">Bootstrap Documentation</a></div>
    </div>
    <hr>

    {% include '@organisms/accordion/_accordion.twig' with accordion_1 %}

  {% endblock %}
{% endembed %}
