
.header__main {
    @apply font-utcbody;
}

.header--custom-header .header__container-wrapper--header__main {
    @apply border-0 p-0 shadow-utc;
}

/*New Brand Bar as of March 18, 2022*/
.header__container {
    @apply bg-utc-new-blue-100;
}
/***heights must be manually in order to make the search form show smoothly***/
.header--custom-header .header__container-wrapper--header__main {
    height:125px;
}
.top-bar-wrapper {
    height:75px;
}
.bottom-bar-wrapper, .region-header-primary-menu {
    height:50px;
}
/****/

.header--custom-header .header__main {
    @apply py-0 mr-24;
}
.header a.site-logo {
    @apply overflow-hidden;
}
.block--region-logo {
    @apply h-auto;
}
.header a.site-logo img {
    @apply max-w-18;
}
.header__main__left,
.header__main__right,
.wide-nav,
#block-utcbrandbarmenu-particle {
    height: 100%!important;
}
.header__main__right *, .header__main__right *:focus  {
    @apply outline-none;
}
.region-header-primary-menu {
    @apply grid ml-auto;
    grid-template-columns: auto auto;
    width: fit-content;
}
.region-header-primary-menu > .block {
    @apply m-0;
}
ul.sf-menu > li > a, ul.sf-menu span.nolink, .sidr .menu--utc-brandbar-menu a  {
    @apply py-0 my-0 px-3 relative normal-case text-utc-new-blue-500 font-normal font-utcbody;
    font-size: 16px;
    transition:  var(--utc-transition);
}
ul.sf-menu.menu {
    @apply flex;
}
ul.sf-menu.menu>li.sf-depth-1 {
    @apply relative pt-4 pb-2 outline-none;
    width:fit-content;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/*
ul.sf-menu.menu>li.sf-depth-1
ul.sf-menu.menu > li.sf-depth-1:focus, 
ul.sf-menu.menu > li.sf-depth-1 *:focus, 
ul.sf-menu.menu > li.sf-depth-1:hover, 
ul.sf-menu.menu > li.sf-depth-1 *:hover,
.sidr ul.sf-menu.menu.sf-secondary-menu>li:hover, 
.sidr ul.sf-menu.menu.sf-secondary-menu>li.sf-depth-1:hover,
.sidr ul.sf-menu.menu.sf-secondary-menu>li:focus, 
.sidr ul.sf-menu.menu.sf-secondary-menu>li.sf-depth-1:focus {
    outline:none!important;
}
ul.sf-menu.menu > li.sf-depth-1:visited, 
ul.sf-menu.menu > li.sf-depth-1 *:visited, 
ul.sf-menu.menu > li.sf-depth-1:target, 
ul.sf-menu.menu > li.sf-depth-1 *:target
{
    outline:none!important;
}
ul.sf-menu.menu>li.sf-depth-1 span:focus, ul.sf-menu.menu>li.sf-depth-1 span:hover {
    outline:none!important;
}*/
ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul, ul.sf-menu ul {
    left:unset!important;
}
ul.sf-menu ul {
    @apply w-9 left-auto right-0 bg-white min-w-9 float-right;
}
ul.sf-menu.sf-horizontal.sf-shadow ul, ul.sf-menu.sf-vertical.sf-shadow ul, ul.sf-menu.sf-navbar.sf-shadow ul ul {
    box-shadow: 3px 3px 5px 1px rgb(0 0 0 / 15%), -3px 3px 5px 1px rgb(0 0 0 / 15%);
}
ul.sf-menu ul li{
  @apply border-gray-300;
}
ul.sf-menu ul li:first-child {
    @apply border-t;
}
ul.sf-menu ul li a {
    @apply bg-white font-normal text-sm text-utc-new-blue-500;
}
ul.sf-menu ul li a:hover {
    @apply bg-utc-new-blue-100;
}
ul.sf-menu  > li:not(:last-child) {
  @apply float-none list-none;
}
ul.sf-menu > li a  {
    @apply border-0 border-r border-gray-500;
}
ul.sf-menu > li > a:after, ul.sf-menu span.nolink:after, ul.sf-menu>li.sfHover>a.is-active {
    @apply block h-0;
    margin-top: 5px;
    content: "";
    background: rgba(253, 183, 54, 0.7);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    box-shadow: 0px 0px 1px 1px rgba(253, 183, 54, 0.7);
}
ul.sf-menu > li > a:hover:after,
ul.sf-menu > li.sfHover > a:after,
ul.sf-menu span.nolink:hover:after,
ul.sf-menu>li a.is-active:after {
    transform: scaleX(1);
}

ul.sf-menu > li.sfHover {
    @apply bg-transparent;
}

/**secondary menu**/
ul.sf-menu span.sf-depth-1.sf-with-ul {
    @apply pr-6;
    margin-bottom:2px;
}
ul.sf-menu.menu.sf-secondary-menu li {
    @apply cursor-pointer;
}
ul.sf-menu > li:not(:last-child) > span.sf-depth-1 {
    @apply border-r border-gray-500;
}
ul.sf-menu span.sf-sub-indicator {
    @apply right-2;
}
.sf-secondary-menu ul.sf-menu>li:not(:last-child) {
    @apply border-r border-gray-500;
}
/*****offcanvas responsive menu******/

.sidr {
    top: 67px;
}
.sidr .block {
    @apply mb-0 h-auto;
}
.sidr ul.flex, .block--region-offcanvas-sidebar {
    @apply bg-white;
}
.sidr ul.menu {
    @apply flex-col bg-transparent w-full;
}
.sidr .block--superfish .block__content {
    @apply p-0;
}
.sidr ul.flex li.menu-item, .sidr ul.sf-menu.menu.sf-secondary-menu li {
    transition: var(--utc-transition)!important;
}
.sidr ul.sf-menu.menu {
    @apply block bg-white shadow-utc;
}
.sidr ul.sf-menu.menu.sf-secondary-menu>li.sf-depth-1 {
    @apply bg-white;
}
.sidr ul.sf-menu.sf-expanded, .sidr ul.sf-menu.menu.sf-secondary-menu>li.sf-depth-1.sf-expanded {
    @apply bg-utc-new-blue-100;
}
.sidr ul.sf-menu li {
    @apply border-b border-gray-500 py-0 hover:bg-utc-new-blue-100 w-full;
}
.sidr ul.sf-menu span.sf-depth-1.sf-with-ul, 
.sidr ul.flex li a, 
.sidr ul.menu a, 
.sidr ul.menu .nolink,
.sidr ul.sf-menu.menu.sf-secondary-menu>li, 
.sidr ul.sf-menu li,
.sidr ul.sf-menu.menu.sf-secondary-menu>li.sf-depth-1 {
    @apply text-base font-utcbody normal-case font-normal text-utc-new-blue-500 w-full;
}
.sidr ul.flex li a, 
.sidr ul.menu a, 
.sidr ul.menu .nolink {
    @apply border-0 py-0 pl-3 bg-transparent;
}
.sidr ul.sf-menu.menu.sf-secondary-menu>li, 
.sidr ul.sf-menu li,
.sidr ul.sf-menu.menu.sf-secondary-menu>li.sf-depth-1 {
    @apply py-4 border-b border-gray-300 ;
}
.sidr ul.menu a, .sidr ul.sf-menu li a, .sidr ul.menu a:hover, .sidr ul.sf-menu li:hover a {
    @apply bg-transparent;
}
.sidr ul.sf-menu li:hover, .sidr ul.sf-menu>li.sfHover, .sidr ul.sf-menu>li.active-trail {
    @apply bg-utc-new-blue-100;
}
.sidr ul.sf-menu>li>a:after, .sidr ul.sf-menu span.nolink:after {
    @apply hidden;
}
.sidr ul.sf-menu.sf-accordion li.sf-expanded > ul{
    @apply mb-3 shadow-none;
    left:12px!important;
    top:9px!important;
}
.menus-wrapper ul, #superfish-secondary-menu--2-accordion {
    width:12.8rem;
    float:right;
    box-shadow: -3px 3px 5px rgb(0 0 0/15%)!important;
}

.sidr ul.sf-menu li.sf-depth-1>ul {
    @apply bg-white;
}
/*****end offcanvas responsive menu****/

/*search*/
.region-search {
    @apply opacity-0 h-0 flex items-center;
    max-height: unset!important;
    box-shadow: inset 0px 0 5px rgba(65, 0, 0, 0.15), 0px 0 5px rgb(0 0 0 / 15%);
    transition: var(--utc-transition);
}
.region-search.active {
    @apply h-full p-2 opacity-100;
    transition:  var(--utc-transition);
}
.region-search .container {
    max-width: 100%!important;
}
.block--region-search form {
    @apply px-4 py-2 my-4 opacity-0;
    transition: var(--utc-transition);
}
.region-search.active .block--region-search form {
    @apply opacity-100;
}
.header__toggleable-button {
    @apply outline-none;
    transition: var(--utc-transition);
}
.header__toggleable-button:hover {
    transform: scale(1.5);
}

/****format search box****/
.region-search #edit-actions {
    @apply invisible;
}
.header__toggleable-button * {
    @apply outline-none;
}
.header__toggleable-button {
    outline:none!important;
}
.header__toggleable-button:hover i:before {
    @apply outline-none text-utc-new-gold-500;
}
.header--custom-header .header__main .fas {
    @apply text-utc-new-blue-500 text-xl outline-none;
}
.block--region-search form {
    @apply bg-white;
}
/*end search box*/

/****responsive menu icon****/
.toggle-offcanvas-sidebar { 
    @apply border-0 hidden;
}
.js-toggle-offcanvas-sidebar .fas:before {
    /***fontawesome fa-bars content***/
    content: "\f0c9";  
    transition: var(--utc-transition); 
}
.sidr-open .js-toggle-offcanvas-sidebar {
    transform: scale(1.5);
}
.sidr-open .js-toggle-offcanvas-sidebar .fas:before {
    /***fontawesome fa-times content***/
    content: "\f00d";
}
/****end responsive menu icon****/

/*apply now ribbon*/
@keyframes dropIn {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
.ribbon-container {
    @apply absolute right-2 z-1 top-0;
}
.ribbon-wrapper {
    @apply w-20 relative;
    animation-delay: 1s;
    animation: dropIn 1s linear forwards;
}
.ribbon {
    @apply absolute right-3 -top-1;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}
.ribbon > .ribbon-content {
    @apply text-center bg-utc-new-blue-500 w-16;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    transition:  all .5s ease-in-out;
  }
.ribbon.down > .ribbon-content {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 16px),
      50% 100%,
      0 calc(100% - 16px)
    );
}
.ribbon.up > .ribbon-content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 16px), 0 100%);
}
.ribbon-container {
    @apply p-0;
}
.ribbon-container:focus,
.ribbon-container:hover {
    @apply absolute;
}
.apply-now-ribbon {
    @apply p-0 text-lg text-white font-utcheadings font-bold relative inline-block mt-4 mb-7 mx-auto leading-6;
}
.ribbon-container:hover .apply-now-ribbon {
    @apply text-utc-new-gold-500;
}
.header__main__right a {
    @apply border-0 block font-utcbody font-normal px-5 text-utc-new-blue-500 outline-none;
}
.header__main__right a:hover {
    @apply text-utc-new-blue-500;
}
/***end apply now ribbon***/

/**begin scrolling sticky menu***/
.header {
    width: 100%;
    position:relative;
}
.fadeInDown {
    animation: fadeInDown .4s;
    position:fixed;
}
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-70px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 


/***end scrolling sticky menu***/
@media screen and (max-width: 1024px) {
    .header {
        height:68px!important;
    }
    .header__container-wrapper--header__main {
        @apply shadow-utc;
    }
    .header__container--boxed {
        @apply max-w-full;
    }
}
@media screen and (max-width: 768px) {
    .header--custom-header .header__main {
        @apply mr-28;
    }
    .header-container {
        @apply fixed w-full top-0 h-auto;
     }
     .top-bar-wrapper,.bottom-bar-wrapper,.header--custom-header .header__container-wrapper--header__main {
         height:unset;
     }
    .wide-nav {
        @apply hidden;
    }
    .toggle-offcanvas-sidebar {
        @apply block;
    }
    .toggle-offcanvas-sidebar:focus,
    .toggle-offcanvas-sidebar:hover {
        outline:none!important;
    }
    .sidr.right {
        width:13rem!important;
    }
    .d-flex { 
        @apply border-r border-gray-500 pr-8;
    }
    .menus-wrapper ul, #superfish-secondary-menu--2-accordion {
        /*allow for left shadow to show*/
        width:12.8rem!important;
    }
    .sidr ul.sf-menu.sf-accordion li.sf-expanded:last-child>ul {
        @apply mb-16;
    }
    .region-search .close-search-btn.top-0 {
        top:-1rem!important;
        right:1rem!important;
    }
    .region-search #edit-actions {
        @apply visible mr-6;
    }
}

@media screen and (max-width: 640px) {
    .bottom-bar-wrapper {
        @apply hidden;
      }
    .sidr {
        top: 59px;
    }
    .header-container {
        @apply fixed w-full top-0;
    }
    .header-container.bottom-bar-wrapper {
        @apply p-0 h-0;
    }
    .sidr.right {
        width:13rem!important;
    }
    .menus-wrapper ul, #superfish-secondary-menu--2-accordion {
        /*allow for left shadow to show*/
        width:12.8rem!important;
    }
    .sidr ul.sf-menu.sf-accordion li.sf-expanded:last-child>ul {
        @apply mb-16;
    }
    .region-search #edit-actions {
        @apply visible;
    }
    #edit-submit--2 {
        @apply text-sm mr-6;
    }
    .close-search-btn {
        @apply right-4;
        top:-1rem!important;
    }
}

@media screen and (max-width: 640px) {

    .sidr.right {
        right:-100%;
    }
    .sidr.right, .menus-wrapper, .menus-wrapper ul, #superfish-secondary-menu--2-accordion {
        width:100%!important;
    }
    .header__container {
       padding-top:1rem!important;padding-bottom:1rem!important;
    }
    /*.header__main__right {
        @apply pr-7;
    }
    ribbon-wrapper {
        @apply hidden;
    }*/
}

@media screen and (max-width: 480px) {
    .header {
        height: auto!important;
    }
    .header__container {
        padding-top: 0!important;
        padding-bottom:0!important;
    }
    #block-sitebranding-particle {
        height: 4rem;
        margin: 0;
        overflow: hidden;
        padding-top: .5rem;
        position: relative;
        width: 3rem;
    }
    .site-logo {
        height: auto;
        position: absolute;
        width: 20rem;
    }
    .header a.site-logo img {
        max-width: 20rem;
    }
    .sidr {
        top: 56px;
    }
}
