.header__main {
    /* // add heading */
    /* color: white; */
    @apply text-white;
    font-weight: 600;
}

#block-themag-st-sitebranding-3 {
    padding-left: 0.8125rem;
}

.header__container-wrapper--header__main {
    padding: 1rem 0;
    /* background-color: white; */
    @apply bg-white;
}

.header--custom-header .header__main {
    padding: 0.45rem 0;
}

.header--custom-header .header__main .header__social-menu a {
    /* color: blue; */
    @apply text-utc-new-blue-500;
}

.header--custom-header .header__main .header__social-menu a:hover {
    /* color: yellow; */
    @apply text-utc-new-gold-500;
}

.header--custom-header .header__main .fas {
    /* color: blue; */
    @apply text-utc-new-blue-500;
}

.header--custom-header .header__container-wrapper--header__main {
    border-bottom: 0;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
}

.header--custom-header .region-header-primary-menu {
    margin-left: 0;
}

.header--custom-header .header__social-menu {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

@media screen and (max-width: 992px) {
    .header--custom-header .header__main {
        /* color: blue; */
        @apply text-utc-new-blue-500;
    }
}

@media screen and (min-width: 992px) {
    .block--system-branding-block img {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .header__container-wrapper--header__main {
        -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    }
    .header__container--boxed {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .block--region-header-primary-menu>ul.menu>li>a {
        font-size: 12px;
        transition: all 0s ease-in-out;
    }
}


/****************new brandbar stuff 05/27/21 **************/

.header--custom-header .header__main {
    padding: .45rem 0;
}

.header a {
    color: unset;
    text-decoration: unset;
}

.header a:hover {
    color: unset;
    text-decoration: unset;
}

.header a.site-logo {
    position: absolute;
    width: 40%;
    overflow: hidden;
    max-width: 30rem;
}


/***ADD TAILWINDS??****/

.justify-end {
    justify-content: flex-end!important;
}

.w-40 {
    width: 10rem!important
}

.left-10 {
    left: 2.5rem!important
}

.bottom-1 {
    bottom: 0.25rem!important;
}

.mr-24 {
    margin-right: 6rem;
}

.mr-26 {
    margin-right: 6.5rem;
}

.mr-26 {
    margin-right: 7rem;
}

.mr-30 {
    margin-right: 7.5rem;
}

.mr-32 {
    margin-right: 8rem;
}

.-mt-3 {
    margin-top: -0.75rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.mx-3-half {
    margin-left: 0.875rem;
    margin-right: 0.875rem;
}

.h-15 {
    height: 3.75rem;
}


/* ~~~~~~~ New Navigation Format ~~~~~~~ */

.main-navigation-bar {
    background: rgba(17, 46, 81, 0.05);
}

.header a {
    outline: none;
    color: #112e51;
    top: 50%;
    transform: translateY(-50%);
}

.header a:hover,
.header a:focus {
    outline: none;
}


/*make navigation elements play nicely together*/

.header__main__left,
.header__main__right,
.movable-nav,
.region-header-primary-menu,
#block-utcbrandbarmenu-particle,
.region-header-secondary-menu {
    height: 100%!important;
}

#superfish-secondary-menu li.sf-depth-1 {
    height: fit-content!important;
    top: 50%;
    transform: translateY(-50%);
    min-height: 22px;
    cursor: pointer;
}

#superfish-secondary-menu .ul.sf-menu li.sf-depth-1:last-child .sf-with-ul {
    border-right: none;
}

ul.sf-menu li:hover>ul,
ul.sf-menu li.sfHover>ul {
    top: 2.4em!important;
}

.movable-nav {
    justify-content: right;
    display: flex;
}

#superfish-secondary-menu {
    height: 3.5rem
}

li.utc-main-nav-list-item {
    padding-bottom: 6px;
}

li.utc-main-nav-list-item:first-child {
    display: none;
}

@media (max-width:991px) {
    li.utc-main-nav-list-item:first-child {
        display: inline-block;
    }
    /*#apply-now-button {
        display: none;
    }*/
}

ul.sf-menu>li>a {
    padding: 15px 14px;
    color: #112e51;
    font-weight: 300;
    font-size: 0.889rem;
    text-transform: unset;
}

ul.sf-menu ul li a {
    top: 0;
    transform: unset;
}

ul.sf-menu>li.sf-depth-1 {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

ul.sf-menu>li.sf-depth-1:last-child a {
    border: none;
}

ul.sf-menu>li.sf-depth-1.sfHover {
    background-color: transparent;
    color: #fdb736;
}

.give-button {
    background: url('http://local.utccloud.com/sites/default/files/ribbon.png') no-repeat;
    width: 4rem;
    height: 4.25em;
    background-size: 4rem 4.25rem;
    margin-top: -18px;
    text-align: center;
    padding-top: 1.25rem;
}

.give-button a {
    -webkit-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
    color: #fff;
}

.give-button a:hover {
    font-size: 1.1rem;
    color: #fdb736;
}

.header__user-nav {
    margin-right: 1rem;
}


/**add effect to navigation to medium and larger screens**/

@media (min-width:992px) {
    a.hover,
    ul.sf-menu .sf-with-ul {
        text-decoration: none;
        position: relative;
        display: inline-block;
        border-right: 1px solid #112e51;
        padding-right: .8rem;
        padding-left: .8rem;
        margin: 0;
    }
    ul.sf-menu .sf-with-ul {
        padding-top: 3px!important;
        padding-bottom: 3px!important;
        padding-right: 24px!important;
        font-size: .875rem;
        font-weight: 200;
    }
    ul.sf-menu li.sf-depth-1:last-child .sf-with-ul {
        border-right: none;
    }
    a.hover::before,
    a.hover::after,
    ul.sf-menu .sf-with-ul::before,
    ul.sf-menu .sf-with-ul::after {
        content: "";
        position: absolute;
        bottom: -7px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.25s;
        opacity: 0;
        background-color: #fdb736;
    }
    a.hover.hover-3::before,
    ul.sf-menu .sf-with-ul::before {
        left: 50%;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
    }
    a.hover.hover-3::after,
    ul.sf-menu .sf-with-ul::after {
        right: 50%;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
    }
    a.hover:hover::before,
    a.hover:hover::after,
    ul.sf-menu .sf-with-ul:hover::before,
    ul.sf-menu .sf-with-ul:hover::after {
        width: 40%;
        opacity: 1;
    }
    .header--custom-header .header__main .fas {
        font-size: 1.4rem;
        -webkit-transition: color 0.5s, font-size 0.5s;
        transition: color 0.5s, font-size 0.5s;
        margin-right: 1rem
    }
}

.header--custom-header .header__main .fas:hover {
    font-size: 1.8rem;
    color: #fdb736;
}


/**add button effect to Apply Now**/

#apply-now-button {
    padding-left: 90%;
    margin-right: -90%;
}

.cl-effect-10 {
    position: relative;
    z-index: 1;
}

.cl-effect-10 a {
    overflow: hidden;
    margin: 0 15px;
    font-size: .9rem;
    font-weight: bold;
}

.cl-effect-10 a span {
    display: block;
    padding: 10px 15px;
    background: #fdb736;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-10 a::before {
    position: absolute;
    top: 9px;
    left: 90%;
    z-index: -1;
    padding: 10px 20px 9px 20px;
    width: 100%;
    background: #112e51;
    color: #fdb736;
    content: attr(data-hover);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    font-weight: bold;
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}


/**begin scrolling sticky menu***/

#utc-main-header {
    top: 0;
    width: 100%;
    z-index: 99;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.scrolled #utc-main-header {
    transform: translate3d(0, 0, 0);
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    max-height: 80px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
}

.scrolled #utc-main-header li.utc-main-nav-list-item:first-child {
    display: inline-block;
}

.scrolled .give-button,
.scrolled #apply-now-button {
    display: none;
}

.scrolled .header__main__left {
    margin-right: -7rem
}

.scrolled .header__user-nav {
    margin-right: 0;
    margin-left: 1rem;
}

.scrolled .header--custom-header .header__main .fas {
    margin-right: .5rem;
}

.scrolled .header__main__right {
    margin-top: -12px;
}


/*new responsive code to apply Power C to mobile*/

@media (max-width:1270px) {
    .scrolled .header a.site-logo {
        max-width: 25rem;
    }
}

@media (max-width:1220px) {
    .scrolled .header a.site-logo {
        max-width: 20rem;
    }
}

@media (max-width:1050px) {
    .scrolled .header a.site-logo {
        max-width: 15rem;
    }
}

@media screen and (max-width: 991px) {
    ul.sf-menu .sf-with-ul:hover {
        color: #fdb736;
    }
    #utc-main-nav {
        display: none;
    }
    #utc-main-header,
    .scrolled #utc-main-header,
    .main-navigation-bar {
        background: #fff;
    }
    .block--system-branding-block img {
        width: 240px;
    }
    .region-header-primary-menu {
        display: none;
    }
    .region-header-secondary-menu {
        min-width: 13rem
    }
    ul.sf-menu.sf-accordion .sf-sub-indicator:after {
        /* content: "▼"; */
        content: "";
    }
    ul.sf-menu li:hover>ul,
    ul.sf-menu li.sfHover>ul {
        top: 3.7rem!important;
    }
}

@media screen and (max-width: 768px) {
    .scrolled .header__main__right {
        margin-top: -6px;
        margin-bottom: -6px;
    }
}

@media screen and (max-width: 640px) {
    .header__container {
        padding-left: 0;
    }
    .region-logo {
        padding-left: .75rem;
    }
    .block--region-logo {
        position: relative;
        width: fit-content !important;
        overflow: hidden;
        width: 37px !important;
        margin-left: 0.3rem;
    }
    .region-logo {
        padding-left: .75rem;
    }
    .header a.site-logo {
        position: absolute;
        width: 240px !important;
        height: 30px !important;
    }
    .scrolled .header a.site-logo {
        max-width: unset;
    }
    ul.sf-menu ul li a,
    ul.sf-menu>li>a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .give-button {
        display: none;
    }
    .header--custom-header .header__main .fas {
        margin-right: 0
    }
}

@media screen and (max-width: 420px) {
    .header__toggleable-account-menu {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    /*Drupal 8 mega menu is no longer used. Superfish is now in play.*/
    .we-mega-menu-ul {
        max-width: 175px;
        margin-left: 6px;
    }
    .navbar-we-mega-menu.navbar .we-mega-menu-ul>li.we-mega-menu-li>a {
        padding-left: 6px;
        padding-right: 6px;
    }
    .navbar-we-mega-menu.navbar .we-mega-menu-ul>li.we-mega-menu-li[data-submenu='1']>a:after {
        margin-left: 4px;
    }
    /*TODO The code above can be removed later.*/
    .header__toggleable-account-menu {
        display: none;
    }
    .header__user-nav .js-toggle-search {
        padding-left: 12px;
        padding-right: 0;
    }
    .region-header-secondary-menu {
        min-width: 10rem;
    }
}

@media screen and (max-width: 320px) {
    .header a {
        top: unset;
        transform: unset;
    }
    .header__user-nav {
        position: absolute;
        right: 0;
        top: 12px;
    }
    #block-utcsecondarymenu {
        position: absolute;
        top: 18px;
        background: #fff;
        left: 80px;
    }
    #block-utcsecondarymenu #superfish-secondary-menu-accordion {
        border-bottom: 1px solid rgba(17, 46, 78, .5);
        margin-top: .7rem;
        width: 100%;
        min-width: 240px;
    }
    #block-utcsecondarymenu .sf-depth-1 {
        background: #fff;
        cursor: pointer;
    }
    #block-utcsecondarymenu .sf-depth-1:first-child {
        border-bottom: none;
    }
    #block-utcsecondarymenu .sf-depth-1.sf-with-ul {
        border-top: 1px solid rgba(17, 46, 78, .5);
    }
    ul.sf-menu li.sfHover>ul,
    ul.sf-menu li:hover>ul {
        margin-top: 0;
    }
}

@media screen and (max-width: 280px) {
    #utc-main-header,
    .main-navigation-bar,
    .scrolled #utc-main-headerr {
        height: 90px;
    }
    .header__main {
        flex-wrap: wrap;
    }
    .block--region-logo {
        position: relative;
        width: fit-content !important;
        overflow: visible;
    }
    .header--custom-header .header__main {
        padding-bottom: 3rem;
        width: 37px !important;
    }
    .scrolled #utc-main-header {
        background: #fff;
        height: 90px;
        max-height: unset;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
    }
    /***** code to accommodate Superfish *****/
    #block-utcsecondarymenu {
        top: 60px;
        left: 24px;
    }
    #block-utcsecondarymenu #superfish-secondary-menu-accordion {
        min-width: 256px;
    }
    #block-utcsecondarymenu #superfish-secondary-menu-accordion {
        margin-top: 1.15rem;
    }
    ul.sf-menu.sf-accordion,
    ul.sf-menu.sf-accordion ul,
    ul.sf-menu.sf-accordion li {
        max-width: 256px;
    }
    .header__container {
        padding-right: 0;
        padding-top: .5rem;
    }
    .header__main {
        flex-wrap: wrap;
    }
    .header--custom-header .header__main {
        padding-bottom: 3rem;
    }
    .header__main__right {
        width: 100%;
        margin-top: 1rem;
        justify-content: space-around;
    }
    .header__user-nav {
        top: 57px;
    }
    ul.sf-menu ul li {
        max-width: 95%;
    }
}


/*end new code*/

@media screen and (max-width: 992px) {
    .header__container-wrapper--header__main .header__container--boxed:nth-child(3) {
        display: none;
    }
}