<div id="wrapper">
  <div id="main">
    <div class="inner">


      <section class="tiles">

        {% include '@molecules/box-thumbnail.twig' with {title: 'Magna', style: 'style1', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image1.jpg', img_alt: "Image of a computer"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Lorem', style: 'style2', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image2.jpg', img_alt: "Image a sea"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Feugiat', style: 'style3', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image3.jpg', img_alt: "Train station"} %}

        {% include '@molecules/box-thumbnail.twig' with {title: 'Tempus', style: 'style4', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image4.jpg', img_alt: "Image of a man"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Aliquam', style: 'style5', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image5.jpg', img_alt: "flower"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Veroeros', style: 'style6', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image6.jpg', img_alt: "mountain"} %}

        {% include '@molecules/box-thumbnail.twig' with {title: 'Ipsum', style: 'style1', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image7.jpg', img_alt: "wall"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Dolor', style: 'style2', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image8.jpg', img_alt: "city from above"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Nullam', style: 'style3', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image9.jpg', img_alt: "mountains"} %}

        {% include '@molecules/box-thumbnail.twig' with {title: 'Ultricies', style: 'style5', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image10.jpg', img_alt: "field"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Dictum', style: 'style6', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image11.jpg', img_alt: "woman taking a picture"} %}
        {% include '@molecules/box-thumbnail.twig' with {title: 'Pretium', style: 'style4', subtitle: 'Etiam quis viverra lorem, in semper lorem.', img_src: '../../../../images/image12.jpg', img_alt: "a man looking from above a mountain"} %}
      </section>
    </div>
    {#End of inner#}
  </div>
  {#End of main#}
</div>
{#End of Wrapper#}
