$iconfont-close: "\ea01";
$iconfont-menu: "\ea02";
$iconfont-search: "\ea03";

@font-face {
  font-family: iconfont;
  src: url("./font/iconfont.eot");
  src: url("./font/iconfont.eot?#iefix") format("embedded-opentype"), url("./font/iconfont.woff2") format("woff2"), url("./font/iconfont.woff") format("woff"), url("./font/iconfont.ttf") format("truetype"), url("./font/iconfont.svg#iconfont") format("svg");
  font-style: normal;
  font-weight: 400;
}

%iconfont {
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
  font-family: iconfont, sans-serif;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


.test-icon {
  &::before {
    @extend %iconfont;
    content: $iconfont-close;
  }
}
