///
/// The printing output for icons, includes classes and font face.
///
@import 'icons-generated';
@import 'icon-mixins';
@import '~font-awesome/scss/mixins';
@import '~font-awesome/scss/variables';

// Creates the font face tag for font icons.
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot?cachebust=#{random(99999)}'); /* IE9 Compat Modes */
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/iconfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../font/iconfont.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "iconfont";
  font-weight: normal;
  font-style: normal;
}

@each $name, $value in (map_get($__iconfont__data, "iconfont")) {
  .icon--#{$name} {
    @include icon($name);
  }
}

// Font-Awesome Sass Examples
.fontawesome-example {
  &:before {
    @include fa-icon();
    content: $fa-var-train;
  }
}

.fontawesome-example2 {
  &:after {
    @include fa-icon();
    content: $fa-var-compass;
  }
}

.fontawesome-example3 {
  &:after {
    @include fa-icon();
    content: $fa-var-apple;
  }
}
