// Primary colors.
$color--primary--blue: #0B81C9;
$color--primary--orange: #F27A22;
$color--primary: $color--primary--blue;

// Secondary colors.
$color--secondary--blue: #0E6BAC;
$color--secondary: $color--secondary--blue;

$color--gray--white: hsl(0, 0%, 94.1%);
$color--gray--lightest: hsl(0, 0%, 85.9%);
$color--gray--lighter: hsl(0, 0%, 78%);
$color--gray--light: hsl(0, 0%, 70.2%);
$color--gray: hsl(228, 2.3%, 41.8%);
$color--gray--dark: hsl(0, 0%, 40%);
$color--gray--darker: hsl(0, 0%, 20%);
$color--gray--darkest: hsl(0, 0%, 16.1%);
$color--gray--black: hsl(0, 0%, 7.8%);
