{% embed "@base/grids/_smart-grid.twig" with {
  rowItems: {
    medium: 3
  }
} %}
  {% block gridItems %}

    {% embed "@molecules/caption-block/caption-block.twig" with {
      title: "Block 1",
      img: {
        landscape: "http://placeimg.com/640/360/tech"
      }
    } %}
      {% block body %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      {% endblock %}
    {% endembed %}

    {% embed "@molecules/caption-block/caption-block.twig" with {
      title: "Block 2",
      img: {
        landscape: img.square
      }
    } %}
      {% block body %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      {% endblock %}
    {% endembed %}

    {% embed "@molecules/caption-block/caption-block.twig" with {
      title: "Block 3"
    } %}
      {% block body %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      {% endblock %}
    {% endembed %}

  {% endblock %}
{% endembed %}
