<div class="container">
 <div class="row">
  <div class="col-sm-12">
    {% include '@molecules/card/_card.twig' with helper_card_main %}

    {% include '@molecules/card/_card.twig' with helper_card_text %}
   <div class="row">
    <div class="col-sm">
      {% include '@molecules/card/_card.twig' with text_card_1 %}
    </div>
    <div class="col-sm">
      {% include '@molecules/card/_card.twig' with text_card_2 %}
    </div>
    <div class="col-sm">
      {% include '@molecules/card/_card.twig' with text_card_3 %}
    </div>
   </div>

    {% include '@molecules/card/_card.twig' with helper_card_text_2 %}
    {% embed '@atoms/grid/_grid-3-up.twig' %}
      {% block column_1 %}
        {% include '@molecules/card/_card.twig' with text_card_1 %}
      {% endblock column_1 %}
      {% block column_2 %}
        {% include '@molecules/card/_card.twig' with text_card_2 %}
      {% endblock column_2 %}
      {% block column_3 %}
        {% include '@molecules/card/_card.twig' with text_card_3 %}
      {% endblock column_3 %}
    {% endembed %}

    {% include '@molecules/card/_card.twig' with helper_card_width %}
   <div class="row">
    <div class="col-sm-12">
      {% include '@molecules/card/_card.twig' with card_width_1 %}
      {% include '@molecules/card/_card.twig' with card_width_2 %}
      {% include '@molecules/card/_card.twig' with card_width_3 %}
    </div>
   </div>

    {% include '@molecules/card/_card.twig' with helper_card_image %}
   <div class="card-deck">
     {% include '@molecules/card/_card.twig' with top_image %}
     {% include '@molecules/card/_card.twig' with bottom_image %}
     {% include '@molecules/card/_card.twig' with overlay_image %}
   </div>

    {% include '@molecules/card/_card.twig' with helper_card_structure %}
   <div class="card-group">
     {% include '@molecules/card/_card.twig' with header_card %}
     {% include '@molecules/card/_card.twig' with footer_card %}
     {% include '@molecules/card/_card.twig' with list_card %}
   </div>

    {% include '@molecules/card/_card.twig' with helper_card_colors %}
   <div class="card-columns">
     {% include '@molecules/card/_card.twig' with card_background_1 %}
     {% include '@molecules/card/_card.twig' with card_background_2 %}
     {% include '@molecules/card/_card.twig' with card_background_3 %}
     {% include '@molecules/card/_card.twig' with card_background_4 %}
     {% include '@molecules/card/_card.twig' with card_border_1 %}
     {% include '@molecules/card/_card.twig' with card_border_2 %}
     {% include '@molecules/card/_card.twig' with card_border_3 %}
     {% include '@molecules/card/_card.twig' with card_border_4 %}
   </div>
  </div>
 </div>
</div>
