<div class="container">
  <h1>Card Grids Demonstration</h1>
  <p>This is for demonstration purposes only to show cards within a Grid. See code for usage examples within individual apps.</p>
  <hr>

  {% include '@organisms/card-grid/_card-grid.twig' %}
</div>
