$spacing--sm: 5px;
$spacing--l: 20px;

.u-spacing-down {
  margin-bottom: $spacing--l;
}

.u-spacing-up {
  margin-top: $spacing--l;
}

.u-gap-down {
  margin-bottom: $spacing--sm;
}

.u-gap-up {
  margin-top: $spacing--sm;
}
