{#
/**
 * @file
 * image--placeholder
 *   Implements holder.js for placeholder images.
 *
 * Available variables for image:
 *  - Inherit variables from @atoms/_image.twig
 */
#}

{% set imageStyleName = image.style|default('medium') %}

{# `imageStyles` defined in `_data/imageStyles.yaml` #}
{% set imageStyle = imageStyles[imageStyleName] %}

{% set imageText = imageStyle.width ~ 'x' ~ imageStyle.height %}

{# if there's no height, let's randomly get one somewhere between .75 and 1.25 times the width, in increments of 10 #}
{% if not imageStyle.height %}
  {% set height = random(range(imageStyle.width * 0.75, imageStyle.width * 1.25, 10)) %}
  {% set imageStyle = imageStyle|merge({height: height}) %}
  {% set imageText = imageStyle.width ~ 'wide, height varies' %}
{% endif %}

{# @TODO Move to dedicated JS #}
{# holder.js options #}
{% set options = {
  theme: 'gray',
  auto: 'yes',
  size: '8',
  lineWrap: '.9',
  text: imageStyleName ~ ' \n (' ~ imageText ~ ')',
} %}

{% set imgSrc = 'holder.js/' ~ imageStyle.width ~ 'x' ~ imageStyle.height|round ~ '?' ~ options|url_encode %}

{% if image.variant == 'bg' %}
  <div data-background-src="?{{ imgSrc }}" class="bg-img holderjs {{ image_classes }}"></div>
{% else %}
  <img data-src="{{ imgSrc }}"{% if image_classes %} class="{{ image_classes }}"{% endif %} alt="A placeholder image">
{% endif %}
