<pre>
  <code class="php">
    /*
     * PHP code block
     */
    $var_1 = "This is a string.";
    $array = array('var1' => $var_1);
    $array[] = 'var2' => 'another entry!';

    /**
     * Function comment.
     */
    function this_is_a_function($var) {
      // This is a comment.
      $var .= '!';
      return $var;
    }
  </code>
  <code class="css">
    // CSS Code
    .background default {
        background-color: "#777";
    }
  </code>
  <code class="scss">
    // SCSS Code
    $color-grey = "#777";
    $color-red  = "#ff000";
    $default-color = $color-grey;
    .background {
      .default {
        background-color: $color-default;
      }
      .flashy {
        background-color: $color-red;
      }
    }
  </code>
</pre>
