$c-red: hsl(352, 92%, 38%); // Primary Color. Used for links
$c-blue: hsl(208, 100%, 50%);

$c-white: white;
$c-gray--lightest: hsl(0, 0%, 89%);
$c-gray--lighter: hsl(0, 0%, 80%);
$c-gray--light: hsl(0, 0%, 60%);
$c-gray: hsl(0, 0%, 48%);
$c-gray--dark: hsl(0, 0%, 40%);
$c-gray--darker: hsl(0, 0%, 20%);
$c-gray--darkest: hsl(0, 0%, 16.1%);
$c-black: black;
