* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// IE 11 fix ~ http://stackoverflow.com/a/26207036
main {
  display: block;
}

// All last children
:last-child {
  margin-bottom: 0;
}

// all last children with a class
[class]:last-child {
  margin-bottom: 0;
}

