/**
 * A demo block to show BEM in action
 *
 */

.demo-block {
  width: 25%;
}
.demo-block--large {
  width: 100%;
}
.demo-block__title {
  font-size: 16px;
}
.demo-block__thumbnail {
  height: 60px;
  width: 60px;
}
