<div class="container">
  {% embed '@atoms/grid/_grid-1-up.twig' %}
    {% block column_1 %}
      <h1>Nav-Items</h1>
      {% include '@molecules/card/_card-helper.twig' with {
        card_text: nav_items_helper,
        card_background: 'secondary',
        text_color: 'light',
        button: {
          button_link: 'http://getbootstrap.com/docs/4.0/components/navs/',
        }
      } %}

      <div class="mb-3">
        <h1>&ltul&gt class and &lta&gt element</h1>
        <ul class="nav">
        {% for nav_item in nav.items %}
          {% set nav_item_element = nav_item|merge({ nav_item_element: 'li' }) %}
          {% include '@atoms/nav-item/_nav-item.twig' with nav_item_element %}
        {% endfor %}
        </ul>
      </div>

      <div class="mb-3">
        <h1>&ltnav&gt class &ltli&gt element</h1>
        <nav class="nav">
          {% for nav_item in nav.items %}
            {% set nav_item_element = nav_item|merge({ nav_item_element: 'a' }) %}
            {% include '@atoms/nav-item/_nav-item.twig' with nav_item_element %}
          {% endfor %}
        </nav>
      </div>

    {% endblock column_1 %}
  {% endembed %}
</div>

