{#
  Breadcrumb!

  breadcrumb_items: Array: A list of breadcrumbs to render.
  breadcrumb_title: String: The title of the breadcrumb
  breadcrumb_link: String: The URL of the breadcrumb

  see https://www.w3.org/TR/wai-aria-practices/#breadcrumb

  see https://getbootstrap.com/docs/4.0/components/breadcrumb/ for more details
#}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if loop.last %}
        <li class="breadcrumb-item active is-active" aria-current="page">{{ item.text }}</li>
      {% else %}
        <li class="breadcrumb-item"><a href="{{ (pl) ? '#' : item.url }}">{{ item.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
