<ul class="sg-colors">
  {{#colors}}
    <li>
      <div class="sg-swatch" style="background: {{value}};"></div>
      <div class="sg-info">
        <h6>{{value}}</h6>
        Sass Variable: <br>
        {{name}}
      </div>
    </li>
  {{/colors}}
</ul>
