{#
/**
 * @file
 * <%= name %>
 *
 * Available variables for <%= name %>:
 *    - <%= underscoreName %>.variable_name [variable_type]: Description of the variable. Example below.
 *    - <%= underscoreName %>.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="<%= name %>">

</div>
