<figure class="caption-block">
  <div class="caption-block__image">
    {% include "@atoms/_img.twig" %}
  </div>
  <figcaption class="caption-block__caption">
    {% if title %}<h3 class="caption-block__title">{{ title }}</h3>{% endif %}
    <div class="caption-block__body">
      {% block body %}
        <p>{{ excerpt.medium }}</p>
      {% endblock %}
    </div>
  </figcaption>
</figure>
