<div class="container">
  {% embed '@atoms/grid/_grid-1-up.twig' %}
    {% block column_1 %}
      <div class="mb-3">
        <h1 class="text-center">List Group</h1>
        {% include '@molecules/card/_card.twig' with list_group_helper %}
      </div>
      <div class="mb-3">
        {% include '@molecules/card/_card.twig' with list_group_helper_basic %}
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
           {% include '@atoms/list-group/_list-group.twig' with list_group_basic %}
         </div>
         <div class="col-sm-6">
           {% include '@atoms/list-group/_list-group.twig' with list_group_colors %}
         </div>
      </div>

      <div class="mb-3">
        {% include '@molecules/card/_card.twig' with list_group_helper_active %}
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <h2>Active Items</h2>
          {% include '@atoms/list-group/_list-group.twig' with list_group_active %}
        </div>
        <div class="col-sm">
          <h2>Disabled Items</h2>
          {% include '@atoms/list-group/_list-group.twig' with list_group_disabled %}
        </div>
        <div class="col-sm">
          <h2>Action</h2>
          {% include '@atoms/list-group/_list-group.twig' with list_group_action %}
        </div>
      </div>

      <div class="mb-3">
        {% include '@molecules/card/_card.twig' with list_group_helper_elements %}
      </div>


      <div class="row mb-3">
        <div class="col-sm">
          <h2>Link List</h2>
          {#{% for item in list_group_links %}#}
            {#{% set item_element = item|merge({ item_element: 'a', }) %}#}
          {#{% endfor %}#}
          {% include '@atoms/list-group/_list-group.twig' with list_group_links %}
        </div>


        {% for element in elements %}
          {% set buttonElement = element|merge({ button_color: 'success', }) %}
          {% include '@atoms/button/_button.twig' with buttonElement %}
        {% endfor %}

        <div class="col-sm">
          <h2>Button</h2>
          {% include '@atoms/list-group/_list-group.twig' with list_group_buttons %}
        </div>
      </div>

      <div class="mb-3">
        {% include '@molecules/card/_card.twig' with list_group_helper_other %}
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <h2>Badges</h2>
          {% include '@atoms/list-group/_list-group.twig' with list_group_badges %}
        </div>
        <div class="col-sm">
          <h2>Custom HTML</h2>
          {% include '@atoms/list-group/_list-group.twig' with list_group_custom %}
        </div>
      </div>

      <div class="mb-3">
        {% include '@molecules/card/_card.twig' with list_group_helper_toggleable %}
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <h2>Toggleable</h2>
          {% include '@atoms/list-group/_list-group.twig' with list_group_toggleable %}
        </div>
        <div class="col-sm">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">This is home content!</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">This is profile content!</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">This is messages content!</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">This is settings content!</div>
          </div>
        </div>
      </div>

    {% endblock column_1 %}
  {% endembed %}
</div>
