.utc-programs-page .utcpage-title {
  padding-top: 0.25rem;
}
/*.utc-programs-page .layout-container > .container {overflow-x:hidden;}*/
/****View header****/

.utc-programs-page
  .block--region-content-header.block--page-title-block
  .page-title,
.utc-programs-page .block--layout-builder.block--page-title-block .page-title {
  display: none;
}
.program-subhead {
  display: flex;
  justify-content: space-between;
  padding: 9px;
  background: #e7eaee;
  align-content: center;
  color: #112e51;
  margin-bottom: 12px;
  margin-top: 24px;
}
.utc-academic-programs-page {
  width: 90%;
  margin: 0 auto 6rem;
}
.utc-academic-programs-block {
  width: 100%;
  margin: 0 auto 2rem;
}
.utc-academic-programs-page h3 {
  display: inline;
  margin: 0;
}
.utc-academic-programs-page .program-results {
  text-align: right;
  font-size: 0.85rem;
  margin-top:3px;
}
.utc-academic-programs-page .lead {
  font-size: 1.1rem !important;
}
.utc-academic-programs-page .program-results span {
  font-weight: bold;
}
.program-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 249, 253, 1);
  z-index: 7;
  bottom: 0;
  left: 0;
}
.utc-programs-page .page-footer {
  z-index: 8;
  position: relative;
}
.utc-academic-programs-block .program-overlay {
  width: 150%;
  left: -50%;
}
/****View Filters Styles****/

.utc-academic-programs-form .view-filters {
  height: 200px;
}
.utc-academic-programs-form {
  position: relative;
  grid-template-columns: 2fr 1fr 1fr auto;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  column-gap: 24px;
  margin-bottom: 24px !important;
}
.utc-academic-programs-form .form-item {
  position: relative;
}
.utc-academic-programs-form .form-type-textfield {
  width: 100%;
  margin-left: 0;
}
input#edit-field-program-name-value {
  border-radius: 0;
}
input#edit-field-program-name-value:focus {
  border-color: #112e51;
}
.utc-academic-programs-form details summary {
  padding: 0.65rem;
  text-indent: -6px;
  font-family: Oswald, sans-serif;
  text-transform: capitalize;
  background: #e7eaee;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}

.utc-academic-programs-form details .details-wrapper {
  display: flex !important;
  z-index: 1;
  position: absolute;
  width: 100%;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.utc-academic-programs-form .details-description {
  font-size: 0.85rem;
  line-height: 1.2;
  margin-top: -12px;
  margin-bottom: 12px;
}
.utc-academic-programs-form .form-actions {
  margin-bottom: auto;
}
.utc-academic-programs-form .form-actions .button,
.utc-academic-programs-form .utc-directory-form input#edit-reset {
  margin-right: 0.278rem;
  background: #fff;
  border-radius: 0;
  border: 1px solid #112e51;
  color: #112e51;
  box-shadow: none;
  transition: all 0.4s ease-in-out;
}
.utc-academic-programs-form .form-actions .button:hover,
.utc-academic-programs-form .form-actions .button:active,
.utc-academic-programs-form .form-actions .button:visited,
.utc-academic-programs-form .utc-directory-form input#edit-reset:hover,
.utc-academic-programs-form .utc-directory-form input#edit-reset:active,
.utc-academic-programs-form .utc-directory-form input#edit-reset:visited {
  background: #112e51;
  color: #fff;
}
.utc-academic-programs-form .form-type-checkbox {
  display: flex;
  gap: 12px;
  justify-content: start;
}
.utc-academic-programs-form .form-type-checkbox label {
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 1.2;
}
a.bef-toggle.bef-toggle--select-all {
  margin-bottom: 6px !important;
  display: block;
}
@media (max-width: 1280px) {
  .utc-academic-programs-form .form-actions {
    margin-left: 0;
    margin-top: 0;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media (max-width: 1024px) {
  .utc-academic-programs-form details summary {
    font-size: 1rem;
  }
  .utc-academic-programs-form {
    grid-template-columns: 2fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .program-subhead h2.text-lg {
    font-size: 1.5rem !important;
  }
  .utc-academic-programs-form {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .utc-academic-programs-form details summary {
    font-size: 1.3rem;
    text-align: center;
  }
  .utc-academic-programs-form details .details-wrapper {
    z-index: 1;
    position: relative;
  }
  .utc-academic-programs-form .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
  .utc-academic-programs-form .form-actions .button {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .utc-academic-programs-form .form-checkboxes .form-item label.option {
    font-size: 1.1rem;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 0;
  }
  .utc-academic-programs-form .form-type-checkbox {
    margin-bottom: 9px;
  }
  .utc-academic-programs-form .form-checkboxes input {
    height: 24px;
    width: 24px;
    margin-right: 6px;
  }
}
@media (max-width: 320px) {
  .utc-academic-programs-form .form-actions .button,
  .utc-academic-programs-form .utc-directory-form input#edit-reset {
    padding: 9px 6px;
    font-size: 0.9rem;
  }
}

/****View Content Sytles***/
.utc-academic-programs-page {
  margin-bottom: 6rem;
}
.utc-programs-page .view-content {
  margin-top: 2rem;
}

.utc-programs-page .program-table {
  color: #112e51;
  width: 100%;
  border: 1px solid #112e51;
}
.utc-programs-block .program-table {
  border: none;
}
.utc-programs-page thead {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  font-family: Oswald, sans-serif;
  width: 100%;
  margin: 24px 0;
  border-bottom: 1px solid #112e51;
  padding-bottom: 9px;
}
.utc-programs-page .program-name {
  width: 20%;
}
.utc-programs-page tbody .program-name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
}
.utc-programs-page tbody .program-name div {
  display: block;
}
.utc-programs-page .degree,
.utc-programs-page .delivery {
  text-align: center;
  width: 10%;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}

.utc-programs-page .vert-left {
  border-left: 1px solid #112e51;
}

.utc-programs-page thead tr:first-child .degree,
.utc-programs-page thead tr:first-child .delivery {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.utc-programs-page tbody {
  margin-top: 48px;
}
.utc-programs-page tbody .degree,
.utc-programs-page tbody .delivery {
  color: #112e51;
  font-weight: bold;
  font-size: 1.2rem;
}
/*.utc-programs-page td.degree.bachelor {
  border-left: 1px solid #112e51;
}*/

.utc-programs-page tbody tr:nth-child(even) {
  background: rgba(231, 234, 238, 0.5);
}

.utc-programs-page tr {
  height: 70px;
  line-height: 1;
}
.utc-programs-page tbody td:first-child {
  padding-left: 12px;
}
.utc-programs-page tbody td {
  cursor: pointer;
  transition: all 0.2x ease-in-out;
}
.utc-programs-page tbody td .m-dash,
.utc-programs-page tbody td.degree .m-dash,
.utc-programs-page tbody td.delivery .m-dash {
  color: #bbb !important;
}

.utc-programs-page tbody tr:hover td,
.utc-programs-page tbody tr:hover td.degree,
.utc-programs-page tbody tr:hover td.delivery {
  color: rgba(17, 100, 132, 1);
}

.utc-programs-page tbody tr td.degree .checkmark,
.utc-programs-page tbody tr td.delivery .checkmark {
  width: fit-content;
  padding: 9px;
  height: fit-content;
}

.utc-programs-page tbody tr:hover {
  background: rgba(231, 234, 238, 1);
}

.offscreen-program-details {
  padding: 36px !important;
  position: fixed;
  width: 550px;
  z-index: 10000;
  display: inline-block;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -650px;
  transition: all 0.5s ease-in-out;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.1) -2px 5px;
}

.program-image {
  max-width: unset;
  width: 100%;
  height: auto;
}
.utc-programs-page .smaller-text {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 0;
}
.utc-programs-page .close-btn {
  text-align: right;
  margin-bottom: 24px;
  width: fit-content;
  height: 2rem;
  margin-left: auto;
  background: #fff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 1;
}
.utc-programs-page .close-btn .svg-inline--fa {
  height: 2.5rem;
  margin-top: -3px;
}
.utc-programs-page .close-btn:hover .svg-inline--fa path {
  fill: #fdb736;
}
.utc-programs-page .offscreen-program-details .responsive-video,
.page-node-type-utc-programs .responsive-video {
  position: relative;
  overflow: visible;
  height: 0;
  max-width: 100%;
  padding-bottom: 56.25%;
  margin-top: -12px;
}
.utc-programs-page .program-yt-iframe,
.page-node-type-utc-programs .program-yt-iframe {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.program-delivery {
  font-style: italic;
  margin-top: 12px;
  width: fit-content;
}
.utc-academic-programs-page thead.scrolled {
  position: sticky;
  top: 125px;
  bottom: 0;
  overflow-y: auto;
  background: #f9f9f9;
  height: 5vh;
  box-shadow: inset 0 -1px 0 #112e51;
}
.user-logged-in .utc-academic-programs-page thead.scrolled {
  top: 77px;
}
.utc-academic-programs-page thead th,
.utc-programs-block thead th {
  border-bottom: 1px solid #112e51;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media (max-width: 991px) {
  .utc-programs-page .program-table {
    border: 1px solid #ddd;
  }
  .utc-programs-page .program-name {
    padding-left: 18px !important;
  }
  .utc-programs-page tr {
    height: 100px;
  }
}
@media (max-width: 640px) {
  .offscreen-program-details {
    width: 100%;
  }
  .utc-academic-programs-page thead.scrolled {
    position: relative;
  }
}
@media (max-width: 460px) {
  .utc-programs-page .vert-left {
    border-left: unset;
  }
  .utc-programs-page tr.program-block {
    height: unset;
  }
  .utc-academic-programs-page .scroll-to-top-button {
    z-index: 1000000000000000;
  }
  .program-subhead {
    flex-direction: column;
  }
  .utc-academic-programs-page p {
    font-size: 1.2rem !important;
  }
  .utc-academic-programs-page .program-copy p,
  .program-copy li {
    font-size: 1.1rem !important;
  }
  .program-copy ul {
    padding-left: 1.5rem;
  }
  .utc-academic-programs-page .program-results {
    font-size: 1rem;
    text-align: left;
    margin-top: 6px;
  }
  /* Force table to not be like tables anymore */
  .utc-programs-page table,
  .utc-programs-page tbody,
  .utc-programs-page th,
  .utc-programs-page td,
  .utc-programs-page tr {
    display: block;
  }
  .utc-programs-page .program-table {
    border: none;
    margin-top: 12px;
  }
  .utc-programs-page thead {
    border: none;
    text-align: center;
    height: 36px;
    position: relative;
    top: unset;
    min-width: 100%;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .utc-programs-page tbody {
    margin: 0;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  .utc-programs-page thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: #fff;
  }
  .utc-programs-page tbody tr:nth-child(2n) {
    background: rgba(231, 234, 238, 1);
  }
  .utc-programs-page tbody tr:nth-child(2n):hover {
    background: #fff;
  }
  .utc-programs-page tbody .degree:last-child {
    border-right: none !important;
    border-bottom: 1px solid #112e51;
  }
  .utc-programs-page tr {
    border: 1px solid #112e51;
  }
  .utc-programs-page tr {
    height: unset;
  }
  .utc-programs-page td.hybrid {
    border-top: 1px solid #ccc;
  }
  .utc-programs-page th,
  .utc-programs-page td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    width: unset;
    border-right: none;
    border-left: none;
    padding-left: 120px !important;
    text-align: center !important;
    height: 48px;
    width: 100% !important;
    padding-top: 12px;
  }
  .utc-programs-block th {
    border-bottom: 1px solid #112e51;
  }
  .utc-programs-page td:last-child {
    border: none;
  }
  .utc-programs-page td.degree.certificate,
  .utc-programs-page tbody tr:nth-child(2n) td {
    /* Behave  like a "row" */
    border-bottom: 1px solid #ccc;
  }
  .utc-programs-page tbody tr:nth-child(2n) td:last-child {
    /* Behave  like a "row" */
    border-bottom: none;
  }
  .utc-programs-page tbody td.program-name {
    background: #112e51;
    color: #fdb736;
    font-size: 1.2rem;
    white-space: normal;
    hyphens: auto;
    word-break: normal;
    height: fit-content;
    min-height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 1.1;
    padding-top: 0;
    padding-left: 120px !important;
    padding-right: 6px;
  }
  .utc-programs-page tbody td.program-name:before {
    color: #fff;
  }
  .utc-programs-page tbody td.program-name {
    flex-direction: column;
    line-height: 1.1;
    justify-content: center;
  }

  .utc-programs-page td.degree.minor,
  .utc-programs-page .delivery:last-child {
    border-right: none;
  }
  .utc-programs-page .program-name {
    width: unset;
    border-right: none;
  }
  .utc-programs-page td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 12px;
    left: 6px;
    width: 115px;
    padding-right: 10px;
    white-space: nowrap;
    color: #112e51;
    text-align: right;
    font-weight: 500;
    font-family: Oswald, sans-serif;
    font-size: 1.3rem !important;
  }
  .utc-programs-page td.online-100:before {
    top: 15px;
  }
  /*
	Label the data
	*/
  .utc-programs-page td:nth-of-type(1):before {
    content: 'Program Area:';
    top:18px
  }
  .utc-programs-page td:nth-of-type(2):before {
    content: 'Bachelor:';
  }
  .utc-programs-page td:nth-of-type(3):before {
    content: 'Minor:';
  }
  .utc-programs-page td:nth-of-type(4):before {
    content: 'Master:';
  }
  .utc-programs-page td:nth-of-type(5):before {
    content: 'Doctoral:';
  }
  .utc-programs-page td:nth-of-type(6):before {
    content: 'Certificate:';
  }
  .utc-programs-page td:nth-of-type(7):before {
    content: 'In Person/Online:';
  }
  .utc-programs-page td:nth-of-type(8):before {
    content: 'In Person Only:';
  }
  .utc-programs-page td:nth-of-type(9):before {
    content: 'Online Only:';
  }
  input#edit-field-program-name-value {
    border-radius: 0;
    font-size: 1rem;
  }
  div#edit-field-program-name-value--description {
    font-size: 1rem;
    text-align: center;
    width: 90%;
  }
}

/****Toggle button add 8.22.24***/
.online-tag {
  background-color: rgba(253, 183, 54, 0.75);
  margin-top: 6px;
  padding: 0.1rem 0.3rem;
  text-transform: uppercase;
  font-size: 0.7875rem;
  font-weight: 500;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: #112e51;
  border-radius: 0.2rem;
}
.utc-academic-programs-form .form-type-checkbox.form-item-field-online-available-value {
  justify-content: start;
  flex-direction: column;
  gap: 3px;
  margin-top: 0px;
  align-items: center;
}
.form-item-field-online-available-value:before {
  content: '100% Online Available';
  font-family: Oswald, sans-serif;
  font-size: 0.9rem;
  color: #112e51;
}
.form-item-field-online-available-value input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.form-item-field-online-available-value label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.form-item-field-online-available-value label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.form-item-field-online-available-value input:checked + label {
  background: #fdb736;
}
.form-item-field-online-available-value input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

@media (max-width: 768px) {
  .utc-programs-page thead:before {
    content: 'Touch a program to get more details.';
    border: none;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    font-family: Raleway, sans-serif;
  }
  .utc-academic-programs-form .form-item-field-online-available-value:before {
    font-size: 1.3rem;
  }
  .utc-academic-programs-form .form-item-field-online-available-value {
    margin-top: 18px;
    margin-bottom: -18px;
  }
  .utc-academic-programs-form .form-type-checkbox.form-item-field-online-available-value {margin-top:12px;}
}
@media (max-width: 460px) {
  .online-tag {
    background-color: rgba(253, 183, 54, 1);
    margin-bottom: 9px;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 9px;
  }
}
