{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}
  {% block column_1 %}
    <h1 class="mb-3">Jumbotron</h1>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p class="lead">Lightweight, flexible component for showcasing hero unit style content.</p>
      <p>
        The Jumbotron is fairly basic. Use the <code>jumbotron_fluid</code> boolean variable to manage the type.
      You can adjust the default background color and padding via Bootstrap variables in the <code>_jumbotron.scss</code> file via <code>$jumbotron-padding</code> and <code>$jumbotron-bg</code>.
      </p>
      <div><a href="https://getbootstrap.com/docs/4.0/components/jumbotron/" target="_blank" rel="noopener noreferrer">Bootstrap Documentation</a></div>
    </div>
    <hr>

    {% block jumbo_basic %}
      {% include '@molecules/jumbotron/_jumbotron.twig' with basic_jumbotron %}
    {% endblock %}

    {% block jumbo_fluid %}
      {% include '@molecules/jumbotron/_jumbotron.twig' with fluid_jumbotron %}
    {% endblock %}


  {% endblock %}
{% endembed %}
