<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

    <!-- start:headerCSS -->
    <link href="../../../../css/style.css" media="all" />
    <!-- end:headerCSS -->

    <!-- start:headerJS -->
    <script src="../../../../bower_components/modernizr/modernizr.js"></script>
    <script src="../../../../bower_components/drupal/index.js"></script>
    <!-- start:headerJS -->

  </head>
  <body class="{{ bodyClass }}">
