<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->
    
    <!-- inject:css -->
    <link rel="stylesheet" href="../../../../bower_components/highlightjs/styles/default.css">
    <link rel="stylesheet" href="../../../../css/style.css">
    <!-- endinject -->
    
  </head>
  <body class="{{ bodyClass }}">
