
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

  <!-- start:footJS -->
  <script src="../../../../js/lib/modernizr-custom.js"></script>
  <script src="../../../../js/script.js"></script>
  <!-- end:footJS -->
	
	
	</body>
</html>