    <!--DO NOT REMOVE-->
    {% pattern-lab-foot %}
    
    <!-- inject:js -->
    <script src="../../../../bower_components/drupal/index.js"></script>
    <script src="../../../../bower_components/highlightjs/highlight.pack.js"></script>
    <script src="../../../../bower_components/lodash/lodash.js"></script>
    <script src="../../../../bower_components/jquery/jquery.js"></script>
    <script src="../../../../js/script.js"></script>
    <!-- endinject -->
  </body>
</html>
