    <!--DO NOT REMOVE-->
    {% pattern-lab-foot %}

    <!-- start:footerJS -->
    <script src="../../../../bower_components/lodash/lodash.js"></script>
    <!-- end:footerJS -->

  </body>
</html>
