////
/// @group fonts
////

// Some of the font families have to be renamed to use the proper one once we have the web font provider setup.
///
$font--family--regular: "Lato", sans-serif;
///
$font--family--alternate: "Tisa Pro", sans-serif;

// Font Sizes
///
$font-size--12px: 12px;
///
$font-size--14px: 14px;
///
$font-size--18px: 18px;
///
$font-size--24px: 24px;
///
$font-size--30px: 30px;
///
$font-size--36px: 36px;

