{#
/**
 * @file
 * svgicon
 *
 * Available variables for svgicon:
 *    - svgicon.svgname [string]: String filename of the SVG to use from svg/
 *    - svgicon.svgfill [string]: Pass in a theme-color to colorize the SVG.
 *    Otherwise it will default to black.
 */
#}

<div class="svgicon-default{{ svgfill ? " color-fill--" ~ svgfill : ""}}">
  <svg viewBox="0 0 500 500">
      <use xlink:href="{{paths.assets}}/spritemap.svg?cacheBuster={{ randomNumber }}#sprite-{{svgname}}"></use>
  </svg>
</div>
