@tailwind base;
@tailwind components;
@tailwind utilities;
/*
Example: Google Remote Fonts
Serif - Google Fonts - Oswald
Sans-Serif - Google Fonts - Open Sans
Monospace - Google Fonts - Source Code Pro
*/
@import url(https://fonts.googleapis.com/css?family=OpenSans|Oswald|SourceCodePro&display=swap);
body {
  @apply font-body;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
a {
  @apply text-blue-500;
}
code {
  @apply text-pink-500;
}
tr {
  @apply text-left;
}

/*
  pseudo-class variants directives
  example usage:
    <div class="rotate-0 hover:rotate-90"></div>
*/
@variants focus, hover {
  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .rotate-270 {
    transform: rotate(270deg);
  }
}
