@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply font-body;
} */

/* .dingo {
  background: red;
  padding: 10px;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
} */
