<div class="icons-demo" id="icons">
  
  <div class="icons__item" data-name="close">
    <i class="icon--close"></i> icon--close
  </div>
  
  <div class="icons__item" data-name="menu">
    <i class="icon--menu"></i> icon--menu
  </div>
  
  <div class="icons__item" data-name="search">
    <i class="icon--search"></i> icon--search
  </div>
  
</div>