{% extends '@atoms/grid/_grid-1-up.twig' %}
{% set container = true %}

{% block column_1 %}
  <h1>Example Vue Apps</h1>

  <div class="row">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
      {% include '@molecules/example-widget/_vue-facet-table-vuex.twig' %}
    </div>
  </div>
{% endblock column_1 %}
