{% extends '@atoms/grid/_grid-1-up.twig' %}
{% set container = true %}

{% block column_1 %}
  <h1>Example Widget</h1>

  {% include '@molecules/example-widget/_example-widget.twig' %}
{% endblock column_1 %}
