{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
    <h1 class="mb-3">Branding Examples</h1>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p class="lead">Different applications of a branding block.</p>
      <p>These can be placed inside a Jumbotron to display a branding block.</p>
    </div>
    <hr>

    {% embed '@atoms/grid/_grid-2-up.twig' with { container: false } %}

      {% block column_1 %}
        {% include "@atoms/branding/_branding.twig" with {
          url: '#',
          logo_svg_inline: '@atoms/branding/logo.svg',
          site_name: 'Particle',
          site_slogan: 'Site Slogan that Describes the Logo Above with Inline SVG'
        } %}
      {% endblock column_1 %}

      {% block column_2 %}
        {% include "@atoms/branding/_branding.twig" with {
          url: '#',
          logo_img_src: paths.images ~ '/logo.svg',
          site_name: 'Particle',
          site_slogan: 'Site Slogan that Describes the Logo Above with Src SVG'
        } %}
      {% endblock column_2 %}

    {% endembed %}
  {% endblock column_1 %}
{% endembed %}
