/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Base PRINTING (generated) CSS styles
--------------------------------------------------------------------------------
WARNING: Do NOT include this file in other .scss files. It WILL duplicate
output. Instead, import as a dependency in a component's .js file.

For instance, from @molecules/card/index.js:

  import 'protons';
  import 'atoms/button';

This guarantees both de-duplication and existence of required, generated CSS.

The non-printing variables, functions, and mixins of:
  @import ~tokens/sass/non-printing/non-printing;
are provided to this file via:
  webpack.particle.js: sass-loader.data
--------------------------------------------------------------------------------
*/

// Bring in all Bootstrap printing styles, customized by
//   00-protons/non-printing/_bootstrap-overrides.scss
@import 'bootstrap-printing';

// Utility Classes
@import 'utilities/breakpoints';
@import 'utilities/svg';

// Custom CSS-generating output
@import 'type';
@import 'elements';
