{#
/**
 * @file
 * basic-page
 *
 * Available variables for basic-page:
 *    - basic_page.variable_name [variable_type]: Description of the variable. Example below.
 *    - basic_page.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="basic-page">
  <div class="basic-page__inner">
    {% block content %}

    {% endblock %}
  </div>
</div>