/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Color Variables
--------------------------------------------------------------------------------
*/

/*
----------------------------------------
Grayscale Colors
----------------------------------------
  Base color values are for reference.
  Use directly from maps in code.
----------------------------------------
  @see $neutral-hues
----------------------------------------
*/
$c-white-base: #fff;
$c-gray-lightest: #f4f4f4;
$c-gray-light: #e4e4e4;
$c-gray-base: #d5d5d5;
$c-gray-dark: #b6b6b6;
$c-gray-darkest: #2b2b2b;
$c-black-base: #000;

/*
----------------------------------------
Palette Colors
----------------------------------------
  Base color values are for reference.
  Use directly from maps in code.
----------------------------------------
  @see $primary-colors
  @see $secondary-colors
----------------------------------------
*/
$c-pink-base: pink;
$c-goldenrod-base: goldenrod;

/*
----------------------------------------
Neutral Hues
----------------------------------------
  The neutral hue palette offers a
  variety of gray-scale colors.
----------------------------------------
*/
$neutral-hues: (
  'lightest-gray': $c-gray-lightest,
  'light-gray': $c-gray-light,
  'gray': $c-gray-base,
  'dark-gray': $c-gray-dark,
  'darkest-gray': $c-gray-darkest,
);

/*
----------------------------------------
Primary Colors
----------------------------------------
  Primary color palette map
----------------------------------------
*/
$primary-colors: (
  'pink': $c-pink-base,
  'goldenrod': $c-goldenrod-base,
);

/*
----------------------------------------
Color Aliases
----------------------------------------
  Merge palette colors maps into a
  bootstrap aliased color set.

  @see $primary-colors
  @see $neutral-hues
----------------------------------------
*/
$color-aliases: (
  'pink': map-get($primary-colors, 'pink'),
  'goldenrod': map-get($primary-colors, 'goldenrod'),
  'light': map_get($neutral-hues, 'lightest-gray'),
  'dark': map_get($neutral-hues, 'darkest-gray'),
);
