/* style view filters */
.lib-item-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}
.lib-item-form .form-item {
  margin-left: 0.5rem;
}

.lib-item-form .form-actions {
  display: none;
}
.lib-item-form .form-item label,
.lib-item-form legend {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  @apply text-utc-new-blue-500;
}

/* style search and select menus */

.lib-item-form .js-form-item-search {
  flex-grow: 10;
}

.js-form-type-select {
  flex-grow: 1;
}

.lib-item-form .form-input,
.lib-item-form .form-select {
  height: 55px;
  width: 100%;
  border: 2px solid;
  border-radius: 0;
  @apply bg-white;
  @apply border-utc-new-blue-500;
  @apply text-utc-new-blue-500;
  font-size: 1.25rem;
}

/* style checkboxes */
.lib-item-form .form-item label.option {
  font-size: 1rem;
}

.lib-item-form .form-checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lib-item-form .form-input.form-checkbox {
  width: 1.25rem;
  height: 1.25rem;
}

.lib-item-form .form-input.form-checkbox:checked {
  @apply bg-utc-new-blue-500;
}

/* if form is in full width container */

.container-full .lib-item-form-container {
  margin: 0rem -1rem;
  @apply bg-gray-200;
}

.container-full .view-utc-library-item .view-content,
.container-full .lib-item-form {
  margin: 0rem 5rem 1rem;
  padding: 1.5rem 0rem 3rem;
}

.container-full .lib-item-form .form-input,
.container-full .lib-item-form .form-select {
  border: 0;
  border-radius: 0;
  @apply border-gray-400;
}

@media (min-width: 1024px) {
  .utc-item-two-col .utc-item-card__view-two-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .utc-item-two-col .utc-item-card__view-two-col > .utc-item-card__container {
    width: 49%;
  }
}
.utc-item-card__container {
  margin-bottom: 30px;
}

.utc-item-card {
  @apply bg-white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  border: 0;
  border-radius: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

a .utc-item-card:hover {
  @apply bg-gray-200;
  box-shadow: 0 10px 15px -3px rgba(#000, 0.2), 0 4px 6px -2px rgba(#000, 0.05);
}

.utc-item-card h3 {
  font-size: 1.35rem;
}

h2:first-child {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .utc-item-card {
    min-height: 150px;
  }
}

.utc-item-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.utc-item-card .media-image {
  height: 100%;
}

.utc-item-card .field--name-field-image {
  flex: 0 1 35%;
}

.utc-item-card__body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  flex: 1 0 75%;
}

@media (min-width: 768px) {
  .utc-item-card {
    flex-direction: row;
  }
}

.utc-item-card__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.utc-item-card__content {
  margin-bottom: 0rem;
}

.utc-item-card__action-container--line {
  border-top: 1px solid #c0c9d0;
  padding-top: 0.75rem;
  margin-top: 0.5rem;
}

.utc-item-card__action-container--gray-bg {
  @apply bg-gray-200;
  margin: 0.5rem -1.25rem -1.25rem;
}

.utc-item-card__action-container--gray-bg .utc-item-card__action {
  padding: 1rem;
}

.utc-item-card__action .btn {
  margin-bottom: 0;
}

.utc-item-card__badges ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}

.utc-item-card__badges ul li {
  @apply bg-gray-300;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 10rem;
  font-size: 0.95rem;
  line-height: 0.95rem;
}

a .utc-item-card__body {
  @apply text-black;
}
