blockquote {
    width: 100%;
    margin: 2rem auto;
    font-style: italic;
    padding: 2rem 3rem;
    background: #eee;
    border: none;
}

blockquote:before {
    display: none;
}

blockquote p {
    border-left: 12px solid #cbd5e0;
    padding-left: 2rem;
}

blockquote p:before {
    content: '\201C';
    font-family: Georgia, serif;
    margin-right: .5rem;
    margin-left: -.5rem;
    --tw-text-opacity: 1;
    color: rgba(203, 213, 224, var(--tw-text-opacity));
    font-size: 5em;
    line-height: .1em;
    vertical-align: -.4em;
}

blockquote p:after {
    content: "\201D";
    font-family: Georgia, serif;
    padding-right: 2rem;
    --tw-text-opacity: 1;
    color: rgba(203, 213, 224, var(--tw-text-opacity));
    font-size: 5em;
    vertical-align: -.5em;
    margin-left: -.1rem;
    position: absolute;
    margin-top: -.25em
}