.lib-events-box {
  height: 325px;
  overflow-x: hidden;
  margin-top: 5px;
  overflow-y: scroll;
  border-radius: 0;
  font-size: 0.9rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  @apply border-gray-200;
}

.lib-events-box__item {
  @apply bg-white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  min-width: 0;
  border: 0;
  border-radius: 0;
  margin-top: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.lib-events-box__item:hover {
  @apply bg-gray-200;
}

a.lib-events-box__link:hover {
  @apply text-utc-new-blue-500;
  text-decoration: none;
}

.lib-events-box__event-date {
  flex: 0 1 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  border-right: 2px solid;
  margin: 0.5rem 0rem;
  @apply border-utc-new-blue-500;
}

.lib-events-box__event-date-day {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.25rem;
  line-height: 2.25rem;
}
.lib-events-box__event-date-month {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}
.lib-events-box__event-details {
  padding: 0.75rem;
  height: auto;
  flex: 1 0 75%;
  display: flex;
  flex-direction: column;
}
.lib-events-box__item-title {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.lib-events-box__event-time {
  @apply text-gray-700;
  font-size: 0.85rem;
}

.lib-events-box__item-badge {
  margin: 0;
  padding: 0;
}

.lib-events-box__item-badge--faculty-workshop {
  @apply text-red-900;
  text-transform: uppercase;
  font-weight: 400;
}

.lib-events-box__item-badge--workshop {
  @apply text-blue-700;
  text-transform: uppercase;
  font-weight: 400;
}

.lib-events-box__item-badge--event {
  @apply text-green-800;
  text-transform: uppercase;
  font-weight: 400;
}

/* workshops */

/* filter */
.view-utc-library-workshops-feed .form-select {
  height: 50px;
  width: 100%;
  border: 2px solid;
  border-radius: 0;
  @apply bg-white;
  @apply border-utc-new-blue-500;
  @apply text-utc-new-blue-500;
  font-size: 1rem;
}

.view-utc-library-workshops-feed label:not(.option) {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  @apply text-utc-new-blue-500;
}

.lib-event-card {
  @apply bg-white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  min-width: 0;
  border: 0;
  border-radius: 0;
  margin-top: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.lib-event-card__img {
  flex: 0 1 35%;
}

.lib-event-card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .lib-event-card {
    flex-direction: column;
  }
  .lib-event-card__img img {
    height: 150px;
  }
}
.lib-event-card__event-date {
  @apply bg-white;
  padding: 1rem;
  position: absolute;
  top: 16px;
  left: 16px;
}

.lib-event-card__event-date-day {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3.25rem;
  line-height: 3.25rem;
  display: block;
  text-align: center;
}
.lib-event-card__event-date-month {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.lib-event-card__description {
  flex: 1 0 65%;
  padding: 0rem 0.5rem;
  font-size: 0.9rem;
}

.lib-event-card__title {
  font-size: 1.5rem;
}

.p-description {
  font-size: 0.9rem;
}

.lib-event-card__event-full-date {
  margin-left: 0.5rem;
}

.lib-event-card__event-time {
  margin-left: 0.5rem;
}

.lib-event-card__event-location {
  margin-left: 0.5rem;
  margin-bottom: 10px;
}

.lib-event-card__event-register {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

p:empty {
  display: none;
}
div.vevent div:last-child {
  display: none;
}

.p-name {
  display: none;
}
.h-event {
  min-height: 7em;
}
