

blockquote {
  /* font-family: $utc-headings; */
  font-weight: 700;
  /* //background-color: $utc-lightyellow; */
  border-left: 12px solid gray;
  /* margin: 1.5em 9px; */
  padding: 0.5em 9px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: gray;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  visibility: hidden;
  content: close-quote;
}

blockquote p {
  display: inline;
}
