/* // UTC Styles for employees */

.figure-caption-utc {
  font-size: 90%;
  /* color: #6c757d; */
  @apply text-gray-600;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 0.2rem;
}
/* 
// coming in from bootstrap, will refactor later
// .pt-3,
// .py-3 {
//   padding-top: 0 !important;
// } */
