/* styles for research guide list */

/* filter styles */
#views-exposed-form-utclib-guides-block-1 .form-select,
#views-exposed-form-utclib-guides-block-1 input[type='text'] {
  height: 50px;
  width: 100%;
  border: 2px solid;
  border-radius: 0;
  @apply bg-white;
  @apply border-utc-new-blue-500;
  @apply text-utc-new-blue-500;
  font-size: 1rem;
}

#views-exposed-form-utclib-guides-block-1 .form-item label:not(.option) {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  @apply text-utc-new-blue-500;
}
/* guide type header */
.view-utclib-guides .view-grouping-header {
  margin-top: 1.5rem;
  font-family: 'Exo', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  @apply text-utc-new-blue-500;
}

.view-utclib-guides h3 {
  display: none;
}

.view-utclib-guides .view-grouping-content {
  display: flex;
  flex-wrap: wrap;
}

/* guide container */
.view-utclib-guides .utclib-guide {
  width: 48%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .view-utclib-guides .utclib-guide {
    width: 100%;
  }
}

/* guide link style */
.view-utclib-guides .utclib-guide--link {
  width: 100%;
  @apply bg-white;
  border: 1px solid #edf2f7;
  box-shadow: 0 6px 8px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-left: 5px solid #112e51;
  margin: 5px 8px;
  padding: 4px 12px;
  border-radius: 0;
}

.view-utclib-guides .utclib-guide--link:hover {
  @apply text-utc-new-blue-500;
  border: 1px solid #edf2f7;
  border-left: 5px solid #fdb736;
  @apply bg-gray-100;
  font-weight: 600;
}

/* new databases box */

.utclib-embed--new-databases h2.block__title {
  display: block;
  @apply text-utc-new-blue-500;
  font-family: 'Exo', 'Helvetica Neue', sans-serif;
  text-transform: none;
  @apply bg-gray-200;
  padding: 0.75rem 1.25rem;
  margin: 0;
  font-weight: 700;
  font-size: 1.15rem;
}

.utclib-embed--new-databases {
  @apply bg-white;
  word-wrap: break-word;
  border: 0;
  border-radius: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.utclib-embed--new-databases .utclib-embed-content {
  padding: 0.9rem;
}

.s-lg-link-list {
  list-style-type: none;
  padding-left: 0.5rem;
  margin-bottom: 0;
}
ul.s-lg-link-list li {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

ul.s-lg-link-list li a {
  font-weight: bold;
  font-size: 1rem;
  @apply text-utc-new-blue-500;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.s-lg-link-desc,
.s-lg-link-desc a {
  font-size: 0.9rem !important;
}

ul.s-lg-link-list li:last-child {
  border-bottom: 0px;
  margin-bottom: 0rem;
}
