/*----------
show/hide vertical and horizontal buttons based on media query
disabled until solution for back to top arrow found.
@include media-breakpoint-only(xl) {
    div#sliderVertical {
        display: none;
    }
}
@include media-breakpoint-down(lg) {
    div#sliderHorizontal {
        display: none;
    }
}
---------- */
.lib-help--horizontal {
  display: none;
}

/*---------- position and size div containers for buttons ---------- */
.lib-help {
  position: fixed;
  z-index: 400;
}
/*
.lib-help--horizontal {
  display: block;
  min-width: 13rem;
  bottom: 1rem;
  right: 1rem;
  transition: 5s;
} */

.lib-help--vertical {
  bottom: 30%;
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  right: -15rem;
}

/*---------- help button ---------- */
.lib-help__btn-main {
  font-size: 1.1rem;
  line-height: 1.5;
  display: block;
  @apply bg-red-900;
  @apply text-white;
  cursor: pointer;
  border-radius: 0;
  padding: 0.6rem 1.6rem;
  text-align: center;
}

.lib-help__btn-main:hover {
  @apply bg-utc-new-gold-500;
  @apply text-red-900;
}

.lib-help__btn-main--gold {
  @apply bg-utc-new-gold-500;
  @apply text-red-900;
}

.lib-help__btn-main--gold:hover {
  @apply bg-red-900;
  @apply text-utc-new-gold-500;
}

.lib-help__btn-main--vertical {
  width: 3rem;
  line-height: 1.5rem;
  height: 13rem;
  padding: 1.2rem 0.5rem;
}

.lib-help__icon::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f075';
  margin-right: 0.3rem;
}

.lib-help__button-text--vertical {
  transform-origin: 5.7rem 5.5rem;
  transform: rotate(270deg);
  width: 11.7rem;
  float: left;
}

@media (min-width: 768px) {
  .lib-help__button-text--vertical {
    transform-origin: 5.6rem 5.4rem;
    width: 11.5rem;
  }
}

@media (min-width: 1200px) {
  .lib-help__button-text--vertical {
    transform-origin: 5.3rem 5.1rem;
    width: 10rem;
  }
}

/*---------- slider content ---------- */
.lib-help__content {
  @apply bg-white;
  text-align: center;
}

.lib-help__content--horizontal {
  padding: 0.5rem 0rem 0.6rem;
}

.lib-help__content--vertical {
  padding: 2rem 0.4rem;
  width: 15rem;
  height: 13rem;
}

.lib-help__content--vertical-open {
  right: 0;
}

a:hover {
  text-decoration: none;
}

.lib-help__btn-sub {
  display: block;
  @apply border-utc-new-blue-500;
  border: 2px solid;
  @apply text-utc-new-blue-500;
  font-weight: bold;
  @apply bg-white;
  border-radius: 0;
  margin: 0.6rem 1rem;
}

.lib-help__btn-sub:hover,
.lib-help__btn-sub:focus {
  @apply text-white;
  @apply bg-utc-new-blue-500;
}

a.lib-help__link {
  @apply text-utc-new-blue-500;
  font-size: 1rem;
  text-decoration: underline;
}

.lib-help__link:hover,
.lib-help__link:active {
  @apply text-blue-500;
  text-decoration: underline;
}
