
:root {
    --main-width: 65vw;
}
/*.utc-hero-region {@apply p-0;}*/
.utc-hero-region .contextual {@apply right-6}
.block--utc-video-hero {@apply h-full overflow-visible relative;}

.video-hero.responsive-video { @apply relative h-0 overflow-visible max-w-full;padding-bottom: 56.25%; } 

.block--utc-video-hero-full .video-hero.responsive-video iframe, 
.block--utc-video-hero-full .video-hero.responsive-video object, 
.block--utc-video-hero-full .video-hero.responsive-video embed { @apply absolute left-0; }

.container .block--utc-video-hero-full .video-hero.responsive-video iframe, 
.container .block--utc-video-hero-full .video-hero.responsive-video object, 
.container .block--utc-video-hero-full .video-hero.responsive-video embed { top:6rem!important;}

.container-full .block--utc-video-hero-full .video-hero.responsive-video iframe, 
.container-full .block--utc-video-hero-full .video-hero.responsive-video object, 
.container-full .block--utc-video-hero-full .video-hero.responsive-video embed { top:4rem!important;}

.container-full .block--utc-video-hero-full-center .video-hero.responsive-video iframe, 
.container-full .block--utc-video-hero-full-center .video-hero.responsive-video object, 
.container-full .block--utc-video-hero-full-center .video-hero.responsive-video embed { top:0!important;}


.container-full .block--utc-video-hero .video-hero-wrapper {@apply pb-0;}
.container .block--utc-video-hero .video-hero-wrapper {@apply pb-8;}

.block--utc-video-hero-full {margin-bottom:10rem;}

.block--utc-video-hero-full-center .utc-video-hero-block-left {
    grid-template-columns: 71% 24%!important;
}
.block--utc-video-hero-full-center .utc-video-hero-block-right {
    grid-template-columns: 27% 71%!important;
    @apply ml-6;
}
.block.block--utc-video-hero.block--utc-video-hero-full {
    margin-bottom: 2rem;
}

@media (max-width:1023px){
    .container .block--utc-video-hero .video-hero-wrapper, .container-full .block--utc-video-hero .video-hero-wrapper {@apply pb-4;}
    .main-reduce-top-margin-video {padding-top: 0;}
    .utc-video-hero-container{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .container .block--utc-video-hero-full .video-hero.responsive-video iframe, 
    .container .block--utc-video-hero-full .video-hero.responsive-video object, 
    .container .block--utc-video-hero-full .video-hero.responsive-video embed,
    .container-full .block--utc-video-hero-full .video-hero.responsive-video iframe, 
    .container-full .block--utc-video-hero-full .video-hero.responsive-video object, 
    .container-full .block--utc-video-hero-full .video-hero.responsive-video embed,
    .container-full .block--utc-video-hero-full-center .video-hero.responsive-video iframe, 
    .container-full .block--utc-video-hero-full-center .video-hero.responsive-video object, 
    .container-full .block--utc-video-hero-full-center .video-hero.responsive-video embed { top:0!important;}
}
@media (max-width:768px) {
    .utc-video-hero-container{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .container .block--utc-video-hero-full .video-hero.responsive-video iframe, 
    .container .block--utc-video-hero-full .video-hero.responsive-video object, 
    .container .block--utc-video-hero-full .video-hero.responsive-video embed,
    .container-full .block--utc-video-hero-full .video-hero.responsive-video iframe, 
    .container-full .block--utc-video-hero-full .video-hero.responsive-video object, 
    .container-full .block--utc-video-hero-full .video-hero.responsive-video embed { top:0!important;}
    .block--utc-video-hero-full .video-hero-wrapper {@apply pt-12} 
    .container-full .block--utc-video-hero .video-hero-wrapper,
    .container .block--utc-video-hero .video-hero-wrapper { @apply pb-12; }
    .block--utc-video-hero-full-center .video-hero-wrapper {@apply w-full;}
    .block--utc-video-hero-full-center .video-hero-wrapper.left, .block--utc-video-hero-full-center .utc-video-hero-block-left {@apply ml-0;}
    .block--utc-video-hero-full-center .video-hero-wrapper.right,.block--utc-video-hero-full-center .utc-video-hero-block-right {@apply mr-0 ml-0;}
    .block--utc-video-hero-full {margin-bottom:0;}
    .utc-hero-block {@apply p-8}
    .section-container--utc-video-hero:nth-child(1) {@apply pt-0 -mt-4;}
    .block--utc-video-hero-full-center .utc-video-hero-block-right {@apply ml-0}
    .container-full .block--utc-video-hero .video-hero-wrapper, .container .block--utc-video-hero .video-hero-wrapper, .block--utc-video-hero-full .video-hero-wrapper {
        padding: 3rem 2rem!important;
    }
    .container .block--utc-video-hero .video-hero-wrapper {
        margin-top:4rem;
    }
    /*.utc-hero-block {
        padding: 4rem 2rem 2rem;
    }*/
}
@media screen and (max-height: 768px) and (orientation:landscape){
    .utc-video-hero-container {
        max-width: 80%!important;
        margin: 0 auto!important;
    }
}
