{#
  Navbar!
  navbar_classes: String: The html classes for the navbar.
  navbar_brand_link: String: The URL the brand text will link to.
  navbar_brand_text: String: The text of the brand.
  navbar_id: String: The html id for the navbar.
#}

<nav class="navbar {{ navbar_classes }}">
  {# Brand #}
  <a class="navbar-brand" href="{{ navbar_brand_link }}">{{ navbar_brand_text }}</a>
  {# collapse button #}
  {% include '@atoms/button/_button.twig' with {
    button_color: 'none',
    other_classes: 'navbar-toggler',
    button_toggle: 'collapse',
    other_attributes: 'data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"',
    button_text: '<span class="navbar-toggler-icon"></span>',
  } %}
  {# navbar #}
  <div class="collapse navbar-collapse" id="{{ navbar_id }}">
    {% include '@molecules/nav/_nav.twig' with {
      nav_element: 'ul',
      other_classes: 'navbar-nav mr-auto',
      nav_items: navbar_items,
    } %}
    {# search form #}
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      {% include '@atoms/button/_button.twig' with {
        button_color: 'success',
        button_outline: true,
        other_classes: 'my-2 my-sm-0',
        button_type: 'submit',
        button_text: 'Search'
      } %}
    </form>
  </div>
</nav>
