<div class="container">

  {% embed '@organisms/header/_header.twig' %}
    {% block branding %}
      {% include "@atoms/_branding.twig" with header_basic %}
    {% endblock branding %}
  {% endembed %}

</div>
