.gsc-cursor-page {
    background: transparent !important;
    /* color: $utc-blue !important; */
    @apply text-blue-600;
  }

#edit-keys{
  background: rgb(255, 255, 255) !important;
}

/* removes title lines coming from the parent mag */
.block--region-content-header.block--page-title-block:after, .block--region-content-header.block--page-title-block:before, .block--layout-builder.block--page-title-block:after, .block--layout-builder.block--page-title-block:before {
  content: "";
  display: none;
  width: 100%;
  /* border-top: 1px solid #90a4ae; */
  position: absolute;
  bottom: calc(41% + 1.5px);
  z-index: 0;
}

.hellowordl{
    background: red;
} 
.utcpage-title {
  display: inline-block;
  background-color: transparent;
  border-bottom: 9px solid #FDB736;
  @apply text-utc-new-blue-500 text-6xl font-bold;
  /* color: $utc-blue; */
  padding-top: 1em;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-right: 0;
  text-align: center;
  position: relative;
  z-index: 5;
  line-height: 1.1;
}
.utcblock--page-title-block {
  position: relative;
  border-top: none;
  text-align: center;
}
/* overrides parent mag and particle conflict */
.button--primary {
  @apply text-black;
  color: black;
}


.UTCtextblock__links strong > a {
	font-weight: normal;
}

.UTCtextblock__links a:not(.btn) {
	@apply text-blue-500;
	border-bottom: 1.5px solid #4299E1;
	text-decoration: none;
}

.UTCtextblock__links a:not(.btn):hover {
	@apply text-utc-new-blue-500;
	border-bottom: 1.5px solid #112e51;
	text-decoration: none;
}

.UTCtextblock__links a:not(.btn):active {
	color: #FDB736;
	border-bottom: 1.5px solid #FDB736;
	text-decoration: none;
}

.header__main {
  @apply font-utcheadings;
}
.travisandutclib{
	@apply text-blue-500;
	border-bottom: 1.5px solid #4299E1;
}