/* custom override for gsc module */
:root {
  --utc-transition: all 0.4s ease-in-out;
  --utc-color: color 0.4s ease-in-out;
  --utc-link: color 0.4s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: #000000 !important;
  background-color: #fff !important;
}

#search-form * #edit-keys {
  background: #fff !important;
}

.table .thead-dark th .label {
  color: #fff;
}

/* removes title lines coming from the parent mag */

.block--region-content-header.block--page-title-block:after,
.block--region-content-header.block--page-title-block:before,
.block--layout-builder.block--page-title-block:after,
.block--layout-builder.block--page-title-block:before {
  content: '';
  display: none;
  width: 100%;
  /* border-top: 1px solid #90a4ae; */
  position: absolute;
  bottom: calc(41% + 1.5px);
  z-index: 0;
}

.hellowordl {
  background: red;
}

.utcpage-title {
  /* display: inline-block; */
  background-color: transparent;
  border-bottom: 9px solid #fdb736;
  @apply text-utc-new-blue-500 text-6xl font-bold;
  /* color: $utc-blue; */
  padding-top: 1em;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-right: 0;
  text-align: center;
  position: relative;
  z-index: 5;
  line-height: 1.1;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 640px) {
  .utcpage-title {
    @apply text-4xl;
  }
}

@media screen and (max-width: 280px) {
  .utcpage-title {
    @apply text-3xl;
  }
}

.utcblock--page-title-block {
  position: relative;
  border-top: none;
  text-align: center;
}

/* overrides parent mag and particle conflict */

.button--primary {
  @apply text-black;
  color: black;
}

/* it makes the layout builder background consistent */

.layout-builder {
  padding: 0;
  border: none;
  background-color: inherit;
}

.header__main {
  @apply font-utcheadings;
}

.travisandutclib {
  @apply text-utc-links-static font-normal;
}

/* Stable theme align techniques targetting img tags due to image blocks*/

/* this is used by the image block and the image ckeditor embed */

.align-center img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.align-right img {
  float: right;
}

.align-left img {
  float: left;
}

/* Site alert module css overwrite */

div.site-alert div.severity-low {
  /* tailwindcss 3.0 esmerald-600 */
  background: #059669;
  border: 1px solid #bce8f1;
  color: #31708f;
  margin-bottom: 0em;
  padding: 1rem 2rem;
}

div.site-alert div.severity-medium {
  /* tailwindcss 3.0 yellow-400 */
  background: #facc15;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  margin-bottom: 0em;
  padding: 1rem 2rem;
}

div.site-alert div.severity-high {
  /* tailwindcss red-600 */
  background: #dc2626;
  border: 1px solid #ebccd1;
  color: #a94442;
}

div.site-alert div.severity-medium {
  /* tailwindcss 3.0 yellow-400 */
  background: #facc15;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  margin-bottom: 0em;
  padding: 1rem 2rem;
}
div.site-alert div.severity-high {
  /* tailwindcss red-600 */
  background: #dc2626;
  border: 1px solid #ebccd1;
  color: #a94442;
  margin-bottom: 0em;
  padding: 1rem 2rem;
}
div.site-alert :where(div.severity-medium,div.severity-high,div.severity-low) .text :is(h1,h2,p,p a)
{
    @apply text-white;
}

div.site-alert :where(div.severity-medium,div.severity-high,div.severity-low) .text :is(p a:hover)
{
    @apply text-indigo-800
}

/***new alert link colors with new brand implementation 3/21/22***/
div.site-alert h2:first-child {
  @apply mt-0;
}
div.site-alert div.severity-high a, div.site-alert div.severity-low a {
  @apply text-white;
  transition: var(--utc-transition);
}
div.site-alert div.severity-high a:hover, div.site-alert div.severity-low a:hover {
  @apply text-utc-new-gold-300;
}
div.site-alert div.severity-medium a, div.site-alert div.severity-medium p {
  @apply text-utc-new-blue-500;
  transition: var(--utc-transition);
}
div.site-alert div.severity-medium a:hover {
  @apply text-utc-new-blue-400;
}

/* For use in views where : (colon) is not accepted. */

@media (min-width: 640px) {
  .hide-sm {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-md {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hide-lg {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .hide-xl {
    display: none !important;
  }
}
/****Add zoom effect to an image by class****/
/* The Image container */
.utc-zoom-image .field__item {
  overflow: hidden; /* Removing this will break the effects */
}
/* Quick-zoom Container */
.utc-zoom-image img {
  transform-origin: 50% 65%;
  transition: transform 4s, filter 4s ease-in-out;
  filter: brightness(100%);
}
/* The Transformation */
.utc-zoom-image:hover img {
  filter: brightness(115%);
  transform: scale(1.15);
}

.block--search form input[type='submit'] {
  @apply bg-utc-new-blue-500 border-utc-new-blue-500;
}

.block--search form input[type='submit']:hover {
  @apply text-utc-new-gold-500;
}

/****NEW BRANDING SET-UP as of March 18, 2022*****/
:root {
  --utc-transition: all .4s ease-in-out;
}
body {
  font-size: 18px;
  @apply font-utcbody text-utc-new-blue-500 text-left bg-utc-bg-page text-base font-light m-0;
  /**in order to implement sticky on the header_container, we must unset the overflows on its ancestor***/
  overflow: unset;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
a {
  @apply text-utc-links-static font-normal;
}
a:hover,
a:focus {
  @apply text-utc-new-blue-800 font-medium no-underline;
}
a.focus-visible, a:focus-visible {
  outline: 2px dashed #fdb736;
}
.field--type-text-with-summary a:not([href]):before {
  @apply block invisible;
  content: '';
  height:      175px;
  margin-top: -175px;
}

.utc-card-2__text a:not(.btn):not(.ckeditor-accordion-toggler),
.utc-sidebar-card a:not(.btn):not(.ckeditor-accordion-toggler),
.utc-item-card a:not(.btn):not(.ckeditor-accordion-toggler) {
  @apply text-utc-links-static font-normal border-0 no-underline;
  transition: var(--utc-link);
}
.utc-card-2__text a:not(.btn):not(.ckeditor-accordion-toggler):hover,
.utc-sidebar-card a:not(.btn):not(.ckeditor-accordion-toggler):hover,
.utc-item-card a:not(.btn):not(.ckeditor-accordion-toggler):hover {
  @apply text-utc-new-blue-800 font-medium;
}
a:active,
.utc-card-2__text a:not(.btn):not(.ckeditor-accordion-toggler):active,
.utc-sidebar-card a:not(.btn):not(.ckeditor-accordion-toggler):active,
.utc-item-card a:not(.btn):not(.ckeditor-accordion-toggler):active {
  color: #fdb736;
  border-bottom: 1.5px solid #fdb736;
  text-decoration: none;
}
.UTCtextblock__links strong > a {
  font-weight: normal;
}
.UTCtextblock__links a:not(.btn):not(.dm-profile-tabs__link):active:not(.ckeditor-accordion-toggler):active {
  color: #fdb736;
  border-bottom: 1.5px solid #fdb736;
  text-decoration: none;
}

.department-info-- a {
  @apply text-utc-links-static font-normal no-underline bg-transparent py-1 px-2;
  transition: background-color 0.4s ease-in-out;
}
.department-info-- a:hover {
  @apply bg-white;
}
.department-info-- .social-media-links--platforms a {
  @apply text-utc-new-blue-500 no-underline;
}
.department-info-- .social-media-links--platforms a:hover,
.department-info-- .social-media-links--platforms a:focus {
  @apply text-utc-new-gold-500 outline-none bg-transparent;
}
.department-info-- {
  @apply bg-utc-new-blue-100 py-6;
}
span:target {
  @apply block relative invisible -top-2.5;
}
p {
  @apply text-gray-800 m-0 p-0 font-utcbody;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-utc-new-blue-500 font-utcheadings;
}
h2 a, h3 a, h4 a, h5 a, h6 a, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  @apply font-bold font-utcheadings;
}
a:hover p:not(#apply-now-ribbon) {
  @apply font-normal font-utcbody;
}
a.diagonal, .utc-hero-block a.diagonal {
  @apply border border-white text-white bg-transparent mx-auto py-3 px-4 font-bold;
  background-image: -webkit-linear-gradient(257deg, #fff 50%, transparent 50%);
  background-image: linear-gradient(-257deg, #fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
a.diagonal:hover, .utc-hero-block a.diagonal:hover {
  background-position: 0;
  @apply text-utc-new-blue-500;
}
a.diagonal i, 
a.diagonal svg {
  @apply text-utc-new-gold-500;
  transition: all 750ms ease-in-out;
}
a.diagonal.light-gray-hero {
  @apply border-utc-new-blue-500 text-utc-new-blue-500;
  background-image: -webkit-linear-gradient(257deg, #112e51 50%, transparent 50%);
  background-image: linear-gradient(-257deg, #112e51 50%, transparent 50%);
}
a.diagonal.light-gray-hero:hover {
  @apply text-white;
}
a.diagonal.light-gray-hero i, 
a.diagonal.light-gray-hero svg {
  @apply text-utc-new-blue-500;
}
a.diagonal.light-gray-hero:hover i,
a.diagonal.light-gray-hero:hover svg{
  @apply text-utc-new-gold-500;
}

b, strong {
  @apply font-bold;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  @apply ml-0;
}
p {
  @apply my-4;
}
p.no-space {
  @apply my-0;
}
p.less-space {
  @apply my-2;
}
p.more-space, li.more-space {
  @apply my-6;
}
h3.blue-bar {
  @apply bg-utc-new-blue-500 p-3 m-0 mb-6 text-white w-full;
}
h3.gold-bar {
  @apply bg-utc-new-gold-500 p-3 m-0 mb-6 text-utc-new-blue-500 w-full;
}
.white-hz-rule {
  @apply bg-white w-full;
  height:1px;
}
.gold-hz-rule {
  @apply bg-utc-new-gold-500 w-full;
  height:1px;
}
.blue-hz-rule {
  @apply bg-utc-new-blue-500 w-full;
  height:1px;
}
  /****hide extra arrow on iphones***/
  .sidr ul.sf-menu span.sf-sub-indicator {
    content: "▼";
  }
  .sidr ul.sf-menu span.sf-sub-indicator:after {
    color:transparent;
  }


/*WAIT ON THIS
.UTCtextblock__links p {
  text-indent:24px;
}
.UTCtextblock__links p.no-indent {
  text-indent:0px;
}
.UTCtextblock__links p.contains-btn {
  text-indent:unset;
}
*/
.UTCtextblock__links hr {
  @apply my-6;
}
.UTCtextblock__links h2 {
  @apply mb-5;
}
.UTCtextblock__links h2.first-head {
  @apply mt-0;
}

.department-info-- .field--name-field-utc-department-hours .field__label {@apply font-utcheadings mt-8 mb-4}
.utc-hero-block a {@apply text-utc-new-blue-500;}
.utc-hero-block a:hover {@apply text-utc-new-gold-500;}

/***COB and CECP video headline fixes***/
.title-overlay h1 {
  line-height: 1.2;
}
/*search page adjustments*/
.path-search #block-breadcrumbs-particle.block {
  display:none!important;
}
.search-results h3.search-result__title {@apply text-utc-new-blue-500;}
.container-full .block--region-content-header.block--page-title-block .page-title {
  @apply mr-0 pr-0 text-2xl text-utc-new-blue-500 text-center leading-tight;
}
ol.search-results li {
  @apply border-t border-b border-gray-300 px-0 py-2;
}
/*.path-search .header-container {
  @apply fixed w-full top-0;
}*/
.path-search ul.pager__items{
  @apply border-0;
}
ul.pager__items li.is-active {
  @apply bg-utc-new-blue-500 border-utc-new-blue-500;
}
ul.pager__items li a {
  @apply border-utc-new-blue-500 text-utc-new-blue-500 px-5
}
ul.pager__items li a:hover {
  @apply bg-utc-new-blue-100;
}
.search-results h3.search-result__title a {
  @apply text-utc-new-blue-500;
}
.search-results h3.search-result__title a:hover {
  @apply text-utc-new-gold-500;
}
.block--region-content-header.block--page-title-block .page-title, 
.block--layout-builder.block--page-title-block .page-title {
  @apply text-utc-new-blue-500;
}
.user-logged-in.path-search .header-container,
.user-logged-in.path-search .header-container.affix {
  @apply relative;
} 
/*end search page adjustments*/

@media screen and (max-width: 1024px) {
  .section-hero {@apply bg-white pt-6 }
  .utc-hero-image-default .order-first, .utc-hero-image-default .order-last {
    order: unset!important;
  }
  .utc-hero-image-default .order-first {
    @apply mt-8;
  }
  .node__content > .section-hero:first-child {
    @apply p-0 -mt-4
  }
  .node__content > .section-hero:first-child .themag-layout__region {
    @apply p-0;
  }
}
@media screen and (max-width: 768px) {
  main {
    @apply pt-4;
  }
  .container-full, .themag-layout--my-default {
    @apply px-4;
  }
  .section-hero .container-full {
    @apply px-0;
  }
  .container-full .block--region-content-header.block--page-title-block .page-title {
    @apply text-lg;
  }
  .btn--large, .btn-lg {
    font-size: .875rem!important;
    line-height: 1.2!important;
  }
  .page-search .container {
    margin-top: 1rem!important;
  }
  .field--type-text-with-summary a:not([href]):before {
      height: 72px;
      margin-top: -72px;
  }
}
@media screen and (max-width: 640px) {
  h1{ font-size:28px!important;line-height:1.2em;}
  .department-info-- address.flex-list li {@apply leading-loose}
  .department-info-- address.flex-list li {@apply border-0}
  .title-overlay h1 {
    line-height: 1.2;
  }
}
@media screen and (max-width: 280px) {
  .department-info-- {@apply px-4}
}

/****library css helps****/
foreignObject > div > div {
  display: flex;
  align-items: center;
}
