.gsc-cursor-page {
  background: transparent !important;
  /* color: $utc-blue !important; */
  @apply text-blue-600;
}

#search-form > #edit-basic > #edit-keys {
  background: rgb(255, 255, 255) !important;
}

/* removes title lines coming from the parent mag */
.block--region-content-header.block--page-title-block:after,
.block--region-content-header.block--page-title-block:before,
.block--layout-builder.block--page-title-block:after,
.block--layout-builder.block--page-title-block:before {
  content: '';
  display: none;
  width: 100%;
  /* border-top: 1px solid #90a4ae; */
  position: absolute;
  bottom: calc(41% + 1.5px);
  z-index: 0;
}

.hellowordl {
  background: red;
}
.utcpage-title {
  /* display: inline-block; */
  background-color: transparent;
  border-bottom: 9px solid #fdb736;
  @apply text-utc-new-blue-500 text-6xl font-bold;
  /* color: $utc-blue; */
  padding-top: 1em;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-right: 0;
  text-align: center;
  position: relative;
  z-index: 5;
  line-height: 1.1;
}
.utcblock--page-title-block {
  position: relative;
  border-top: none;
  text-align: center;
}
/* overrides parent mag and particle conflict */
.button--primary {
  @apply text-black;
  color: black;
}
.utc-card-2__text a:not(.btn):not(.ckeditor-accordion-toggler),
.utc-sidebar-card a:not(.btn):not(.ckeditor-accordion-toggler),
.utc-item-card a:not(.btn):not(.ckeditor-accordion-toggler)
 {
  @apply text-blue-500;
  border-bottom: 1.5px solid #4299e1;
  text-decoration: none;
}

.utc-card-2__text a:not(.btn):not(.ckeditor-accordion-toggler):hover,
.utc-sidebar-card a:not(.btn):not(.ckeditor-accordion-toggler):hover,
.utc-item-card a:not(.btn):not(.ckeditor-accordion-toggler):hover {
  @apply text-utc-new-blue-500;
  border-bottom: 1.5px solid #112e51;
  text-decoration: none;
}

.utc-card-2__text a:not(.btn):not(.ckeditor-accordion-toggler):active,
.utc-sidebar-card a:not(.btn):not(.ckeditor-accordion-toggler):active,
.utc-item-card a:not(.btn):not(.ckeditor-accordion-toggler):active {
  color: #fdb736;
  border-bottom: 1.5px solid #fdb736;
  text-decoration: none;
}
.UTCtextblock__links strong > a {
  font-weight: normal;
}

.UTCtextblock__links a:not(.btn):not(.dm-profile-tabs__link):not(.ckeditor-accordion-toggler) {
  @apply text-blue-500;
  border-bottom: 1.5px solid #4299e1;
  text-decoration: none;
}

.UTCtextblock__links a:not(.btn):not(.dm-profile-tabs__link):hover:not(.ckeditor-accordion-toggler):hover {
  @apply text-utc-new-blue-500;
  border-bottom: 1.5px solid #112e51;
  text-decoration: none;
}

.UTCtextblock__links a:not(.btn):not(.dm-profile-tabs__link):active:not(.ckeditor-accordion-toggler):active {
  color: #fdb736;
  border-bottom: 1.5px solid #fdb736;
  text-decoration: none;
}

/* it makes the layout builder background consistent */
.layout-builder {
  padding: 0;
  border: none;
  background-color: inherit;
}

.header__main {
  @apply font-utcheadings;
}
.travisandutclib {
  @apply text-blue-500;
  border-bottom: 1.5px solid #4299e1;
}

/* Stable theme align techniques targetting img tags due to image blocks*/
/* this is used by the image block and the image ckeditor embed */
.align-center img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.align-right img{
  float: right;
}
.align-left img {
  float: left;
}

/* Site alert module css overwrite */
div.site-alert div.severity-high {
  background: #fdb736;
  border: 1px solid none;
  background-image: none;
  background-repeat: no-repeat;
  margin-bottom: 0em;
}
div.site-alert div.text {
  padding: 0.3rem;
  margin: 0px;
  font-size: 18px;
}