/* 
//overriding style from themag to improve contrast on layout builder off-canvas
// I think if/when we took themag theme out this */

#drupal-off-canvas .inline-block-create-button,
#drupal-off-canvas .inline-block-list__item {
  background-color: #1c2429;
}

#drupal-off-canvas ul.layout-selection {
  background-color: #444;
}

#drupal-off-canvas .layout-builder-configure-section .description,
#drupal-off-canvas .layout-builder-configure-section .form-item .description,
#drupal-off-canvas .layout-builder-configure-section .details-description,
#drupal-off-canvas .layout-builder-configure-section *,
#drupal-off-canvas .layout-selection .description,
#drupal-off-canvas .layout-selection .form-item .description,
#drupal-off-canvas .layout-selection .details-description,
#drupal-off-canvas .layout-selection *,
#drupal-off-canvas .layout-selection *:not(div) {
  color: white !important;
}

#drupal-off-canvas .form-select,
#drupal-off-canvas .form-text,
#drupal-off-canvas .form-tel,
#drupal-off-canvas .form-email,
#drupal-off-canvas .form-url,
#drupal-off-canvas .form-search,
#drupal-off-canvas .form-number,
#drupal-off-canvas .form-color,
#drupal-off-canvas .form-file,
#drupal-off-canvas .form-textarea,
#drupal-off-canvas .form-date,
#drupal-off-canvas .form-time {
  color: #333 !important;
}

#drupal-off-canvas .layout-builder-configure-section label {
  font-size: 0.85rem;
}

/* //override white background on layout builder blocks in UI */
.layout-builder-block {
  background: transparent;
}
