/* //
// @file
// CSS for off-canvas dialog.
//

// Off-Canvas base
// */
#drupal-off-canvas a,
#drupal-off-canvas .link {
  color: #85bef4 !important;
}
#mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  #mobile-menu {
    display: block;
  }
}
