.utc-sidebar ol, .utc-sidebar ul {
  @apply list-none pl-0;
}
.utc-sidebar ol li, .utc-sidebar ul li {
  @apply mb-1;
}
.utc-sidebar ol li ul li, .utc-sidebar ul li ul li {
  @apply my-1 mx-auto;
}
.utc-sidebar ol li ul li:first-child, .utc-sidebar ul li ul li:first-child {
  @apply border-t-0;
}
.utc-sidebar ol li ul li ul li, .utc-sidebar ul li ul li ul li {
  @apply my-1 mx-auto;
}
.utc-sidebar ol li ul li ul li:first-child, .utc-sidebar ul li ul li ul li:first-child {
  @apply border-t-0;
}
.utc-sidebar .sidebar-menu li {
  @apply relative;
}
.utc-sidebar .sidebar-menu li ul {
  @apply block max-h-0 overflow-hidden;
  transition: var(--utc-transition);
}
.utc-sidebar .sidebar-menu li ul .menu-item-sidemenu a {
  @apply bg-utc-new-blue-100;
}
.utc-sidebar .sidebar-menu li ul .menu-item-sidemenu a:hover {
  @apply bg-utc-new-blue-200 text-utc-new-blue-500;
}
.utc-sidebar .menu-item-sidemenu.open > a {
  @apply bg-utc-new-blue-500 text-white
}
.utc-sidebar .menu-btn {
  @apply bg-utc-new-blue-100 text-center;
  cursor: s-resize;
}
.utc-sidebar .menu-btn img {
  @apply align-middle h-16;
}
.utc-sidebar .menu-open, .utc-sidebar .sidebar-menu .open > ul {
  max-height: 2000px;
}
.utc-sidebar .sidebar-menu .more svg {
  transition: var(--utc-transition);
}
.utc-sidebar .sidebar-menu .open > .more i, .utc-sidebar .sidebar-menu .open > .more svg {
  @apply absolute;
  transform: rotate(90deg);
}
.utc-sidebar .more{
  @apply text-yellow-500 absolute right-2 top-0 bottom-0 flex items-center float-right cursor-pointer;
  transition: var(--utc-transition);
  min-width: 8%;
  height: 3.75rem;
}
.menu-item-sidemenu a {
  @apply bg-white text-utc-new-blue-500 border border-gray-400 font-normal block py-4 px-5;
}
.menu-item-sidemenu a:hover {
  @apply bg-utc-new-blue-500 text-utc-new-gold-500 no-underline;
}
.menu-item-sidemenu .is-active {
  @apply bg-utc-new-blue-500 !important text-utc-new-gold-500 no-underline;
}
/**subordinate active buttons in submenus to parent***/
li.menu-item-sidemenu li.menu-item-sidemenu  .is-active {
  @apply bg-utc-new-blue-200 !important text-utc-new-blue-500 !important;
}
li.menu-item-sidemenu li.menu-item-sidemenu  .is-active:before {
  @apply mr-2 font-bold text-2xl;
  content: "›";
}

@media (min-width: 991px) {
  input#mobile_menu {
    @apply hidden;
 }
  .section_menu {
    @apply hidden;
 }
}
@media (max-width: 991px) {
  .menu-content {
    @apply py-0 pr-0 pl-16;
 }
  .section_menu {
    @apply bg-utc-new-gold-500 py-2 px-10 text-utc-new-blue-500 cursor-pointer select-none;
 }
  input#mobile_menu {
    @apply hidden;
 }
  .utc-sidebar {
    @apply max-h-0 overflow-hidden;
 }
  input:checked ~ .utc-sidebar {
    @apply max-h-full;
 }
 .utc-sidebar .more {
   @apply -right-6;
  }
}
@media (max-width: 640px) {
  .utc-sidebar .more {
    @apply right-0;
   }
}
/* 
HR MENU
.menu-item-topmenu .menu-item--active-trail .open {
  @apply bg-utc-new-blue-500 !important;
  text-decoration: none;
  /* background-color: #112e51 !important; */
  /* color: #fdb736; */
/* } */ 
