.utc-sidebar ol, .utc-sidebar ul {
  list-style: none;
  padding-left: 0;
}
.utc-sidebar ol li, .utc-sidebar ul li {
  margin-bottom: 0.3em;
}
.utc-sidebar ol li ul li, .utc-sidebar ul li ul li {
  margin: 0.3em auto;
}
.utc-sidebar ol li ul li:first-child, .utc-sidebar ul li ul li:first-child {
  border-top: none;
}
.utc-sidebar ol li ul li ul li, .utc-sidebar ul li ul li ul li {
  margin: 0.3em auto;
}
.utc-sidebar ol li ul li ul li:first-child, .utc-sidebar ul li ul li ul li:first-child {
  border-top: none;
}
.utc-sidebar .sidebar-menu li {
  position: relative;
}
.utc-sidebar .sidebar-menu li ul {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.utc-sidebar .sidebar-menu li ul .menu-item-sidemenu a {
  @apply bg-gray-300;
}
.utc-sidebar .sidebar-menu li ul .menu-item-sidemenu a:hover {
  @apply bg-gray-800;
  @apply text-white;
  /* color: white;
  background-color: darkgray; */
}
.utc-sidebar .menu-btn {
  /* background: lightblue; */
  @apply bg-blue-100;
  text-align: center;
  cursor: s-resize;
}
.utc-sidebar .menu-btn img {
  vertical-align: middle;
  height: 50px;
}
.utc-sidebar .menu-open, .utc-sidebar .sidebar-menu .open > ul {
  max-height: 2000px;
}
.utc-sidebar .sidebar-menu .open > .more i {
  transform: rotate(-135deg);
}
.utc-sidebar .more{
  /* color: gray; */
   /* text-gray-800; */
  @apply text-yellow-500;
  transition: transform 0.3s;
}
.utc-sidebar .more {
  float: right;
  min-width: 8%;
  cursor: move;
}
.menu-item-sidemenu a {
  @apply bg-white;
  @apply text-utc-new-blue-500;
  font-weight: 500;
  border: 1px solid;
  @apply border-gray-400;
  display: block;
  padding: 1rem 1.2rem;
}
.menu-item-sidemenu a:hover {
  @apply bg-utc-new-blue-500;
  @apply text-utc-new-gold-500;
  text-decoration: none;
}
/* .utc-sidebar .menu-item-sidemenu a:hover .more {
  @apply text-white;
} */
.menu-item-sidemenu .is-active {
  @apply bg-utc-new-blue-500 !important;
  @apply text-utc-new-gold-500;
  text-decoration: none;
}
/* .utc-sidebar .menu-item--active-trail .more{
  @apply text-white;
  transition: transform 0.3s;
} */
@media (min-width: 991px) {
  input#mobile_menu {
    display: none;
 }
  .section_menu {
    display: none;
 }
}
@media (max-width: 991px) {
  .menu-content {
    padding: 0 0 0 50px;
 }
  .section_menu {
    @apply bg-utc-new-gold-500;
    padding: 5px 30px;
    @apply text-gray-800;
    cursor: pointer;
    user-select: none;
 }
  input#mobile_menu {
    /* display: none; */
 }
  .block--menu-block {
    max-height: 0;
    overflow: hidden;
 }
  input:checked ~ .utc-sidebar {
    max-height: 100%;
 }
}

/* 
HR MENU
.menu-item-topmenu .menu-item--active-trail .open {
  @apply bg-utc-new-blue-500 !important;
  text-decoration: none;
  /* background-color: #112e51 !important; */
  /* color: #fdb736; */
/* } */ 