/* // UTC Styles department info block */
.department-info--dept-info-light-blue {
  /* bg-blue-100; */
  @apply bg-gray-300;
  /* background-color: $utc-lightblue; */
  padding: 2rem 0rem 1rem;
}
@media screen and (max-width: 640px) {
  .department-info-- h2 {
    margin: 1rem 1rem 0 1rem!important;
  }
  .department-info-- div .address.flex-list {
      margin:0!important;
      margin-top:1em!important;
    }
  .department-info-- div .address.flex-list ul {
      text-align: center!important;
    }
  .department-info-- div .address.flex-list ul * {
      font-family:'Oswald', sans-serif!important;
      font-weight: 400!important;
  }
  .department-info-- div .address.flex-list a {
      font-family:'Oswald', sans-serif!important;
      font-weight: 400!important;
  }
  .department-info-- div .address.flex-list ul li .fas, 
  .department-info-- div .address.flex-list ul li i {
      padding-top:.75rem!important;
      margin-left:-3px!important;
      font-size: 1rem!important;
    }
    .department-info-- .social-media-links--platforms span.fa-2x,
    .department-info-- .social-media-links--platforms span.fa,
    .department-info-- .social-media-links--platforms span {
      font-size: 1.5rem!important
    }  
}
address.flex-list {
  list-style: none;
  position: relative;
  margin: 1em;
  overflow: hidden;
}
address.flex-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  text-align: center;
}
address.flex-list li {
  display: inline;
  line-height: 1.2em;
  padding: 0 10px;
  border-left: solid 1px #ADB2B6;
  align-items: center;
}
address.flex-list li:first-child {
  border-left: none;
}
address.flex-list li div.field--name-field-utc-department-phone .field__item a:before {
 /* font-family: $utc-icons;
  */
  font-weight: 900;
  /* color: blue; */
  @apply bg-utc-new-blue-500;
 /* font-size: $font-size-xs;
  */
  display: inline;
  padding-right: 6px;
  vertical-align: top;
  /* content: "\f095"; */
}
address.flex-list li div.field--name-field-utc-department-fax-number .field__item a:before {
 /* font-family: $utc-icons;
  */
  font-weight: 900;
  @apply bg-utc-new-blue-500;
  /* color: blue; */
 /* font-size: $font-size-xs;
  */
  display: inline;
  padding-right: 6px;
  vertical-align: top;
  /* content: "\f1ac"; */
}

.department--hours {
  text-align: center;
}
.department--hours .field__label {
  /* color: blue; */
  @apply text-utc-new-blue-500;
  /* font-family: $utc-headings; */
  font-size: 1.5em;
  font-weight: 700;
}
.department--hours .field__label:after {
  content: none;
}
@include media-breakpoint-down(lg) {
  address.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
 }
  address.flex-list ul {
    display: list-item;
    flex-direction: none;
    flex-wrap: none;
    justify-content: center;
    text-align: center;
    margin-left: 0;
 }
  address.flex-list li {
    display: block;
    line-height: 1.8em;
    padding: 0 8px;
    border-left: none;
 }
}

