<div class="view view-teasers">
  <div class="view-content">
    <div class="views-row">
      {{>organisms-teaser}}
    </div>
    <div class="views-row">
      {{>organisms-teaser}}
    </div>
    <div class="views-row">
      {{>organisms-teaser}}
    </div>
  </div>
</div>