{% extends '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
    <h1>Buttons</h1>
    {% include '@molecules/card/_card-helper.twig' with {
      card_text: buttons_helper,
      card_background: 'secondary',
      text_color: 'light',
      button: {
        button_link: 'https://getbootstrap.com/docs/4.0/components/buttons/' ~ ' target="_blank" rel="noopener noreferrer"',
      }
    } %}
    <h1>Button colors</h1>
    <div class="mb-3">
      {% for name, rgb in scssColors %}
        {% include '@atoms/button/_button.twig' with {
          button_color: name,
          button_text: name|capitalize,
        } %}
      {% endfor %}
    </div>

    <h1>Button outline</h1>
    <div class="mb-3">
      {% for name, rgb in scssColors %}
        {% include '@atoms/button/_button-outline.twig' with {
          button_color: name,
          button_text: name|capitalize,
        } %}
      {% endfor %}
    </div>

    <h1>Button elements</h1>
    <div class="mb-3">
      {% for alternate_button in alternate_buttons %}
        {% set buttonElement = alternate_button|merge({ button_color: 'success', }) %}
        {% include '@atoms/button/_button.twig' with buttonElement %}
      {% endfor %}
    </div>

    <h1>Button size</h1>
    <div class="mb-3">
      {% for size in sizes %}
        {% include '@atoms/button/_button.twig' with size %}
      {% endfor %}
    </div>

    <h1>Button block</h1>
    <div class="mb-3">
      {% embed '@atoms/grid/_grid-3-up.twig' with { container: false } %}
        {% block  column_1 %}
          {% include '@atoms/button/_button.twig' with block_level_1 %}
        {% endblock column_1 %}
        {% block  column_2 %}
          {% include '@atoms/button/_button.twig' with block_level_2 %}
        {% endblock column_2 %}
        {% block  column_3 %}
          {% include '@atoms/button/_button.twig' with block_level_3 %}
        {% endblock column_3 %}
      {% endembed %}
    </div>

    <h1>Button state</h1>
    <div class="mb-3">
      {% for state in states %}
        {% include '@atoms/button/_button.twig' with state %}
      {% endfor %}
    </div>

    <h1>Button toggle</h1>
    <div class="mb-3">
      {% include '@atoms/button/_button.twig' with toggleable %}
    </div>
  {% endblock column_1 %}
