{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% block column_1 %}
    <h1 class="mb-3">
      Buttons
    </h1>
    <div class="mb-3 p-3 bg-grey-lightest border border-grey rounded">
      <p class="text-lg font-light">
        {{ buttons_helper }}
      </p>
    </div>
    <hr />
    <h2>
      Button colors
    </h2>
    <div class="mb-3">
      {% for btn in btn_colors %}
        {% include '@atoms/button/_button.twig' with btn %}
      {% endfor %}
    </div>
    <h2>
      Button outline
    </h2>
    <div class="mb-3">
      {% for btn in btn_outline %}
        {% include '@atoms/button/_button.twig' with btn %}
      {% endfor %}
    </div>
    <h2>
      Button elements
    </h2>
    <div class="mb-3">
      {% for alternate_button in alternate_buttons %}
        {% set buttonElement =
          alternate_button|merge({
            button_color: 'green-600',
            text_color: 'white'
          })
        %}
        {% include '@atoms/button/_button.twig' with buttonElement %}
      {% endfor %}
    </div>
    <h2>
      Button size
    </h2>
    <div class="mb-3">
      {% for size in sizes %}
        {% include '@atoms/button/_button.twig' with size %}
      {% endfor %}
    </div>
    <h2>
      Button block
    </h2>
    <div class="mb-3">
      {% embed '@atoms/grid/_grid-3-up.twig'
        with {
          container: false
        }
      %}
        {% block column_1 %}
          {% include '@atoms/button/_button.twig' with block_level_1 %}
        {% endblock %}
        {% block column_2 %}
          {% include '@atoms/button/_button.twig' with block_level_2 %}
        {% endblock %}
        {% block column_3 %}
          {% include '@atoms/button/_button.twig' with block_level_3 %}
        {% endblock %}
      {% endembed %}
    </div>
    <h2>
      Button state
    </h2>
    <div class="mb-3">
      {% for state in states %}
        {% include '@atoms/button/_button.twig' with state %}
      {% endfor %}
    </div>
    <h2>
      Button toggle
    </h2>
    <div class="mb-3">
      {% include '@atoms/button/_button.twig' with toggleable %}
    </div>
  {% endblock %}
{% endembed %}
