////
/// Custom variables
/// Non-framework variables unique to your project
///
/// @group variables
////

///
/// Colors
///

///
/// Colors
/// Base color values are for reference. Use directly from maps in code.
/// @group variables:colors
///
$colors: (
  'gray-light': #f4f4f4,
  'gray-medium': #adb5bd,
  'gray-dark': #343a40,
  'pink': pink,
  'goldenrod': goldenrod,
);

///
/// Typography
///

///
/// Typography: Font families
/// @group variables:typography
///
$font-families: (
  sans: #{'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif},
  monospace: #{'Source Code Pro', 'Courier New', monospace},
  serif: #{'Oswald', 'Times New Roman', serif},
);

///
/// Typography: Line spacings
/// @group variables:typography
///
$letter-spacings: (
  'reduce': -1px,
  'base': normal,
  'increase': 1px,
);

///
/// Typography: Weights
/// @group variables:typography
///
$font-weights: ();
