<div class="container">
  <div class="row">
    <div class="col">

      <div class="text-center mt-sm-5">

        {# Spinner styles are hardcoded in 00-head.twig #}
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>


        <h1 class="mb-4">Welcome to Particle</h1>

        {% include "@atoms/_image.twig" with {
          img: {
            src: paths.assets ~ '/astrogoat.png',
          },
        } %}

        <p class="mt-4">Particle is a starterkit to help you make design systems
          with Webpack and Twig.</p>
        <p>Start exploring by click the Atomic Design links in the black sticky
          bar. For vastly more information about how to use Particle, <a
            href="https://phase2.gitbook.io/frontend/particle/intro" target="_blank" rel=“noopener noreferrer”>check out the docs</a>.</p>
      </div>

    </div>
  </div>
</div>
