{% include "@organisms/site/site-header/site-header.twig" %}
<main class="site-content">
  {% block content %}
    <h2>Site Content Here</h2>
  {% endblock %}
</main>
{% include "@organisms/site/site-footer/site-footer.twig" %}
