@use '~tokens/sass';

.basic-page {
  @include sass.mixins-full-width();

  @include sass.bs-media-breakpoint-up(md) {
    @include sass.mixins-full-width($undo: true);
    position: relative;
  }
  @include sass.bs-media-breakpoint-up(xl) {
    width: sass.functions-rem-calc(1200px);
  }

  &__inner {
    padding: sass.functions-rem-calc(50px 20px);

    @include sass.bs-media-breakpoint-up(md) {
      padding: sass.functions-rem-calc(50px);
    }

    p {
      line-height: 2;
    }
  }
}
