<div class="container mx-auto">
  <h1 class="mb-3">List Styles</h1>
  <div class="mb-3 p-3 bg-gray-100 border border-black border-lg">
    <p class="text-base">You change, add, or remove these by editing the <code class="text-pink-500">theme.listStyleType</code> section of your Tailwind config.</p>
    <div>
      <a href="https://tailwindcss.com/docs/list-style-type/" target="_blank" rel="noopener noreferrer" class="block text-blue-500 text-sm mt-2">Tailwind Documentation</a>
    </div>
  </div>
  <hr>
  <br>

  <div class="bg-white rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 ">
    <div class="mb-6">
      <p class="text-sm text-gray-600">.list-disc</p>
      <code class="text-pink-500">list-style-type: disc;</code>
      <ul class="list-disc list-inside">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Assumenda, quia temporibus eveniet a libero incidunt suscipit</li>
        <li>Quidem, ipsam illum quis sed voluptatum quae eum fugit earum</li>
      </ul>
    </div>
    <div class="mb-6">
      <p class="text-sm text-gray-600">.list-decimal</p>
      <code class="text-pink-500">list-style-type: decimal;</code>
      <ol class="list-decimal list-inside">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Assumenda, quia temporibus eveniet a libero incidunt suscipit</li>
        <li>Quidem, ipsam illum quis sed voluptatum quae eum fugit earum</li>
      </ol>
    </div>
    <div>
      <p class="text-sm text-gray-600">.list-none (default)</p>
      <code class="text-pink-500">list-style-type: none;</code>
      <ul class="default">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Assumenda, quia temporibus eveniet a libero incidunt suscipit</li> <li>Quidem, ipsam illum quis sed voluptatum quae eum fugit earum</li>
      </ul>
    </div>
  </div>
  <hr>
</div>
