<div class="container">
  {% embed '@atoms/_grid-1-up.twig' %}
    {% block column_1 %}

      <h1>I r icons</h1>

      <i class="test-icon"></i>

    {% endblock column_1%}
  {% endembed %}
</div>

