{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'region',
    'region--' ~ region|clean_class,
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div id="offcanvas-sidebar" class="sidr z-10 h-full mb-0 bg-transparent shadow-none fixed" style="display: none;">
      <div class="menus-wrapper w-full overflow-y-scroll overflow-x-hidden">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="offcanvas-sidebar-overlay bg-white opacity-9 z-9"></div>
{% endif %}

