{% extends '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
    <h1>Navs</h1>
    {% include '@molecules/card/_card-helper.twig' with {
      card_text: navs_helper,
      card_background: 'secondary',
      text_color: 'light',
      button: {
        button_link: 'http://getbootstrap.com/docs/4.0/components/navs/',
      },
    } %}

    <div class="mb-3">
    <h1>Horizontal Alignment</h1>
      <div class="nav--border">
        {% include '@molecules/nav/_nav.twig' %}
      </div>
      <div class="nav--border">
        {% include '@molecules/nav/_nav.twig' with {
          nav_alignment: 'center',
        } %}
      </div>
      <div class="nav--border">
        {% include '@molecules/nav/_nav.twig' with {
        nav_alignment: 'end',
        } %}
      </div>

    </div>
    <div class=" mb-3">
      <h1>Vertical Alignment</h1>
      {% include '@molecules/nav/_nav.twig' with {
        nav_vertical: true,
      } %}
    </div>

    <div class=" mb-3">
      <h1>Tabs</h1>
      {% include '@molecules/nav/_nav.twig' with {
        nav_tabs: true,
      } %}
    </div>

    <div class=" mb-3">
      <h1>Pills</h1>
      {% include '@molecules/nav/_nav.twig' with {
        nav_pill: true,
      } %}
    </div>

    <div class=" mb-3">
      <h1>Fill</h1>
      {% include '@molecules/nav/_nav.twig' with {
        nav_pill: true,
        nav_fill: true,
      } %}
    </div>

    <div class=" mb-3">
      <h1>Justify</h1>
      {% include '@molecules/nav/_nav.twig' with {
        nav_pill: true,
        nav_justify: true,
      } %}
    </div>

    <div class=" mb-3">
      <h1>Responsive nav</h1>
      {% set responsive_items = [] %}
      {% for item in nav_items_responsive %}
        {% set temp_item = item | merge({nav_item_element: 'a'}) %}
        {% set responsive_items = responsive_items|merge([temp_item]) %}
      {% endfor %}
      {% include '@molecules/nav/_nav.twig' with {
        nav_pill: true,
        nav_other_classes: 'flex-column flex-sm-row',
        nav_items: responsive_items,
      } %}
    </div>

    <div class=" mb-3">
      <h1>Dropdown</h1>
      {% include '@molecules/nav/_nav.twig' with {
        nav_element: 'ul',
        nav_tabs: 'true',
        nav_items: nav_items_dropdown,
      } %}
    </div>

    <div class=" mb-3">
      <h1>Javascript Tabs</h1>
      {% set javascript_items = [] %}
      {% for item in nav_items_javascript %}
        {% set temp_item = item | merge({nav_item_js: 'true'}) %}
        {% set javascript_items = javascript_items|merge([temp_item]) %}
      {% endfor %}
      {% include '@molecules/nav/_nav.twig' with {
        nav_element: 'ul',
        nav_tabs: 'true',
        nav_id: 'myTab',
        nav_role: 'tablist',
        nav_items: javascript_items,
      } %}
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">This is home content!</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">This is profile content!</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">This is contact content!</div>
      </div>
    </div>
  {% endblock column_1 %}
