{% extends '@atoms/grid/_grid-1-up.twig' %}

{% set container = true %}

{% block column_1 %}

  <h1>Image styles</h1>
  {% for imageStyleName, imageStyleSetting in imageStyles %}
    <div class="mb-3">
      {% include "@atoms/_image.twig" with {
        imageStyleName: imageStyleName
      } %}
    </div>
  {% endfor %}

{% endblock %}
