{#
/**
 * @file
 * svg--icon
 *
 * Available variables for svgicon:
 *    - svgicon.svgname [string]: String filename of the SVG to use from svg/
 *    - svgicon.svgfill [string]: Pass in a theme-color to colorize the SVG.
 *    Otherwise it will default to black.
 *    - svgicon.svgstroke [string]: Pass in a theme-color to colorize the SVG
 *      stroke. Otherwise stroke will be none.

 */
#}

{% set svg_classes = svg_classes|default([])|merge([
  'svg',
  'svg--icon',
  svgicon.svgfill ? 'color-fill--' ~ svgicon.svgfill : '',
  svgicon.svgstroke ? 'color-stroke--' ~ svgicon.svgstroke : '',
]) | sort | join(' ') | trim %}

<div class="{{ svg_classes }}">
  <svg viewBox="0 0 500 500">
    <use xlink:href="{{ paths.images }}/spritemap.svg?cacheBuster={{ random() }}#sprite-{{ svgicon.svgname }}"></use>
  </svg>
</div>
