// Custom styles for svg

@use 'sass:map';

@use './scss/icons-generated' as svgicons;
@use '~tokens/sass/non-printing/mixins/svg-elements';

// Get the sprite names from generated scss in generated file
$svgicons: map.keys(svgicons.$sprites);

.svg--colorable {
  // Set svg elements to current color.
  @include svg-elements.svg-elements() {
    color: currentColor;
    fill: currentColor;
  }
}

.svg--icon {
  display: inline-block;
  width: rem-calc(40px);

  svg {
    display: block;
    width: rem-calc(300px);
    max-width: 100%;
    max-height: rem-calc(300px);
    height: auto;
  }

  // Set svgicon elements to current color.
  @include svg-elements.svg-elements() {
    color: currentColor;
    fill: currentColor;
  }
}

// Loop over every SVG and create a CSS class for it
@each $icon in $svgicons {
  .icon--#{$icon} {
    @include svgicons.sprite(#{$icon});
    display: inline-block;
    height: rem-calc(40px);
    width: rem-calc(40px);
  }
}

// Loop over every theme-color and create a CSS class to colorize it
@each $color in map_keys($theme-colors) {
  .color-fill--#{$color} {
    color: bootstrap.theme-color(#{$color});
  }

  .color-stroke--#{$color} {
    color: theme-color(#{$color});
    svg {
      stroke: currentColor;
      fill: none;
    }
  }
}
