{#
/**
 * @file
 * svg--sprite
 *
 * Available variables for svg--sprite:
 *    - svg.name [string]: String filename of the SVG to use from svg/
 *    - svg.fill [string]: Pass in a theme-color to colorize the SVG.
 *    Otherwise it will default to black.
 *    - svg.stroke [string]: Pass in a theme-color to colorize the SVG
 *      stroke. Otherwise stroke will be none.
 */
#}

{% set svg_classes = svg_classes|default([])|merge([
  svg.fill ? 'color-fill--' ~ svg.fill : '',
  svg.stroke ? 'color-stroke--' ~ svg.stroke : '',
]) | sort | join(' ') | trim %}

<div class="{{ svg_classes }}">
  <svg viewBox="0 0 500 500">
    <use xlink:href="{{ paths.images }}/spritemap.svg?cacheBuster={{ random() }}#sprite-{{ svg.name }}"></use>
  </svg>
</div>
