{#
/**
 * @file
 * svg--embed
 *
 * Available variables for svg--embed:
 *  - svg.path [string]: Generic element to define shape of svg.
 *    Example: '@atoms/svg/svg/person.svg'
 *  - svg.fillCurrent [bool]: Use the tailwind's fill-current utility class.
 *  - svg.strokeCurrent [bool]: Use the tailwind's stroke-current utility class.
 *  - svg_classes [array<string>]: Array of string classes to add
 *    Example: 'svg-custom-class icon-big'
 */
#}

{# Starter defaults #}
{%  set svg = svg|default({
  path: '@atoms/svg/icons/person.svg',
  fillCurrent: true,
}) %}

{% set svg_classes = svg_classes|default([])|merge([
  svg.fillCurrent ? 'fill-current' : '',
  svg.strokeCurrent ? 'stroke-current' : '',
]) | sort | join(' ') | trim %}

<span class="{{ svg_classes }}">{{ source(svg.path) }}</span>
