<h3>How to use icons</h3>
<p><strong>In HTML</strong></p>
<p>Add the class: `icon--name-of-icon` like this: `icon--arrow-down`</p>
<p><strong>In Sass</strong></p>
<p>Use the mixin `icon` with the argument of the icon name like this: `@include icon(arrow-down);`</p>
<p><strong>Adding Icons</strong></p>
<p>Add SVG files to `source/images/icons/src/` and run `grunt`</p>
<ul class="icons pl-icons-list">

<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
  <li class="icons__item" data-name="<%= glyph %>">
    <p><%= glyph %></p>
    <i class="<%= classPrefix %><%= glyph %>"></i>
    <i class="<%= classPrefix %><%= glyph %>"></i>
    <i class="<%= classPrefix %><%= glyph %>"></i>
  </li>
<% } %>

</ul>

<% if (addLigatures) { %>
<div class="ligature-icons" style="display:none">
<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx]; %>
  <%= glyph %>
<% } %>
</div>
<% } %>

<style>
  .icons__item {
    margin-bottom: 1.5em;
  }
  .icons__item p {
    margin-bottom: 0;
  }
  .icons__item > i {
    font-size: 16px;
  }
  .icons__item > i + i {
    font-size: 32px;
  }
  .icons__item > i + i + i {
    font-size: 64px;
  }
</style>