$icon-font-base-name: "{{ fontName }}";
$icon-font-path: "{{ fontPath }}";
$icon-font-class-prefix: "{{ classNamePrefix }}";

$font-icons: ({% _.each(glyphs, function(glyph) { %}
  {{ glyph.name }}: "\{{ glyph.content }}",{% }); %}
);
