<div class="icons-container">

  <h3>Icons available</h3>

  <div class="icons-demo" id="icons">
    {% _.each(glyphs, function(glyph) { %}
    <div class="icons__item" data-name="{{ glyph.name }}">
      <i class="{{ classNamePrefix }}--{{ glyph.name }}"></i> {{ classNamePrefix }}--{{ glyph.name }} 
    </div>
    {% }); %}
  </div>

  <h3>How to use icons</h3>

  <p><strong>In HTML</strong></p>

  <p>Add the class: `icon--name-of-icon` like this: `icon--arrow-down`. So
  <pre>&#x3C;i class=&#x22;icon--search&#x22;&#x3E;Search&#x3C;/i&#x3E;</pre>
  becomes <i class="icon--search">Search</i></p>

  <p><strong>In Sass, as a psuedo selector</strong></p>

  <p>Use the mixin `icon` with the argument of the icon name like this: `@include icon(facebook);`. So</p>
  <p>HTML</p>
  <pre>&#x3C;div class=&#x22;demo-random-icon&#x22;&#x3E;Random icon here&#x3C;/div&#x3E;</pre>
  <p>CSS</p>
  <pre>.demo-random-icon {
    @include icon(facebook);
}</pre>
  <p>becomes</p>
  <div class="demo-random-icon">Random icon here.</div>

  <p><strong>In Sass, as a text-replacement</strong></p>

  <p>This may be more familiar for those coming from image sprites. Use the mixin `icon` with the argument of the icon name plus "$text-replace: true" as an argument: `@include icon(twitter, $text-replace: true);`. So</p>
  <p>HTML</p>
  <pre>&#x3C;div class=&#x22;demo-text-replace-icon&#x22;&#x3E;This text will be gone&#x3C;/div&#x3E;</pre>
  <p>CSS</p>
  <pre>.demo-text-replace-icon {
  @include icon('twitter', $text-replace: true);
  height: 16px;
  width: 16px;
}</pre>
  becomes
  <div class="demo-text-replace-icon">This text will be gone</div>
  <p>You're responsible for height, width, positioning, etc.</p>

  <p><strong>Adding and generating icons</strong></p>

  <p>SVG files added to `source/images/icons/src/` while running `grunt` are automatically added to the font face. To manually compile icon fonts, run `grunt icons-build`.</p>

  <p><strong>Files of note</strong></p>
  <ol>
    <li>images/icons/icon-font-template.ai: 512px x 512px Adobe Illustrator template that each font should fit within. Export as SVG from this template at full 512px size.</li>
    <li>scss/00-config/_icons.scss: Defines variables used for icons</li>
    <li>scss/10-base/_icons-base.scss: Defines mixins used</li>
    <li>scss/30-global/_icons-application: Generates the starting CSS styles for default .icon--something elements</li>
  </ol>

  <footer class="icons-demo__footer">Generated by
    <a href="https://github.com/nfroidure/gulp-iconfont">gulp-iconfont</a>.
  </footer>

</div>
