{#
  NOTE: If this row is the very outer wrapper of a page, it *must* be wrapped
  in a .container div. We leave this up to the implementor manually for flexibility.
#}
{% set container_class = container ? 'container' : (container_fluid ? 'container-fluid') %}
{% if container or container_fluid %}
  <div class="{{ container_class }}">
{% endif %}

{% block column_1 %}
{% endblock %}
{% block column_2 %}
{% endblock %}
{% block column_3 %}
{% endblock %}

{% if container or container_fluid %}</div>{% endif %}
