{#
  NOTE: If this row is the very outer wrapper of a page, it *must* be wrapped
  in a .container div. We leave this up to the implementor manually for flexibility.
#}

{% set container_class = container ? 'container' : (container_fluid ? 'container-fluid') %}

{% if container or container_fluid %}<div class="{{ container_class }}">{% endif %}
  <div class="row">
    <div class="col-sm-3">
      {% block column_1 %}
        <span>Column 1/4</span>
      {% endblock column_1 %}
    </div>

    <div class="col-sm-3">
      {% block column_2 %}
        <span>Column 2/4</span>
      {% endblock column_2 %}
    </div>

    <div class="col-sm-3">
      {% block column_3 %}
        <span>Column 3/4</span>
      {% endblock column_3 %}
    </div>

    <div class="col-sm-3">
      {% block column_4 %}
        <span>Column 4/4</span>
      {% endblock column_4 %}
    </div>
  </div>
{% if container or container_fluid %}</div>{% endif %}
