{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}
    <h1 class="mb-3">Card Grid Demonstration</h1>
    <div class="mb-3 p-3 bg-light border border-secondary rounded">
      <p class="lead">This is for demonstration purposes only to show cards within a Grid. See code for usage examples within individual apps.</p>
    </div>
    <hr>

    {% include '@organisms/card-grid/_card-grid.twig' %}

  {% endblock %}
{% endembed %}
