/* fix left alignment to match typical paragraphs and headings */

.webform-submission-form {
  margin-left: 0.5rem;
}

.webform-submission-form p,
.webform-submission-form h1,
.webform-submission-form h2,
.webform-submission-form h3,
.webform-submission-form h4 {
  margin-left: 0;
}

/* more top margin on form items */
.webform-submission-form .form-item,
.webform-submission-form .form-actions {
  margin-top: .75rem;
}

/* no margin at top of fieldset */

.webform-submission-form .fieldset-wrapper > .form-item:first-child {
  margin-top: 0;
}

.webform-submission-form .form-item label:not(.option),
.webform-submission-form .form-composite > legend {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
}

.webform-submission-form .description {
  @apply text-utc-new-blue-500;
  font-size: .85rem;
  margin-bottom: 10px;
  margin-top: 5px;
}

.webform-submission-form input[type='text'],
.webform-submission-form input[type='time'],
.webform-submission-form input[type='url'],
.webform-submission-form input[type='password'],
.webform-submission-form input[type='color'],
.webform-submission-form input[type='week'],
.webform-submission-form input[type='date'],
.webform-submission-form input[type='tel'],
.webform-submission-form input[type='email'],
.webform-submission-form input[type='number'],
.webform-submission-form input[type='datetime-local'],
.webform-submission-form input[type='range'],
.webform-submission-form input[type='month'],
.webform-submission-form input[type='search'],
.webform-submission-form textarea,
.webform-submission-form select {
  box-shadow: none;
  border: 2px solid;
  @apply border-utc-new-blue-200;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  @apply text-utc-new-blue-500;
}

.webform-submission-form input[type='text']::placeholder,
.webform-submission-form input[type='time']::placeholder,
.webform-submission-form input[type='url']::placeholder,
.webform-submission-form input[type='password']::placeholder,
.webform-submission-form input[type='color']::placeholder,
.webform-submission-form input[type='week']::placeholder,
.webform-submission-form input[type='date']::placeholder,
.webform-submission-form input[type='tel']::placeholder,
.webform-submission-form input[type='email']::placeholder,
.webform-submission-form input[type='number']::placeholder,
.webform-submission-form input[type='datetime-local']::placeholder,
.webform-submission-form input[type='range']::placeholder,
.webform-submission-form input[type='month']::placeholder,
.webform-submission-form input[type='search']::placeholder,
.webform-submission-form select::placeholder,
.webform-submission-form textarea::placeholder {
  @apply text-utc-new-blue-400;
}

.webform-submission-form input[type='text']:focus,
.webform-submission-form input[type='time']:focus,
.webform-submission-form input[type='url']:focus,
.webform-submission-form input[type='password']:focus,
.webform-submission-form input[type='color']:focus,
.webform-submission-form input[type='week']:focus,
.webform-submission-form input[type='date']:focus,
.webform-submission-form input[type='tel']:focus,
.webform-submission-form input[type='email']:focus,
.webform-submission-form input[type='number']:focus,
.webform-submission-form input[type='datetime-local']:focus,
.webform-submission-form input[type='range']:focus,
.webform-submission-form input[type='month']:focus,
.webform-submission-form input[type='search']:focus,
.webform-submission-form select:focus,
.webform-submission-form input[type='text']:active,
.webform-submission-form input[type='time']:active,
.webform-submission-form input[type='url']:active,
.webform-submission-form input[type='password']:active,
.webform-submission-form input[type='color']:active,
.webform-submission-form input[type='week']:active,
.webform-submission-form input[type='date']:active,
.webform-submission-form input[type='tel']:active,
.webform-submission-form input[type='email']:active,
.webform-submission-form input[type='number']:active,
.webform-submission-form input[type='datetime-local']:active,
.webform-submission-form input[type='range']:active,
.webform-submission-form input[type='month']:active,
.webform-submission-form input[type='search']:active {
  border: 2px solid;
  @apply border-utc-new-blue-500;
  transition: 0.25s;
  --tw-ring-offset-width: 2px;
  --tw-ring-color: rgba(196, 203, 212, 0.4);
  --tw-ring-offset-color: transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    0 0 rgba(0, 0, 0, 0);
}

.webform-submission-form textarea:active,
.webform-submission-form textarea:focus {
  border: 2px solid;
  @apply border-utc-new-blue-400;
  transition: 0.25s;
  --tw-ring-offset-width: 2px;
  --tw-ring-color: rgba(196, 203, 212, 0.4);
  --tw-ring-offset-color: transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    0 0 rgba(0, 0, 0, 0);
}
/* select alignment */
/* radio and checkbox */

.webform-submission-form [type='checkbox'],
.webform-submission-form [type='radio'] {
  margin-right: 2px;
  margin-left: 2px;
}

.webform-submission-form [type='checkbox']:checked:focus,
.webform-submission-form [type='radio']:checked:focus,
.webform-submission-form [type='checkbox']:checked:hover,
.webform-submission-form [type='radio']:checked:hover,
.webform-submission-form [type='checkbox']:checked,
.webform-submission-form [type='radio']:checked {
  @apply bg-utc-new-blue-400;
}

.webform-submission-form [type='checkbox']:focus,
.webform-submission-form [type='radio']:focus {
  --tw-ring-color: rgba(196, 203, 212);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: transparent;
}

.webform-submission-form [type='checkbox']:checked:focus,
.webform-submission-form [type='radio']:checked:focus {
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: rgba(196, 203, 212);
}

/* toggle */

.webform-submission-form .toggle-light .toggle-slide {
  box-shadow: 0 0 0 1px rgba(196, 203, 212);
  
}

.webform-submission-form .toggle-light .toggle-off {
  background: white;
}

.webform-submission-form .toggle-light .toggle-on {
  @apply bg-utc-new-blue-200;
  box-shadow: none;
}

.webform-submission-form .toggle-light .toggle-blob,
.webform-submission-form .toggle-light .toggle-blob:hover {
  box-shadow: none;
  background: none;
  @apply bg-utc-new-blue-400;
}

/* rating scale */
.webform-submission-form .webform-scale-options input + label {
  border: 2px solid;
  @apply border-utc-new-blue-200;
  line-height: 33px;
}

.webform-submission-form .webform-scale-options input:hover + label,
.webform-submission-form .webform-scale-options input:focus + label,
.webform-submission-form .webform-scale-options input:checked + label {
  @apply border-utc-new-blue-400;
  @apply bg-utc-new-blue-100;
  font-weight: 600;
}
