/* fix left alignment to match typical paragraphs and headings */

.block--webform {
  margin-left: 0.5rem;
}

.block--webform p,
.block--webform h1,
.block--webform h2,
.block--webform h3,
.block--webform h4 {
  margin-left: 0;
}

.block--webform .form-item,
.block--webform .form-actions {
  margin-top: 1.5rem;
}

.block--webform .form-type-radio {
  margin-top: .25rem;
}
.block--webform .form-item label:not(.option),
.block--webform .form-composite > legend {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
}

.block--webform .description {
  color: #2d3748;
  font-size: 1rem;
}

.block--webform input[type='text'],
.block--webform input[type='time'],
.block--webform input[type='url'],
.block--webform input[type='password'],
.block--webform input[type='color'],
.block--webform input[type='week'],
.block--webform input[type='date'],
.block--webform input[type='tel'],
.block--webform input[type='email'],
.block--webform input[type='number'],
.block--webform input[type='datetime-local'],
.block--webform input[type='range'],
.block--webform input[type='month'],
.block--webform input[type='search'],
.block--webform textarea {
  box-shadow: none;
  border-radius: 0;
  border: 2px solid #e2e8f0;
  font-size: .9rem;
  color:#2d3748;
  padding: .5rem; 
}

.block--webform input[type='text']:focus,
.block--webform input[type='time']:focus,
.block--webform input[type='url']:focus,
.block--webform input[type='password']:focus,
.block--webform input[type='color']:focus,
.block--webform input[type='week']:focus,
.block--webform input[type='date']:focus,
.block--webform input[type='tel']:focus,
.block--webform input[type='email']:focus,
.block--webform input[type='number']:focus,
.block--webform input[type='datetime-local']:focus,
.block--webform input[type='range']:focus,
.block--webform input[type='month']:focus,
.block--webform input[type='search']:focus,
.block--webform input[type='text']:active,
.block--webform input[type='time']:active,
.block--webform input[type='url']:active,
.block--webform input[type='password']:active,
.block--webform input[type='color']:active,
.block--webform input[type='week']:active,
.block--webform input[type='date']:active,
.block--webform input[type='tel']:active,
.block--webform input[type='email']:active,
.block--webform input[type='number']:active,
.block--webform input[type='datetime-local']:active,
.block--webform input[type='range']:active,
.block--webform input[type='month']:active,
.block--webform input[type='search']:active
 {
    border: 2px solid #2d3748;
    transition: 0.5s;
}

.block--webform textarea:active,
.block--webform textarea:focus {
    border: 3px solid #2d3748;
    transition: 0.5s ease;
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

[type='checkbox'], [type='radio'] {
  margin-right: 2px;
}

[type='checkbox']:checked:focus, [type='radio']:checked:focus,
[type='checkbox']:checked:hover, [type='radio']:checked:hover,
[type='checkbox']:checked, [type='radio']:checked {
  background-color: #2d3748;
}

[type='checkbox']:checked:focus, [type='radio']:checked:focus {
  --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2d3748;
}