// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
// particle.js: sass-loader.data|includePaths

// To change default bootstrap nav variables,
// copy from ~bootstrap/scss/variables to here

$nav-link-disabled-color: $gray-600;

@import '~bootstrap/scss/nav';

// Add custom code here
.nav {
  &--border {
    border-color: $light;
    border-style: solid;
  }
}
