<div class="container">
  <div class="row">
    <div class="col mt-sm-5">

      <h1>Spacing</h1>
      <p class="lead">To add to these items, adjust <code>$spacing()</code> in <code>_variables.scss</code></p>
      {% for spacing, value in scssSpacing %}
        <div style="margin: 10px;">
          <div style="height: {{ value }}; width: {{ value }}; outline: solid 1px black; display: inline-block; margin-right: 5px;"></div>
          <span>{{ value }} : <code>$spacing({{ spacing }})</code></span>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
