@use '~tokens/sass/utils';
@use '~atoms/svg/scss/utils' as svg;

.svgicon-demo--particle-mixin-chevron-right {
  @include svg.sprite('chevron-right');
  height: utils.f-rem-calc(40px);
  width: utils.f-rem-calc(40px);
}

.svgicon-demo--particle-mixin-person {
  @include svg.sprite(
    'person',
    (
      color: utils.bs-theme-color('primary'),
    )
  );
  width: utils.f-rem-calc(40px);
  height: utils.f-rem-calc(40px);
}
