.svgicon-demo--particle-mixin-chevron-right {
  @include sprite('chevron-right');
  height: rem-calc(40px);
  width: rem-calc(40px);
}

.svgicon-demo--particle-mixin-person {
  @include sprite(
    'person',
    (
      color: theme-color('primary'),
    )
  );
  width: rem-calc(40px);
  height: rem-calc(40px);
}
