{#
/**
 * @file
 * Page - Layout builder enabled.
#}
<div class="layout-builder-powered-page">
   {% include '@themag/base-layout/header/header.html.twig' %}
  {# {% include '@particle/layout/header/custom-header.html.twig' %}  #}
    <section id="mobile-menu" aria-label="mobile menu accordion" style="height:0">{{ page.offcanvas_sidebar }}</section>
    <section aria-label="organization root menu">{{ page.top_workbench_menu }}</section>
    <section aria-label="content administrative area">{{ page.content_administration }}</section>
    <main role="main" id="main-content" tabindex="-1">
      {{ page.content }}
    </main>
  {% include '@particle/layout/footer/footer.html.twig' %}
  <a href="#top" id="scroll-to-top-btn" title="Scroll to the top" role="button" aria-label="scroll to the top" class="scroll-to-top-button"><i class="fas fa-angle-up"></i><span class="sr-only">Scroll to the top</span></a>
</div>
