// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

// Note!
// ./scss/_icons-generated is automatically made available because
// 00-protons/variables is provided to every scss file and _icons-generated
// is @import'd within 00-protons/variables

// Default styles to maintain inline-block functionality
// since the SVG is wrapped in a div
.svgicon-default {
  display: inline-block;
  width: 40px;

  svg {
    display: block;
    width: 300px;
    max-width: 100%;
    max-height: 300px;
    height: auto;
  }
}

// Get the sprite name from generated scss in generated file
$svgicons: map-keys($sprites);
// Loop over every SVG and create a CSS class for it
@each $icon in $svgicons {
  .icon--#{$icon} {
    @include sprite(#{$icon});
    display: inline-block;
    height: 40px;
    width: 40px;
  }
}

// Loop over every theme-color and create a CSS class to colorize it
@each $color in map_keys($theme-colors) {
  .color-fill--#{$color} {
    color: theme-color(#{$color});
  }
}

svg,
g,
circle,
ellipse,
line,
path,
polygon,
polyline,
rect,
text {
  color: currentColor;
  fill: currentColor;
}
