<h3>How to use icons</h3>
<p><strong>In HTML</strong></p>
<p>Add the class: `icon--name-of-icon` like this: `icon--arrow-down`</p>
<p><strong>In Sass</strong></p>
<p>Use the mixin `icon` with the argument of the icon name like this: `@include icon(arrow-down);`</p>
<p><strong>Adding Icons</strong></p>
<p>Add SVG files to `source/images/icons/src/` and run `grunt`</p>
<ul class="icons pl-icons-list">


  <li class="icons__item" data-name="arrow--down">
    <p>arrow--down</p>
    <i class="icon--arrow--down"></i>
    <i class="icon--arrow--down"></i>
    <i class="icon--arrow--down"></i>
  </li>

  <li class="icons__item" data-name="arrow--left">
    <p>arrow--left</p>
    <i class="icon--arrow--left"></i>
    <i class="icon--arrow--left"></i>
    <i class="icon--arrow--left"></i>
  </li>

  <li class="icons__item" data-name="arrow--right">
    <p>arrow--right</p>
    <i class="icon--arrow--right"></i>
    <i class="icon--arrow--right"></i>
    <i class="icon--arrow--right"></i>
  </li>

  <li class="icons__item" data-name="arrow--up">
    <p>arrow--up</p>
    <i class="icon--arrow--up"></i>
    <i class="icon--arrow--up"></i>
    <i class="icon--arrow--up"></i>
  </li>

  <li class="icons__item" data-name="bars">
    <p>bars</p>
    <i class="icon--bars"></i>
    <i class="icon--bars"></i>
    <i class="icon--bars"></i>
  </li>

  <li class="icons__item" data-name="caret-down">
    <p>caret-down</p>
    <i class="icon--caret-down"></i>
    <i class="icon--caret-down"></i>
    <i class="icon--caret-down"></i>
  </li>

  <li class="icons__item" data-name="caret-right">
    <p>caret-right</p>
    <i class="icon--caret-right"></i>
    <i class="icon--caret-right"></i>
    <i class="icon--caret-right"></i>
  </li>

  <li class="icons__item" data-name="caret-up">
    <p>caret-up</p>
    <i class="icon--caret-up"></i>
    <i class="icon--caret-up"></i>
    <i class="icon--caret-up"></i>
  </li>

  <li class="icons__item" data-name="check">
    <p>check</p>
    <i class="icon--check"></i>
    <i class="icon--check"></i>
    <i class="icon--check"></i>
  </li>

  <li class="icons__item" data-name="envelope">
    <p>envelope</p>
    <i class="icon--envelope"></i>
    <i class="icon--envelope"></i>
    <i class="icon--envelope"></i>
  </li>

  <li class="icons__item" data-name="facebook">
    <p>facebook</p>
    <i class="icon--facebook"></i>
    <i class="icon--facebook"></i>
    <i class="icon--facebook"></i>
  </li>

  <li class="icons__item" data-name="instagram">
    <p>instagram</p>
    <i class="icon--instagram"></i>
    <i class="icon--instagram"></i>
    <i class="icon--instagram"></i>
  </li>

  <li class="icons__item" data-name="pinterest">
    <p>pinterest</p>
    <i class="icon--pinterest"></i>
    <i class="icon--pinterest"></i>
    <i class="icon--pinterest"></i>
  </li>

  <li class="icons__item" data-name="play-circle">
    <p>play-circle</p>
    <i class="icon--play-circle"></i>
    <i class="icon--play-circle"></i>
    <i class="icon--play-circle"></i>
  </li>

  <li class="icons__item" data-name="play">
    <p>play</p>
    <i class="icon--play"></i>
    <i class="icon--play"></i>
    <i class="icon--play"></i>
  </li>

  <li class="icons__item" data-name="remove">
    <p>remove</p>
    <i class="icon--remove"></i>
    <i class="icon--remove"></i>
    <i class="icon--remove"></i>
  </li>

  <li class="icons__item" data-name="search">
    <p>search</p>
    <i class="icon--search"></i>
    <i class="icon--search"></i>
    <i class="icon--search"></i>
  </li>

  <li class="icons__item" data-name="tumblr">
    <p>tumblr</p>
    <i class="icon--tumblr"></i>
    <i class="icon--tumblr"></i>
    <i class="icon--tumblr"></i>
  </li>

  <li class="icons__item" data-name="twitter">
    <p>twitter</p>
    <i class="icon--twitter"></i>
    <i class="icon--twitter"></i>
    <i class="icon--twitter"></i>
  </li>

  <li class="icons__item" data-name="youtube">
    <p>youtube</p>
    <i class="icon--youtube"></i>
    <i class="icon--youtube"></i>
    <i class="icon--youtube"></i>
  </li>


</ul>



<style>
  .icons__item {
    margin-bottom: 1.5em;
  }
  .icons__item p {
    margin-bottom: 0;
  }
  .icons__item > i {
    font-size: 16px;
  }
  .icons__item > i + i {
    font-size: 32px;
  }
  .icons__item > i + i + i {
    font-size: 64px;
  }
</style>