@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Example: Google Remote Fonts
Serif - Google Fonts - Oswald
Sans-Serif - Google Fonts - Open Sans
Monospace - Google Fonts - Source Code Pro
*/

@import url(https://fonts.googleapis.com/css?family=OpenSans|Oswald|SourceCodePro&display=swap);

body {
  @apply font-utcbody;
  background-color: text-white;
  color: text-gray-100;

  .field--name-field-summary,
  .field--name-body,
  .field--name-field-additional-informations {
    color: inherit;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-utcheadings;
  font-weight: 700;
  @apply text-blue-600;
  
}
h1 {
  /* font-weight: 700; */
  @apply text-blue-600;
  /* color: #112e51; */
  /* @apply text-3xl; */
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
a {
  @apply text-blue-500;
}
code {
  @apply text-pink-500;
}
tr {
  @apply text-left;
}

/* // Makes google custom page index visible
// This a rare exception as the class is loading through a CDN */

@import "./legacy/css/global.css";
@import "./legacy/css/utc-sidebar-menu.css";
@import "./legacy/css/footer.css";
@import "./legacy/css/utc_department_info.css";