@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Use this directive to control where Tailwind injects the responsive
 * variations of each utility.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind screens;
/*
Example: Google Remote Fonts
Serif - Google Fonts - Oswald
Sans-Serif - Google Fonts - Open Sans
Monospace - Google Fonts - Source Code Pro
*/

@layer utilities {
  @variants responsive {
    .masonry-2 {
      column-count: 2;
      column-gap: 1.5em;
    }
    .masonry-3 {
      column-count: 3;
      column-gap: 2em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=OpenSans|Oswald|SourceCodePro&display=swap);

/* Temporary workaround until we refactor spacing into tailwind */
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0.5rem;
}
/* temporary override for twailwind list styles */
ul, dl {
  @apply text-gray-700;
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: disc;
  padding-left: 2.4rem;
}
ol{
  @apply text-gray-700;
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: decimal;
  padding-left: 2.4rem;

}
/* 
#block-utcinfofor-particle > ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
#block-utc-shortcuts-particle > ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
} */

body {
  @apply font-utcbody text-gray-700;
  /* background-color: text-white; */
  /* color: text-gray-100; */

  .field--name-field-summary,
  .field--name-body,
  .field--name-field-additional-informations {
    color: inherit;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-utcheadings;
  font-weight: 700;
  @apply text-utc-new-blue-600;
  
}
h1 {
  /* font-weight: 700; */
  @apply text-utc-new-blue-600; 
  @apply font-bold;
  @apply text-6xl;
  /* color: #112e51; */
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
a {
  @apply text-utc-new-blue-500;
}
p{
  @apply text-gray-800;
}
ul{
  @apply text-gray-800;
}
code {
  @apply text-pink-500;
}
tr {
  @apply text-left;
}

/* // Makes google custom page index visible
// This a rare exception as the class is loading through a CDN */
