
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

  <!-- inject:js -->
  <script src="../../../../dest/theme-main-entry.js?cacheBuster={{ cacheBuster }}"></script>
  <!-- endinject -->

	</body>
</html>
