
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

  <!-- inject:js -->
  <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../../../bower_components/lodash/lodash.js"></script>
  <script src="../../../../dest/script.js"></script>
  <!-- endinject -->

  <script src="../../../../source/styleguide/styleguide.js"></script>

  <!-- syntax highlighting goes last -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/darkula.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

	</body>
</html>
