<nav class="primary-nav">
  <ul class="menu clearfix">
    <li class="first leaf"><a href="#" title="View and customize your dashboard.">Menu Item 1</a></li>
    <li class="collapsed"><a href="#" title="Administer content and comments.">Menu Item 2</a></li>
    <li class="collapsed"><a href="#" title="Administer blocks, content types, menus, etc.">Menu Item 3</a></li>
    <li class="expanded active-trail"><a href="#" title="Select and configure your themes." class="active-trail">Menu
      Item 4</a>
      <ul class="menu clearfix">
        <li class="first leaf active-trail"><a href="#" class="active-trail active">Menu Item 4.1</a></li>
        <li class="leaf"><a href="#" class="">Menu Item 4.2</a></li>
        <li class="last leaf"><a href="#" class="">Menu Item 4.3</a></li>
      </ul>
    </li>
    <li class="leaf"><a href="#" title="Manage user accounts, roles, and permissions.">Menu Item 5</a></li>
    <li class="leaf last"><a href="#" title="Extend site functionality.">Menu Item 6</a></li>
  </ul>
</nav>